<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">

	<title>{{ title }}</title>
	<meta name="description" content="">

	<!-- Template Basic Images -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- build:css css/vendor.css -->
	<link rel="stylesheet" href="../ready/libs/normalize-css/normalize.css" />
	<link rel="stylesheet" href="../ready/libs/slick-carousel/slick/slick.css" />
	<link rel="stylesheet" href="../ready/libs/fancybox/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="../ready/libs/datatables/datatables.min.css" />
	<link rel="stylesheet" href="../ready/libs/selectric/selectric.css" />
	<link rel="stylesheet" href="../ready/libs/jquery/dist/jquery-ui.css" />
	<!-- endbuild -->
	<!-- build:css css/libs.css -->
	<!-- endbuild -->
	<!-- build:css css/main.css -->
	<link rel="stylesheet" href="css/main.css">
	<!-- endbuild -->
	<!-- build:css css/print.css -->
	<link rel="stylesheet" href="css/print.css">
	<!-- endbuild -->
	<!-- Custom Browsers Color Start -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	<!-- Яндекс.Браузер -->
	<meta name="viewport" context="ya-title=#000,ya-dock=fade">
	<!-- Custom Browsers Color End -->
</head>
<body>
	<div class="menu-overlay"></div>

	<div class="scroll-panel" id="js-scroll-panel">
		<div class="container">
	
			<div class="scroll-panel__row">
	
				<div class="scroll-panel__left">
	
					<div class="scroll-panel__menu">
						<div class="scroll-panel__menu-burger">
							<i class="burger">
								<span></span>
							</i>
	
							<div class="scroll-panel__menu-wrap">

								<div class="scroll-panel__menu-row">
									<div class="scroll-panel__menu-col">
										<ul class="scroll-panel__menu-list">
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Каталог продукции</a>
											</li>
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Каталог брендов</a>
											</li>
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">О компании</a>
											</li>
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Публикации</a>
											</li>
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Контакты</a>
											</li>
										</ul>
									</div>
									<div class="scroll-panel__menu-col">
										<ul class="scroll-panel__menu-list">
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Доставка</a>
											</li>
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Оплата</a>
											</li>
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Карта сайта</a>
											</li>
											<li class="scroll-panel__menu-item">
												<a href="#" class="scroll-panel__menu-link">Прайс</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="scroll-panel__menu__bottom">
									<a href="#request_purchase" class="btn popup-link">Запрос на покупку</a>
									<a href="#those_specialist" class="btn popup-link">Связаться с тех. специалистом</a>
								</div>
							</div>
						</div>
	
					</div>
					<div class="scroll-panel__search">
						<input type="text" placeholder="Поиск по артикулу или названию" class="scroll-panel__search-input">
						<input type="submit" class="scroll-panel__search-submit">
	
						<div class="scroll-panel__autocomplete">
							<ul class="scroll-panel__autocomplete-list">
								<li class="scroll-panel__autocomplete-item">
									<span class="scroll-panel__autocomplete-img">
										<img src="img/search-item.png" alt="">
									</span>
									<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
								<li class="scroll-panel__autocomplete-item">
									<span class="scroll-panel__autocomplete-img">
										<img src="img/search-item.png" alt="">
									</span>
									<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
								<li class="scroll-panel__autocomplete-item">
									<span class="scroll-panel__autocomplete-img">
										<img src="img/search-item2.png" alt="">
									</span>
									<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
								<li class="scroll-panel__autocomplete-item">
									<span class="scroll-panel__autocomplete-img">
										<img src="img/search-item3.png" alt="">
									</span>
									<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="scroll-panel__links">
						<a href="#login_registration" class="scroll-panel__user popup-link">
							<i class="icon-human"></i>
							<span>Артем</span>
						</a>
						<a href="#" class="scroll-panel__comparison">
							<i class="icon-comparison"></i>
							<span class="scroll-panel__comparison-hint">10</span>
							<span class="scroll-panel__comparison-label">Сравнение</span>
						</a>
						<a href="#" class="scroll-panel__favorites">
							<i class="icon-favorites"></i>
							<span class="scroll-panel__favorites-hint">10</span>
							<span class="scroll-panel__favorites-label">Избраное</span>
						</a>
						<a href="#" class="scroll-panel__basket">
							<i class="icon-basket"></i>
							<span class="scroll-panel__basket-hint">10</span>
							<span class="scroll-panel__basket-label">Корзина</span>
						</a>
					</div>
	
				</div>
				<div class="scroll-panel__right">
	
					<div class="scroll-panel__btn">
						<a href="#request_purchase" class="popup-link">Запрос на покупку</a>
					</div>
					<div class="scroll-panel__btn">
						<a href="#those_specialist" class="popup-link">Связаться с тех. специалистом</a>
					</div>
	
				</div>
	
			</div>
	
		</div>
	</div>

	<div class="head-top">
		<div class="container">
			<div class="head-top__row">
				<div class="head-top__left">
					<ul class="head-top__nav">
						<li class="head-top__nav-item"><a class="head-top__nav-link" href="#">Доставка по РФ</a></li>
						<li class="head-top__nav-item"><a class="head-top__nav-link" href="#">Оплата</a></li>
						<li class="head-top__nav-item"><a class="head-top__nav-link" href="#">Прайс</a></li>
					</ul>
				</div>
				<div class="head-top__right">
					<div class="head-top__links">
						<div class="head-top__link head-link-lk">
							<a href="#login_registration" class="popup-link">
								<i class="icon-human"></i>
								Личный кабинет</a>
						</div>
						<div class="head-top__link head-link-comparison">
							<a href="#">
								<i class="icon-comparison"></i>
								<span class="head-top__link-hint">10</span>
								Сравнение</a>
						</div>
						<div class="head-top__link head-link-favorites">
							<a href="#">
								<i class="icon-favorites"></i>
								<span class="head-top__link-hint">10</span>
								Избранное</a>
						</div>
						<div class="head-top__link head-link-basket">
							<a href="#">
								<i class="icon-basket"></i>
								<span class="head-top__link-hint">10</span>
								Корзина</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="main-head" id="js-header">
		<nav class="container">

			<div class="main-head__row">
				<div class="head-logo">
					<a href="./" class="logo">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="head-search">
					<div class="search-block">
						<input type="text" class="search-block__input" placeholder="Поиск">
						<input type="submit" class="search-block__submit">

						<div class="search-block__autocomplete">
							<ul class="search-block__autocomplete-list">
								<li class="search-block__autocomplete-item">
									<span class="search-block__autocomplete-img"><img src="img/search-item.png" alt=""></span>
									<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
								<li class="search-block__autocomplete-item">
										<span class="search-block__autocomplete-img">
											<img src="img/search-item.png" alt="">
										</span>
										<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
								<li class="search-block__autocomplete-item">
										<span class="search-block__autocomplete-img">
											<img src="img/search-item2.png" alt="">
										</span>
										<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
								<li class="search-block__autocomplete-item">
										<span class="search-block__autocomplete-img">
											<img src="img/search-item3.png" alt="">
										</span>
										<a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="head-contacts">
					<div class="head-phone">
						<i class="icon-phone"></i>
						<a class="head-phone__item" href="tel:+74955404800">+7 (495) 540-48-00</a>
						<a class="head-phone__item" href="tel:+78003331353">+7 (800) 333-13-53</a>
					</div>
					<div class="head-mode">
						<div class="head-mode__text">
							<span>Время работы</span>
							<div class="head-mode__show">
								<p><span>пн-пт</span> 9:00-19:00</p>
								<p><span>сб.</span> 10:00-17:00</p>
								<p><span>вс.</span> выходной</p>
							</div>
						</div>
					</div>
					<div class="head-email">
						<i class="icon-email"></i>
						<a class="head-email__item" href="mailto:info@sensoren.ru">info@sensoren.ru</a>
					</div>
				</div>
			</div>

			<nav class="head-menu">
				<ul class="main-menu">
					<li class="main-menu__item main-menu__item-catalog"><a href="#" class="main-menu__link"><i class="burger"><span></span></i>Каталог продукции</a>
						<div class="sub-wrap">
							<ul class="sub-menu">
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Аксессуары</a>

									<div class="sub-wrap">
										<ul class="sub-menu">
											<li class="sub-menu__item sub-menu__item-sub"><a href="#" class="sub-menu__link">Аксессуары для магнитострикционных датчиков линейных перемещений <span>(100)</span></a>
												<div class="sub-wrap">
													<ul class="sub-menu">
														<li class="sub-menu__item"><a href="#" class="sub-menu__link">Аксессуары для магнитострикционных датчиков линейных перемещений</a></li>
														<li class="sub-menu__item"><a href="#" class="sub-menu__link">Аксессуары для оптических датчиков</a></li>
														<li class="sub-menu__item"><a href="#" class="sub-menu__link">Разъемы и кабели для датчиков</a></li>
													</ul>
												</div>
											</li>
											<li class="sub-menu__item sub-menu__item-sub"><a href="#" class="sub-menu__link">Аксессуары для оптических датчиков <span>(100)</span></a></li>
											<li class="sub-menu__item sub-menu__item-sub"><a href="#" class="sub-menu__link">Разъемы и кабели для датчиков <span>(100)</span></a></li>
										</ul>
									</div>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Бесконтактные датчики положения объекта</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Блоки питания и усилители</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Датчики давления</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Датчики перемещений и расстояния</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Датчики температуры</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Датчики уровня</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Оптические датчики для специальных задач</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Расходомеры, датчики и реле потока</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Системы диагностики</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Системы идентификации</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Системы технического зрения</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Счётчики импульсов и цифровые индикаторы</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Щелевые датчики</a>
								</li>
								<li class="sub-menu__item sub-menu__item-sub">
									<a href="" class="sub-menu__link">Электромеханические датчики положения объекты (концевые выключатели)</a>
								</li>
							</ul>
							<div class="sub-wrap__bottom">
								<span>воспользуйтесь нашим быстрым поиском</span>
								<a href="#" class="btn-blue">Быстрый поиск</a>
							</div>
						</div>
					</li>
					<li class="main-menu__item"><a href="#" class="main-menu__link">Каталог брендов</a>
						<div class="menu-brands">
							<div class="menu-brands__top">
								<div class="menu-brands__alphabet">
									<ul>
										<li><a href="#">a</a></li>
										<li><a href="#">b</a></li>
										<li><a href="#">c</a></li>
										<li><a href="#">d</a></li>
										<li><a href="#">e</a></li>
										<li><a href="#">f</a></li>
										<li><a href="#">g</a></li>
										<li><a href="#">h</a></li>
										<li><a href="#">i</a></li>
										<li><a href="#">j</a></li>
										<li class="is-active"><a href="#">k</a></li>
										<li><a href="#">l</a></li>
										<li><a href="#">m</a></li>
										<li><a href="#">n</a></li>
										<li><a href="#">o</a></li>
										<li><a href="#">p</a></li>
										<li><a href="#">r</a></li>
										<li><a href="#">s</a></li>
										<li><a href="#">t</a></li>
										<li><a href="#">u</a></li>
										<li><a href="#">v</a></li>
										<li><a href="#">w</a></li>
										<li><a href="#">y</a></li>
									</ul>
									<a href="#" class="menu-brands__alphabet-change">а-я</a>
								</div>
								<a href="#" class="btn-blue menu-brands__all">ВСЕ 200 брендов</a>
							</div>
							<div class="menu-brands__cont">
								<ul class="menu-brands__list">
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">KAPRO</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">KERONA</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Kipor</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Kraftmann</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Kronwerk</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Karcher</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">KETER</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Knipex</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Kraftool</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Kraftmann</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">KEIL</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">KING TONY</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Kolner</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Krause</a></li>
									<li class="menu-brand__item"><a href="#" class="menu-brand__link">Karcher</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="main-menu__item main-menu__item-sub"><a href="#" class="main-menu__link">О компании</a>
						<div class="sub-wrap sub-wrap__min">
							<ul class="sub-menu">
								<li class="sub-menu__item"><a href="#" class="sub-menu__link">О нас</a></li>
								<li class="sub-menu__item"><a href="#" class="sub-menu__link">Сертификаты</a></li>
								<li class="sub-menu__item"><a href="#" class="sub-menu__link">Наши клиенты</a></li>
							</ul>
						</div>
					</li>
					<li class="main-menu__item"><a href="#" class="main-menu__link">Публикации</a></li>
					<li class="main-menu__item"><a href="#" class="main-menu__link">Контакты</a></li>
				</ul>

				<div class="head-menu__link">
					<a href="#request_purchase" class="btn popup-link">Запрос на покупку</a>
					<a href="#those_specialist" class="btn popup-link">Связаться с тех. специалистом</a>
				</div>
			</nav>
			
		</div>
	</header>

