{% set title = "404" %} {% include "template/header.html" %}

<div class="page-404 container">
  
  <img src="img/404.png" alt="">

  <p>Извините. Страница, которую вы запросили, не находится в нашей базе данных.<br>Скорее всего вы попали на битую ссылку или опечатались
  при вводе URL.</p>
  <p>Вы можете <a href="./">вернуться назад</a> и попробовать снова</p>

</div>

{% include "template/footer.html" %}