{% set title = "Каталог товаров" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Каталог 1 уровень</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных
              задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения
              объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Каталог 2 уровень</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Емкостные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Индуктивные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Магнитные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Ультразвуковые датчики</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__current">Индуктивные датчики</span>
  </div>

  <h1 class="page-title">Индуктивные датчики</h1>

  <div class="context-slider">
    <div class="context-slider__img">
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img3.png);"></div>
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img2.png);"></div>
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img1.png);"></div>
    </div>
    <div class="context-slider__text">
      <p>Бесконтактные индуктивные датчики наиболее популярные конечные выключатели и обойтись без них в настоящее время в автоматизированном
      производстве практически невозможно. Если сравнивать индуктивные датчики приближения с механическими выключателями, то преимущества
      очевидны: бесконтактный принцип работы, отсутствие движущихся и трущихся деталей, высокая частота переключения в сочетании
      с высокой точностью срабатывания.</p>
      <a href="#">Подробнее</a>
    </div>
  </div>

  <div class="catalog-wrap">

    <div class="catalog-sidebar catalog-sidebar__min">
      
      <div class="sidebar-widget">
        <div class="sidebar-brands">
          <div class="sidebar-brands__title">
            Товары этого раздела представлены в брендах
          </div>
          <ul class="sidebar-brands__list">
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Autrol</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Balluff</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">DATALOGIC-DATASENSOR</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">EGE-Elektronik</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">HYC</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">IFM Electronic</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Leuze Electronic</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">MTS Sensors Temposonics</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Omron</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Optris</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Pepperl Fuchs</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Raytek</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Siemens</a></li>
          </ul>
        </div>
      </div>

      <div class="sidebar-widget">
        <div class="sidebar-news">
          <div class="sidebar-news__title">
             Новости
          </div>
          <div class="sidebar-news__list">
            <div class="sidebar-news__item">
              <div class="sidebar-news__item-date">01/07/2011</div>
              <div class="sidebar-news__item-title">Датчики давления от BALLUFF!</div>
              <div class="sidebar-news__item-desc">Высококачественные датчики давления от известного производителя</div>
              <a href="#" class="sidebar-news__item-link">подробнее</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="catalog-container catalog-container__big">

      <div class="catalog-cat">
        <div class="catalog-cat-list catalog-cat-list__vertical">
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики в прямоугольных корпусах
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики в цилиндрических корпусах
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики для искробезопасных цепей NAMUR
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики специального исполнения
            </div>
          </div>
        </div>
      </div>

      <div class="catalog-slider-wrap">
        <div class="catalog-slider-wrap__title">
           Хиты продаж
        </div>

        
        <div class="catalog-slider">
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>


{% include "template/footer.html" %}