{% set title = "Каталог брендов" %} {% include "template/header.html" %}

<div class="page-wrap container">
  
  <h1 class="page-title">Каталог брендов</h1>
  <div class="page-desc">
    <p>В нашем каталоге вы найдете полный список наших компаний-поставщиков. В числе наших клиентов очень известные компании
      из всех уголков России от Калининграда до Магадана.</p>
  </div>
  
  <div class="page-filter-brands">
    <div class="filter-brands-category">
      <div class="filter-brands-category__title">
        Поиск бренда по категории товаров:
      </div>
      <div class="filter-brands-category__block">
        <select name="" id="">
          <option value="Аксессуары">Аксессуары</option>
          <option value="Бесконтактные датчики положения объекта">Бесконтактные датчики положения объекта</option>
          <option value="Блоки питания и усилители">Блоки питания и усилители</option>
          <option value="Датчики давления">Датчики давления</option>
          <option value="Датчики перемещений и расстояния">Датчики перемещений и расстояния</option>
          <option value="Датчики температуры">Датчики температуры</option>
          <option value="Датчики уровня">Датчики уровня</option>
          <option value="Оптические датчики для специальных задач">Оптические датчики для специальных задач</option>
          <option value="Расходомеры, датчики и реле потока">Расходомеры, датчики и реле потока</option>
          <option value="Системы диагностики">Системы диагностики</option>
          <option value="Системы идентификации">Системы идентификации</option>
          <option value="Системы технического зрения">Системы технического зрения</option>
          <option value="Счётчики импульсов и цифровые индикаторы">Счётчики импульсов и цифровые индикаторы</option>
          <option value="Щелевые датчики">Щелевые датчики</option>
          <option value="Электромеханические датчики положения объекты">Электромеханические датчики положения объекты</option>
        </select>
      </div>
    </div>
    <div class="filter-brands-alphabet">
      <div class="filter-brands-alphabet__title">
        Поиск бренда по алфавиту:
      </div>
      <ul class="filter-brands-alphabet__list">
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">A</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">B</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">C</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">D</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">E</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">F</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">G</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">H</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">I</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">J</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">K</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">L</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">M</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">N</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">O</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">P</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Q</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">R</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">S</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">T</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">U</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">V</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">W</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">X</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Z</a>
        </li>
      </ul>
      <ul class="filter-brands-alphabet__list">
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">А</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Б</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">В</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Г</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Д</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Е</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ж</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">З</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">И</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">К</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Л</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">М</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Н</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">О</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">П</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Р</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">С</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Т</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">У</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ф</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Х</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ц</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ч</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ш</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Щ</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Э</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ю</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Я</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="page-list-brands">
  <div class="container">
    <div class="page-list-brands__list">
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__7.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Аутрол
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__1.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Баллуф
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__2.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          DATALOGIC-DATASENSOR
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__3.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          EGE-Elektronik
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
        </div>
        <div class="page-list-brands__item-title">
          HYC
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__4.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          IFM Electronic
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__5.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Leuze Electronic
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__6.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          MTS Sensors
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__8.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Omron
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__9.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Optris
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__10.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Pepperl Fuchs
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__11.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Raytek
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__12.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Siemens
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__13.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Telemecanique
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__14.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Watts
        </div>
      </div>
    </div>
  </div>
</div>

{% include "template/footer.html" %}