{% set title = "Блоки питания и усилители Karcher" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Блоки питания и усилители Karcher</span>
  </div>
  
  <h1 class="page-title">Блоки питания и усилители Karcher</h1>
  
  <div class="catalog-brands-row">
    <div class="catalog-brands-row__col">

      <div class="catalog-brands-row__item">
        <div class="catalog-brands-row__top">
          <div class="catalog-brands-row__top-label">10</div>
           Датчики линейных перемещений
        </div>
        <div class="catalog-brands-row__list">
          <ul>
            <li><a href="#">Магнитные линейные энкодеры <span>(15)</span></a></li>
            <li><a href="#">Магнито- индуктивные датчики линейных перемещений <span>(25)</span></a></li>
          </ul>
        </div>
      </div>

      <div class="catalog-brands-row__item">
        <div class="catalog-brands-row__top">
          <div class="catalog-brands-row__top-label">10</div>
           Оптические датчики расстояния (дальномеры)
        </div>
        <div class="catalog-brands-row__list">
          <ul>
            <li><a href="#">Оптические датчики расстояния на диапазон до 10000мм <span>(20)</span></a></li>
            <li><a href="#">Оптические датчики расстояния на диапазон до 2000мм <span>(30)</span></a></li>
            <li><a href="#">Оптические датчики расстояния на диапазон до 30000мм <span>(15)</span></a></li>
            <li><a href="#">Оптические датчики расстояния на диапазон до 500мм <span>(55)</span></a></li>
            <li><a href="#">Оптические датчики расстояния на диапазон до 6000мм <span>(60)</span></a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="catalog-brands-row__col">

      <div class="catalog-brands-row__item">
        <div class="catalog-brands-row__top">
          <div class="catalog-brands-row__top-label">100</div>
           Датчики угла наклона (инклинометры)
        </div>
        <div class="catalog-brands-row__list">
          <ul>
            <li><a href="#">Двухосевые инклинометры <span>(15)</span></a></li>
            <li><a href="#">Одноосевые инклинометры <span>(25)</span></a></li>
          </ul>
        </div>
      </div>

      <div class="catalog-brands-row__item">
        <div class="catalog-brands-row__top">
          <div class="catalog-brands-row__top-label">10</div>
           Ультразвуковые датчики расстояния
        </div>
        <div class="catalog-brands-row__list">
          <ul>
            <li><a href="#">Двухосевые инклинометры <span>(20)</span></a></li>
            <li><a href="#">Одноосевые инклинометры <span>(30)</span></a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="catalog-brands-row__col">

      <div class="catalog-brands-row__item">
        <div class="catalog-brands-row__top">
          <div class="catalog-brands-row__top-label">250</div>
           Датчики угловых перемещений (энкодеры)
        </div>
        <div class="catalog-brands-row__list">
          <ul>
            <li><a href="#">Абсолютные энкодеры многооборотные <span>(15)</span></a></li>
            <li><a href="#">Абсолютные энкодеры однооборотные <span>(25)</span></a></li>
            <li><a href="#">Индуктивные датчики угловых перемещений <span>(25)</span></a></li>
            <li><a href="#">Инкрементальные энкодеры <span>(25)</span></a></li>
            <li><a href="#">Инкрементальные энкодеры программируемые <span>(25)</span></a></li>
          </ul>
        </div>
      </div>

      <div class="catalog-brands-row__item">
        <div class="catalog-brands-row__top">
          <div class="catalog-brands-row__top-label">10</div>
           Оптические датчики расстояния (дальномеры)
        </div>
        <div class="catalog-brands-row__list">
          <ul>
            <li><a href="#">Оптические датчики расстояния на диапазон до 10000мм <span>(20)</span></a></li>
            <li><a href="#">Оптические датчики расстояния на диапазон до 2000мм <span>(30)</span></a></li>
            <li><a href="#">Оптические датчики расстояния на диапазон до 30000мм <span>(30)</span></a></li>
            <li><a href="#">Оптические датчики расстояния на диапазон до 500мм <span>(30)</span></a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="catalog-brands-row__col">

      <div class="catalog-brands-row__item">
        <div class="catalog-brands-row__top">
          <div class="catalog-brands-row__top-label">250</div>
           Индуктивные датчики расстояния
        </div>
        <div class="catalog-brands-row__list">
          <ul>
            <li><a href="#">Индуктивные датчики с аналоговым выходом <span>(15)</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>

{% include "template/footer.html" %}