{% set title = "Каталог товаров" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Каталог товаров</span>
  </div>

  <h1 class="page-title">Каталог товаров</h1>

  <div class="catalog-wrap">

    <div class="catalog-sidebar">
      
      <div class="sidebar-widget">
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Аксессуары</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Бесконтактные датчики положения объекта</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Блоки питания и усилители</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Датчики давления</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Датчики перемещений и расстояния</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Датчики температуры</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Датчики уровня</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Оптические датчики для специальных задач</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Расходомеры, датчики и реле потока</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Системы диагностики</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Системы идентификации</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Системы технического зрения</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Счетчики импульсов и цифровые индикаторы</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Щелевые датчики</a></li>
          <li class="sidebar-menu__item"><a href="#" class="sidebar-menu__link">Электромеханические датчики положения объекта (концевые
              выключатели)</a></li>
        </ul>
      </div>
      
    </div>

    <div class="catalog-container">
      
      <div class="catalog-cat-list">
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Аксессуары
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Бесконтактные датчики положения объекта
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Блоки питания и усилители
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Датчики давления
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Датчики перемещений и расстояния
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Датчики температуры
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Датчики уровня
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Оптические датчики для специальных задач
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Расходомеры, датчики и реле потока
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Системы диагностики
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Системы идентификации
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Системы технического зрения
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Счетчики импульсов и цифровые индикаторы
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Щелевые датчики
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Электромеханические датчики положения объекта (концевые выключатели)
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


{% include "template/footer.html" %}