{% set title = "Каталог товаров" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <a href="#" class="bread-crumbs__link">Каталог</a>
    <span class="bread-crumbs__current">Датчики перемещений и расстояния</span>
  </div>

  <h1 class="page-title">Датчики перемещений и расстояния</h1>

  <div class="context-slider">
    <div class="context-slider__img">
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img1.png);"></div>
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img2.png);"></div>
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img1.png);"></div>
    </div>
    <div class="context-slider__text">
      <p>В номенклатуре представлены промышленные датчики давления с керамической мембраной (емкостного принципа) и датчики
        давления со стальной мембраной (тензометрического принципа). Промышленные датчики давления в качестве выходного сигнала
        имеют различные функции, а разнообразные типы корпусов, резьбовых соединений и адаптеров позволяют оптимально установить
        датчики давления в различных условиях технологических процессов.</p>
      <a href="#">Подробнее</a>
    </div>
  </div>

  <div class="catalog-wrap">

    <div class="catalog-sidebar catalog-sidebar__min">
      
      <div class="sidebar-widget">
        <div class="sidebar-brands">
          <div class="sidebar-brands__title">
            Товары этого раздела представлены в брендах
          </div>
          <ul class="sidebar-brands__list">
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Autrol</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Balluff</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">DATALOGIC-DATASENSOR</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">EGE-Elektronik</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">HYC</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">IFM Electronic</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Leuze Electronic</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">MTS Sensors Temposonics</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Omron</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Optris</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Pepperl Fuchs</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Raytek</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Siemens</a></li>
          </ul>
        </div>
      </div>

      <div class="sidebar-widget">
        <div class="sidebar-news">
          <div class="sidebar-news__title">
             Новости
          </div>
          <div class="sidebar-news__list">
            <div class="sidebar-news__item">
              <div class="sidebar-news__item-date">01/07/2011</div>
              <div class="sidebar-news__item-title">Датчики давления от BALLUFF!</div>
              <div class="sidebar-news__item-desc">Высококачественные датчики давления от известного производителя</div>
              <a href="#" class="sidebar-news__item-link">подробнее</a>
            </div>
            <div class="sidebar-news__item">
              <div class="sidebar-news__item-date">01/07/2011</div>
              <div class="sidebar-news__item-title">Датчики давления от BALLUFF!</div>
              <div class="sidebar-news__item-desc">Высококачественные датчики давления от известного производителя</div>
              <a href="#" class="sidebar-news__item-link">подробнее</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="catalog-container catalog-container__big">
      
      <div class="catalog-cat-list catalog-cat-list__min">
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Датчики линейных перемещений
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Датчики угла наклона (инклинометры)
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Датчики линейных перемещений (энкодеры)
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Индуктивные датчики расстояния
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Оптические датчики растояния (дальномеры)
          </div>
        </div>
        <div class="catalog-cat-list__item">
          <a href="#" class="catalog-cat-list__item-link"></a>
          <div class="catalog-cat-list__item-img">
            <img src="img/" alt="">
          </div>
          <div class="catalog-cat-list__item-title">
             Ультразвуковые датчики расстояния
          </div>
        </div>
      </div>

      <div class="catalog-cat">
        <div class="catalog-cat__title">
           Популярное
        </div>
        <div class="catalog-cat-list catalog-cat-list__vertical">
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики линейных перемещений Balluff Micropulse BIW с аналоговым выходом
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Магнитно-индуктивные датчики линейных перемещений Balluff BL с аналоговым выходом
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики линейных перемещений Pepperl Fuchs PMI F110 с аналоговым выходом
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики линейных перемещений Pepperl Fuchs PMI F112 с аналоговым выходом
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики линейных перемещений Pepperl Fuchs PMI F90 с аналоговым выходом
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Магнитные линейные энкодеры Balliff BML-S1A
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Магнитные линейные энкодеры Balluff BML-S1B
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Магнитные линейные энкодеры Balluff BML-S1B
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


{% include "template/footer.html" %}