{% set title = "Каталог товаров" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Каталог 1 уровень</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных
              задач
            </a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения
              объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Каталог 2 уровень</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Емкостные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Индуктивные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Магнитные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Ультразвуковые датчики</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Каталог 3 уровень</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Емкостные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Индуктивные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Магнитные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Ультразвуковые датчики</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__current">Емкостные датчики Balluff в прямоугольном корпусе</span>
  </div>
  
  <h1 class="page-title">Емкостные датчики Balluff в прямоугольном корпусе</h1>
  <div class="page-desc">
    <p>Специальная схема преобразует изменение ёмкости в пороговый сигнал датчика (например сухой контакт). В простейших датчиках
    это обычно мультивибратор, преобразователь «частота (или скважность)-напряжение» и компаратор. Иногда, если изменение ёмкости
    в ответ на воздействие невелико, приходится ставить схемы на микроконтроллерах, которые занимаются автоподстройкой чувствительности
    и нуля датчика.</p>
    <a href="#" class="btn-gray">Подробнее</a>
  </div>
  
  <div class="catalog-wrap">
  
    <div class="catalog-sidebar catalog-sidebar__mean">
  
      <div class="sidebar-widget">
      
        <div class="sidebar-filter-block">
          <div class="pannel-close"></div>
      
          <div class="sidebar-filter active">
            <div class="sidebar-filter__head">
              <span class="sidebar-filter__icon"></span>
              Производитель
            </div>
            <div class="sidebar-filter__content">
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter1" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter1">Autrol</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter2" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter2">Balluff</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter3" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter3">DATALOGIC-DATASENSOR</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter4" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter4">IFM Electronic</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter5" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter5">Leuze Electronic</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter6" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter6">MTS Sensors Temposonics</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter7" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter7">Omron</label>
              </div>
            </div>
          </div>
          <div class="sidebar-filter">
            <div class="sidebar-filter__head">
              <span class="sidebar-filter__icon"></span>
              Мощность (кВт)
              <div class="sidebar-filter__info">?
                <div class="sidebar-filter__info-text"><span>Производительность - один из двух основных параметров выбора компрессора,
                    вместе с рабочим давлением она определяет область применения компрессора и перечень возможных работ и пневматических
                    инструментов, которые будут эффективно работать от питания данным компрессором.</span></div>
              </div>
            </div>
            <div class="sidebar-filter__content">
              <div class="filter-interval">
                <div class="range-controls">
                  <div class="range-controls__l">
                    <span>от</span> <input type="text" class="slider_opt_txtbox1" value="0" placeholder="0">
                  </div>
                  <div class="range-controls__r">
                    <span>до</span> <input type="text" class="slider_opt_txtbox2" value="5" placeholder="5">
                  </div>
                </div>
                <div data-min="0" data-max="5" data-step="1" data-position="1,5" class="slider-range_input"></div>
              </div>
            </div>
          </div>
          <div class="sidebar-filter active">
            <div class="sidebar-filter__head">
              <span class="sidebar-filter__icon"></span>
              Цена, руб.
            </div>
            <div class="sidebar-filter__content">
              <div class="filter-interval">
                <div class="range-controls">
                  <div class="range-controls__l">
                    <span>от</span> <input type="text" class="slider_opt_txtbox1" value="120" placeholder="120">
                  </div>
                  <div class="range-controls__r">
                    <span>до</span> <input type="text" class="slider_opt_txtbox2" value="1 000 000" placeholder="1 000 000">
                  </div>
                </div>
                <div data-min="120" data-max="100" data-step="1" data-position="120" class="slider-range_input"></div>
              </div>
            </div>
          </div>
          <div class="sidebar-filter">
            <div class="sidebar-filter__head">
              <span class="sidebar-filter__icon"></span>
              Ещё параметры
            </div>
            <div class="sidebar-filter__content">
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter_2_1" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter_2_1">Autrol</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter_2_2" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter_2_2">Balluff</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter_2_3" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter_2_3">DATALOGIC-DATASENSOR</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter_2_4" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter_2_4">IFM Electronic</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter_2_5" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter_2_5">Leuze Electronic</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter_2_6" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter_2_6">MTS Sensors Temposonics</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="sidebar_filter_2_7" class="form-checkbox__input" required>
                <label class="form-checkbox__label" for="sidebar_filter_2_7">Omron</label>
              </div>
            </div>
          </div>
      
        </div>
      
      </div>

      <div class="sidebar-widget">
        <div class="sidebar-banner">
          <a href="#"><img src="img/img_sidebar.jpg" alt=""></a>
        </div>
      </div>
  
    </div>
  
    <div class="catalog-container catalog-container__mean">
  
    <div class="goods-table-wrap">
      <div class="goods-table-top">
        <div class="table-pagination">
          <div class="pagenavi">
            <ul class="pagenavi__list">
              <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
              <li class="pagenavi__item"><a href="#">1</a></li>
              <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
              <li class="pagenavi__item"><a href="#">3</a></li>
              <li class="pagenavi__item"><a href="#">4</a></li>
              <li class="pagenavi__item"><a href="#">5</a></li>
              <li class="pagenavi__item"><a href="#">...</a></li>
              <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
            </ul>
          </div>
          <div class="mobile-filter-link">
            <a href="#">Фильтры</a>
          </div>
        </div>
        <div class="table-filters">

          <div class="table-filters__list table-filters__list-v2">
            <div class="table-filter__sorting">
              <div class="table-filter__sorting-label">сортировка</div>
              <select class="custom-ico" name="" id="">
                <option value="delivery_dateUp">По сроку поставки</option>
                <option value="delivery_dateDown">По сроку поставки</option>
                <option value="popularityUp">По популярности</option>
                <option value="popularityDown">По популярности</option>
                <option value="alphabetUp">По алфавиту</option>
                <option value="alphabetDown">По алфавиту</option>
              </select>
            </div>
            <div class="table-filter__quantity">
              <div class="table-filter__quantity-label">товаров</div>
              <select name="" id="">
                <option value="20">20</option>
                <option value="60">60</option>
                <option value="120">120</option>
              </select>
            </div>
            <div class="table-filter__view">
              <a href="#" class="view-card active"><i class="icon-view_card"></i></a>
              <a href="#" class="view-list"><i class="icon-view_list"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="catalog-list catalog-list__page">
      
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img1.jpg" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
          </div>
          <div class="catalog-item__btn">
            <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                  сообщит вам цену на товар</span></div>Узнать цену</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
          <div class="catalog-item__delivery">
            2-4 недели
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
      
          </div>
          <div class="catalog-item__btn">
            <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text">
                <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
              </div>Узнать цену</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
          <div class="catalog-item__delivery">
            2-4 недели
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img3.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
            <span class="old-price">123 000</span>120 000 руб.
            <div class="price-info">?
              <div class="price-info__text">
                <span>поставка 2-4 недели</span>
              </div>
            </div>
          </div>
          <div class="catalog-item__btn">
            <a href="#" class="btn-blue">Купить</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status">
              в наличии
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__span">
            Авторизируйтесь, чтобы узнать цену
          </div>
          <div class="catalog-item__btn">
            <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
            120 000 руб.
            <div class="price-info">?
              <div class="price-info__text"><span>поставка 2-4 недели</span></div>
            </div>
          </div>
          <div class="catalog-item__btn">
            <a href="#" class="btn-blue">Купить</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__span">
            Авторизируйтесь, чтобы узнать цену
          </div>
          <div class="catalog-item__btn">
            <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
            120 000 руб.
            <div class="price-info">?
              <div class="price-info__text"><span>поставка 2-4 недели</span></div>
            </div>
          </div>
          <div class="catalog-item__btn">
            <a href="#" class="btn-blue">Купить</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img3.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
            <span class="old-price">123 000</span>120 000 руб.
            <div class="price-info">?
              <div class="price-info__text">
                <span>поставка 2-4 недели</span>
              </div>
            </div>
          </div>
          <div class="catalog-item__btn">
            <a href="#" class="btn-blue">Купить</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status">
              в наличии
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img1.jpg" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
          </div>
          <div class="catalog-item__btn">
            <a href="#price_request" class="btn-no popup-link">
              <div class="btn-no__text">
                <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
              </div>Узнать цену</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
          <div class="catalog-item__delivery">
            2-4 недели
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
      
          </div>
          <div class="catalog-item__btn">
            <a href="#price_request" class="btn-no popup-link">
              <div class="btn-no__text">
                <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
              </div>Узнать цену</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
      
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
      
          </div>
          <div class="catalog-item__delivery">
            2-4 недели
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
        
          </div>
          <div class="catalog-item__btn">
            <a href="#price_request" class="btn-no popup-link">
              <div class="btn-no__text">
                <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
              </div>Узнать цену</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
        
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
        
          </div>
          <div class="catalog-item__delivery">
            2-4 недели
          </div>
        </div>
        <div class="catalog-item">
          <div class="catalog-item__img">
            <a href="#">
              <img src="img/catalog__img2.png" alt="">
            </a>
          </div>
          <div class="catalog-item__title">
            <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
          </div>
          <div class="catalog-item__options">
            <div class="catalog-item__option">
              Производитель: Balluff
            </div>
            <div class="catalog-item__option">
              Маркировка: РС РГО
            </div>
            <div class="catalog-item__option">
              Код заказа: 555646
            </div>
          </div>
          <div class="catalog-item__price">
        
          </div>
          <div class="catalog-item__btn">
            <a href="#price_request" class="btn-no popup-link">
              <div class="btn-no__text">
                <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
              </div>Узнать цену</a>
          </div>
          <div class="catalog-item__bot">
            <div class="catalog-item__status status-underOrder">
              под заказ
            </div>
        
            <div class="catalog-item__dop">
              <a href="#" class="catalog-item__favorites">
                <i class="icon-favorites_blue"></i>
                <span class="catalog-item__favorites-text">Добавить в избранное</span>
              </a>
              <a href="#" class="catalog-item__comparison">
                <i class="icon-comparison_blue"></i>
                <span class="catalog-item__comparison-text">Добавить в сравнение</span>
              </a>
            </div>
        
          </div>
          <div class="catalog-item__delivery">
            2-4 недели
          </div>
        </div>
      
      </div>

      <div class="goods-table-bottom">
        <div class="pagenavi">
          <ul class="pagenavi__list">
            <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
            <li class="pagenavi__item"><a href="#">1</a></li>
            <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
            <li class="pagenavi__item"><a href="#">3</a></li>
            <li class="pagenavi__item"><a href="#">4</a></li>
            <li class="pagenavi__item"><a href="#">5</a></li>
            <li class="pagenavi__item"><a href="#">...</a></li>
            <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  
    </div>
  
  </div>

</div>

{% include "template/footer.html" %}