{% set title = "Сертификаты" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">О компании: Сертификаты</span>
  </div>

  <h1 class="page-title">Сертификаты</h1>

</div>

<div class="page-certificates">
  <div class="container">
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates1.jpg" class="page-certificates__item-link"><img src="img/page-certificates1.jpg" alt=""></a>
    </div>
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates2.jpg" class="page-certificates__item-link"><img src="img/page-certificates2.jpg" alt=""></a>
    </div>
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates3.jpg" class="page-certificates__item-link"><img src="img/page-certificates3.jpg" alt=""></a>
    </div>
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates4.jpg" class="page-certificates__item-link"><img src="img/page-certificates4.jpg" alt=""></a>
    </div>
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates5.jpg" class="page-certificates__item-link"><img src="img/page-certificates5.jpg" alt=""></a>
    </div>
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates6.jpg" class="page-certificates__item-link"><img src="img/page-certificates6.jpg" alt=""></a>
    </div>
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates7.jpg" class="page-certificates__item-link"><img src="img/page-certificates7.jpg" alt=""></a>
    </div>
    <div class="page-certificates__item">
      <a data-fancybox="certificates" href="img/page-certificates8.jpg" class="page-certificates__item-link"><img src="img/page-certificates8.jpg" alt=""></a>
    </div>
  </div>
</div>

{% include "template/footer.html" %}