{% set title = "Сравнение" %} {% include "template/header.html" %}

<div class="page-wrap container">
  
  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Сравнение</span>
  </div>
  
  <h1 class="page-title">Сравнение</h1>

  <div class="comparison-panel">
    <a href="#" class="btn-excel">Excel</a>
    <!-- <a href="javascript:window.print();%20void%200;" class="btn-print">Распечатать</a> -->
  </div>
  <div class="table-comparison-wrap">
    <table class="table-comparison" id="table_comparison">
      <thead>
        <tr>
          <th class="first-th"></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>

          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>
          <th><a class="goods-title" href="#">Индуктивный датчик EGE-Elektronik IGA 104 GI</a> <a href="#" class="goods-del">Удалить</a></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-title">Цена</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тип</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Принцип действия</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Питание</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Материал корпуса</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Способ подключения</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Размеры</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Интерфейс</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Дальность действия</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Частота переключения</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Разъем</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Установка</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Рабочее напряжение</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Степень защиты</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Конструкция</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="td-title">Тест</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

{% include "template/footer.html" %}