{% set title = "Контакты" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Контакты</span>
  </div>

  <h1 class="page-title">Контакты</h1>

  <div class="page-wrap__row">
    <div class="page-wrap__col">
      <div class="contacts-phone">
         (495) 540-48-00 доб. 120; +7-800-333-13-53 доб. 120
      </div>
      <div class="contacts-email">
         info@sensoren.ru
      </div>
    </div>
    <div class="page-wrap__col">
      <div class="contacts-adress">
         107023, г. Москва, м. Преображенская площадь или<br>Электрозаводская ул. Девятая Рота, дом 7а, офис 107
      </div>
    </div>
    <div class="page-wrap__col">
      <div class="contacts-time">
         пн-пт с 9:00 до 19:00; сб. 10:00 до 17:00; вс. выходной.
      </div>
    </div>
  </div>

</div>

<div class="contacts-urInfo">
  <div class="container">
    <p>Полное наименование<br>
    Общество с ограниченной ответственностью «Город Инструмента» <br>
    Юридический адрес<br> 
    107023, Москва г, Суворовская ул, дом № 6, строение 6, этаж 1, пом.I, комн 23 
    <br>ИНН / КПП 7718660711 / 771801001 ОГРН 1077759006820 Код отрасли по ОКОНХ 61110 
    <br>Код по ОКПО 18736641 Код по ОКАТО 45263594000 
    <br>Наименование банка ПАО «Промсвязьбанк» 
    <br>БИК 044525555 Расчетный счет 40702810570060753901 Корр. счет 30101810400000000555</p>
  </div>
</div>

<div class="block-map">
  <div id="map"></div>
</div>

<div class="block-form">
  <div class="container">

    <div class="block-form__title">
       Обратная связь
    </div>

    <div class="block-form__row">
      <div class="block-form__col">
        <div class="form-input">
          <label for="fio5" class="form-input__label">Фамилия Имя
            <span>*</span>
          </label>
          <input type="text" class="form-input__input" placeholder="Введите имя" id="fio5">
        </div>
      </div>
      <div class="block-form__col">
        <div class="form-input">
          <label for="organization5" class="form-input__label">Организация
            <span>*</span>
          </label>
          <input type="text" class="form-input__input" placeholder="Введите организацию" id="organization5">
        </div>
      </div>
      <div class="block-form__col">
        <div class="form-input">
          <label for="email5" class="form-input__label">E-mail
            <span>*</span>
          </label>
          <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email5">
        </div>
      </div>
      <div class="block-form__col">
        <div class="form-input">
          <label for="phone5" class="form-input__label">Телефон
            <span>*</span>
          </label>
          <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone5">
        </div>
      </div>
    </div>

    <div class="form-input">
      <label for="question3" class="form-input__label">Комментарий
        <span>*</span>
      </label>
      <textarea name="" id="question3" class="form-input__textarea"></textarea>
    </div>

    <div class="block-form__bottom">
      <div class="block-form__bottom-left">
        <input type="submit" class="btn-blue form-submit" value="Отправить">
      </div>
      <div class="block-form__bottom-right">
        <div class="privacy-policy">
          <input type="checkbox" id="privacy_policy" class="privacy-policy__input" required>
          <label class="privacy-policy__label" for="privacy_policy">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
            <a href="#">О персональных данных</a>».
            <span>*</span>
          </label>
        </div>
        <div class="block-form__info">
          <span>*</span> Поля обязательные для заполнения
        </div>
      </div>
    </div>

  </div>
</div>

{% include "template/footer.html" %}