{% set title = "Главная" %} {% include "template/header.html" %}

<div class="main-slider-wrap">
  <div class="container">
    <div class="main-slider">
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div> 
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<section class="home-manufacturers">
  <div class="container">
    <div class="home-manufacturers__title">
      Производители
    </div>

    <div class="manufacturers-slider">
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__1.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__2.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__3.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__4.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__5.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__6.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__1.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__2.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__3.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__4.png" alt=""></a>
      </div>
    </div>
  </div>
</section>

<section class="home-product-sections">
  <div class="container">
    <div class="home-product-sections__title">
      Разделы товаров
    </div>

    <div class="home-product-sections__list">

      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__1" src="img/product-sections__1.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
          Аксессуары
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__2" src="img/product-sections__2.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Бесконтактные датчики положения объекта
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__3" src="img/product-sections__3.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Блоки питания и усилители
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__4" src="img/product-sections__4.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики давления
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__5" src="img/product-sections__5.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики перемещений и расстояния
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__6" src="img/product-sections__6.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики температуры
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__7" src="img/product-sections__7.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики уровня
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__8" src="img/product-sections__8.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Оптические датчики для специальных задач
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__9" src="img/product-sections__9.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Расходомеры, датчики и реле протока
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__10" src="img/product-sections__10.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Системы диагностики
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__11" src="img/product-sections__11.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Системы идентификации
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__12" src="img/product-sections__12.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Системы технического зрения
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__13" src="img/product-sections__13.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Счетчики импульсов и цифровые индикаторы
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__14" src="img/product-sections__14.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Щелевые датчики
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__15" src="img/product-sections__15.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Электромеханические датчики положения объекта (концевые выключатели)
        </div>
      </div>

    </div>
  </div>
</section>

<section class="home-advantages">
  <div class="container">
    <div class="home-advantages__list">
      <div class="home-advantages__item">
        <p>География клиентов от Москвы до Калининграда</p>
      </div>
      <div class="home-advantages__item">
        <p>Работаем напрямую с ведущими мировыми производителями сенсоров</p>
      </div>
      <div class="home-advantages__item">
        <p>Минимальные сроки поставки и минимальные цены на оборудование</p>
      </div>
    </div>
  </div>
</section>

<section class="home-goods">
  <div class="home-goods__title container">
    Товары
  </div>

  <div class="home-goods__nav">
    <div class="container">
      <div class="home-goods__nav__item active"><a href="#novelties_goods">Новинки</a></div>
      <div class="home-goods__nav__item"><a href="#shares_goods">Акции</a></div>
    </div>
  </div>

  <div class="home-goods__tabs">

    <div class="home-goods__tab active" id="novelties_goods">
      <div class="container">

        <div class="catalog-list">

          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
            <div class="catalog-item__delivery">
               2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text">
                <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
              </div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
            <div class="catalog-item__delivery">
               2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                 в наличии
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__span">
              Авторизируйтесь, чтобы узнать цену
            </div>
            <div class="catalog-item__btn">
              <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              120 000 руб. <div class="price-info">?<div class="price-info__text"><span>поставка 2-4 недели</span></div></div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__span">
              Авторизируйтесь, чтобы узнать цену
            </div>
            <div class="catalog-item__btn">
              <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              120 000 руб. <div class="price-info">?<div class="price-info__text"><span>поставка 2-4 недели</span></div></div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link">
                <div class="btn-no__text">
                  <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                </div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
          
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link">
                <div class="btn-no__text">
                  <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                </div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="home-goods__tab" id="shares_goods">
      <div class="container">
        <div class="catalog-list">
        
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
        
        </div>
      </div>
    </div>

  </div>
</section>

<section class="home-customers">
  <div class="container">
    <div class="home-customers__top">
      <div class="home-customers__title">
         Наши клиенты
      </div>

      <a href="#" class="home-customers__link">Все клиенты</a>
    </div>

    <div class="home-customers__list">

      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers2.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Автоматизаторы</a>
        </div>
        <div class="home-customers__item-city">Ростов-на-Дону</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers3.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Группа Компаний Навигатор</a>
        </div>
        <div class="home-customers__item-city">Екатеринбург, Курск, Новосибирск, Тюмень, Хабаровск</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers2.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Автоматизаторы</a>
        </div>
        <div class="home-customers__item-city">Ростов-на-Дону</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers3.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Группа Компаний Навигатор</a>
        </div>
        <div class="home-customers__item-city">Екатеринбург, Курск, Новосибирск, Тюмень, Хабаровск</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>

    </div>
  </div>
</section>

<section class="home-about-company">
  <div class="container">
    <div class="home-about-company__row">
      <div class="home-about-company__col">
        <div class="home-about-company__title">
           О компании
        </div>
        <div class="home-about-company__desc">
          <img src="img/about-company.png" alt="" class="home-about-company__img">
          <p>Компания «Город Инструмента» на протяжении многих лет является надежным партнером для известных производственных компаний
          различных отраслей промышленности в области поставок профессионального электроинструмента, компрессорного и сварочного оборудования.</p>
          <p>В связи с потребностью наших клиентов в надежном поставщике комплектующих и компонентов для автоматизации производства, а
          также для продвижения продукции и поддержки направления «датчики для автоматизации» было принято решение о создании сайта
          www.sensoren.ru.</p>
          <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому
          Вы можете быть уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются
          стандартные позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений. Если на Вашем
          оборудовании стоят старые сенсоры, которые уже сняты с производства, или простаивает оборудование из-за поломки датчика,
          мы подберем замену и аналог из имеющихся датчиков на складе.</p>
        </div>
      </div>
      <div class="home-about-company__col">
        <div class="home-certificates">
          <div class="home-certificates__top">
            <div class="home-certificates__title">
               Сертификаты
            </div>
            <a href="#" class="home-certificates__link">Все сертификаты</a>
          </div>

          <div class="home-certificates__list">
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates1.jpg"><img src="img/certificates1.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates2.jpg"><img src="img/certificates2.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates3.jpg"><img src="img/certificates3.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates4.jpg"><img src="img/certificates4.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates5.jpg"><img src="img/certificates5.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates6.jpg"><img src="img/certificates6.jpg" alt=""></a>
            </div>
          </div>
        </div>



        <div class="home-news">

          <div class="home-news__top">
            <div class="home-news__title">
              Новости
            </div>
            <a href="#" class="home-news__link">Все новости</a>
          </div>

          <div class="news-list news-list__min">
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новинки PEPPERL FUCHS (Пепперл и Фукс) для мобильных рабочих</a></div>
              <div class="news-list__item-bottom">
                <span>17.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новые магнитные системы измерения положения Balluff серии BMP</a></div>
              <div class="news-list__item-bottom">
                <span>17.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новое считывающее устройство 1D и 2D штрихкодов IFM Electronic</a></div>
              <div class="news-list__item-bottom">
                <span>07.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новые калориметрические датчики учета расхода сжатого воздуха IFM Electronic серии SD</a></div>
              <div class="news-list__item-bottom">
                <span>03.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Многоцветные датчики прикосновения с IO-Link IFM Electronic серии КТ</a></div>
              <div class="news-list__item-bottom">
                <span>31.05.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новый датчик DATALOGIC серии S5N</a></div>
              <div class="news-list__item-bottom">
                <span>29.05.2019</span>
              </div>
            </div>
        
          </div>
        
        </div>

      </div>
    </div>
  </div>
</section>

{% include "template/footer.html" %}