{% set title = "Корзина" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Личный кабинет: Корзина</span>
  </div>

  <h1 class="page-title">Корзина</h1>

  <div class="basket-steps">
    <div class="basket-step basket-step_curent">
      Шаг 1<span>: Список покупок</span> 
    </div>
    <div class="basket-step">
       Шаг 2<span>: Оформление заказа</span>
    </div>
    <div class="basket-step">
       Шаг 3<span>: Оформление заказа</span>
    </div>
  </div>

  <div class="shopping-list">

    <div class="shopping-list__head">
      <div class="shopping-list__head-item">
        Товар
      </div>
      <div class="shopping-list__head-item">
        Кол-во
      </div>
      <div class="shopping-list__head-item">
        Цена товара
      </div>
      <div class="shopping-list__head-item">
        Итого
      </div>
    </div>
    <div class="shopping-list__item">

      <div class="shopping-list__item-img">
        <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
      </div>
      <div class="shopping-list__item-cont">
        <div class="shopping-list__item-title">
          <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
        </div>
        <div class="shopping-list__item-manufacturer">
           Производитель: Balluff
        </div>
        <div class="shopping-list__links">
          <a href="#" class="shopping-list__favorites">
            <i class="icon-favorites_blue"></i>
            <span class="shopping-list__favorites-text">Добавить в избранное</span>
          </a>
          <a href="#" class="shopping-list__comparison">
            <i class="icon-comparison_blue"></i>
            <span class="shopping-list__comparison-text">Добавить в сравнение</span>
          </a>
          <div class="shopping-list__status status-underOrder">
            под заказ
          </div>
          <div class="shopping-list__delivery">
            2-4 недели
          </div>
        </div>
      </div>
      <div class="shopping-list__item-quantity">
        <div class="quantity">
          <span class='quantity__btn quantity__btn-minus'></span>
          <input type="text" class="quantity__input" name="" value="1" />
          <span class='quantity__btn quantity__btn-plus'></span>
        </div>
      </div>
      <div class="shopping-list__item-price">
        1 250 <span>руб.</span>
      </div>
      <div class="shopping-list__item-remove">
        <a href="#" class="shopping-list__remove">
          <i class="icon-remove"></i>
        </a>
      </div>
      <div class="shopping-list__item-right">
        <div class="shopping-list__item-fullPrice">
          <div class="fullPrice-left">
            Стоимость без учета скидки
          </div>
          <div class="fullPrice-right">
            1 250 <span>руб.</span>
          </div>
        </div>
        <div class="shopping-list__item-aut">
          <span>Возможно у Вас есть персональная скидка, авторизируйтесь, чтобы применить её</span>
          <a href="#login_registration" class="btn-aut popup-link">Авторизация</a>
        </div>
        <div class="shopping-list__item-finalPrice">
          <div class="finalPrice-left">
             Итоговая стоимость
          </div>
          <div class="finalPrice-right">
            1 144,75 <span>руб.</span>
          </div>
        </div>
      </div>

    </div>
    <div class="shopping-list__item">

      <div class="shopping-list__item-img">
        <a href="#"><img src="img/catalog__img2.png" alt=""></a>
      </div>
      <div class="shopping-list__item-cont">
        <div class="shopping-list__item-title">
          <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
        </div>
        <div class="shopping-list__item-manufacturer">
           Производитель: Balluff
        </div>
        <div class="shopping-list__links">
          <a href="#" class="shopping-list__favorites">
            <i class="icon-favorites_blue"></i>
            <span class="shopping-list__favorites-text">Добавить в избранное</span>
          </a>
          <a href="#" class="shopping-list__comparison">
            <i class="icon-comparison_blue"></i>
            <span class="shopping-list__comparison-text">Добавить в сравнение</span>
          </a>
          <div class="shopping-list__status status-underOrder">
            под заказ
          </div>
          <div class="shopping-list__delivery">
            2-4 недели
          </div>
        </div>
      </div>
      <div class="shopping-list__item-quantity">
        <div class="quantity">
          <span class='quantity__btn quantity__btn-minus'></span>
          <input type="text" class="quantity__input" name="" value="1" />
          <span class='quantity__btn quantity__btn-plus'></span>
        </div>
      </div>
      <div class="shopping-list__item-price">
        1 250 <span>руб.</span>
      </div>
      <div class="shopping-list__item-remove">
        <a href="#" class="shopping-list__remove">
          <i class="icon-remove"></i>
        </a>
      </div>
      <div class="shopping-list__item-right">
        <div class="shopping-list__item-fullPrice">
          <div class="fullPrice-left">
            Стоимость без учета скидки
          </div>
          <div class="fullPrice-right">
            1 250 <span>руб.</span>
          </div>
        </div>
        <div class="shopping-list__item-discount">
          <div class="discount-left">
            Персональная скидка 5%
          </div>
          <div class="discount-right">
             60,25 <span>руб.</span>
          </div>
        </div>
        <div class="shopping-list__item-finalPrice">
          <div class="finalPrice-left">
             Итоговая стоимость
          </div>
          <div class="finalPrice-right">
            1 144,75 <span>руб.</span>
          </div>
        </div>
      </div>

    </div>

    <div class="shopping-list__bottom">

      <div class="shopping-list__bottom-cont">
        <div class="shopping-list__bottom-price">
          <div class="price-left">
            Итого
          </div>
          <div class="price-right">
            2 349,75 <span>руб.</span>
          </div>
        </div>

        <a href="#" class="btn-blue">оформить заказ</a>
      </div>

    </div>

  </div>

</div>


{% include "template/footer.html" %}