{% set title = "Корзина" %} {% include "template/header.html" %}

<div class="page-wrap">

  <div class="container">
    <div class="bread-crumbs">
      <a href="#" class="bread-crumbs__link">Главная</a>
      <span class="bread-crumbs__current">Личный кабинет: Корзина</span>
    </div>

    <h1 class="page-title">Корзина</h1>

    <div class="basket-steps">
      <div class="basket-step basket-step_passed">
        Шаг 1<span>: Список покупок</span> 
      </div>
      <div class="basket-step basket-step_curent">
        Шаг 2<span>: Оформление заказа</span>
      </div>
      <div class="basket-step">
        Шаг 3<span>: Оформление заказа</span>
      </div>
    </div>
  </div>

  <div class="ordering">

    <div class="container">

      <div class="type-payer">
        <div class="type-payer__title">
          Тип плательщика
        </div>

        <div class="type-payer__row">
          <div class="form-radio">
            <input name="type-payer" type="radio" id="fiz" class="form-radio__input" required>
            <label class="form-radio__label" for="fiz">Физическое лицо</label>
          </div>
          <div class="form-radio">
            <input name="type-payer" type="radio" id="ur" class="form-radio__input" required>
            <label class="form-radio__label" for="ur">Юридическое лицо</label>
          </div>
        </div>
      </div>

      <div class="ordering-recipient">
        <div class="ordering-recipient__title">
          Получатель
        </div>
        
        <div class="ordering-recipient__row">
          <div class="ordering-recipient__col">
            <div class="form-input">
              <label for="fio10" class="form-input__label">Фамилия Имя
                <span>*</span>
              </label>
              <input type="text" class="form-input__input" placeholder="Введите имя" id="fio10">
            </div>
          </div>
          <div class="ordering-recipient__col">
            <div class="form-input">
              <label for="organization10" class="form-input__label">Организация
                <span>*</span>
              </label>
              <input type="text" class="form-input__input" placeholder="Введите имя" id="organization10">
            </div>
          </div>
          <div class="ordering-recipient__col">
            <div class="form-input">
              <label for="phone10" class="form-input__label">Телефон
                <span>*</span>
              </label>
              <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone10">
            </div>
          </div>
          <div class="ordering-recipient__col">
            <div class="form-input">
              <label for="email10" class="form-input__label">E-mail
                <span>*</span>
              </label>
              <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email10">
            </div>
          </div>
        </div>
      </div>

      <div class="ordering-file">
        <div class="form-file">
          <label for="file10" class="form-file__label">Прикрепить реквизиты </label><span>*</span>
          <input type="file" class="form-file__input" id="file10">
        </div>
        <div class="ordering-file__info">(для юр. лиц)</div>
      </div>

    </div>

    <div class="ordering-gray">
      <div class="container">
        <div class="ordering-delivery-city">
          <div class="ordering-delivery-city__title">Доставка в</div>
          <select name="" id="">
            <option value="Москва">Москва</option>
            <option value="Санкт-Петербург">Санкт-Петербург</option>
            <option value="Екатеринбург">Екатеринбург</option>
            <option value="Смоленск">Смоленск</option>
          </select>
        </div> 
        <div class="ordering-delivery-view">
          <div class="ordering-delivery-view__row">
            <div class="ordering-delivery-view__col">
              <div class="form-radio">
                <input name="ordering-delivery" type="radio" id="courier_moscow" class="form-radio__input" required>
                <label class="form-radio__label" for="courier_moscow">Курьером (только по Москве) от 250 руб.</label>
              </div>
            </div>
            <div class="ordering-delivery-view__col">
              <div class="form-radio">
                <input name="ordering-delivery" type="radio" id="transport_systems" class="form-radio__input" required>
                <label class="form-radio__label" for="transport_systems">Транспортные системы от 350 руб.</label>
              </div>
              <select name="" id="">
                <option value="DHL">DHL</option>
                <option value="Санкт-Петербург">Деловые линии</option>
                <option value="Транс-Экспо">Транс-Экспо</option>
              </select>
            </div>
            <div class="ordering-delivery-view__col">
              <div class="form-radio">
                <input name="ordering-delivery" type="radio" id="office" class="form-radio__input" required>
                <label class="form-radio__label" for="office">Почта от 250 руб.</label>
              </div>
            </div>
          </div>
        </div> 

        <div class="ordering-delivery-adress">
          <div class="ordering-delivery-adress__row">
            <div class="ordering-delivery-adress__col">
              <div class="form-input">
                <label for="adress" class="form-input__label">Полный адрес с индексом
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите адрес" id="adress">
              </div>
            </div>
            <div class="ordering-delivery-adress__col">
              <div class="form-input">
                <label for="adress2" class="form-input__label">Квартира/офис
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите номер квартиры/офиса" id="adress2">
              </div>
            </div>
          </div>

          <div class="form-input">
            <label for="question10" class="form-input__label">Дополнительная информация
              <span>*</span>
            </label>
            <textarea name="" id="question10" class="form-input__textarea" placeholder="Напишите дополнительные особенности заказа"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="ordering-payment">

        <div class="ordering-payment__title">
           Оплата
        </div>
        <div class="ordering-payment__list">
          <div class="ordering-payment__item">
            <input name="ordering-payment" type="radio" id="ordering_payment" class="ordering-payment__item-input">
            <label class="ordering-payment__item-label" for="ordering_payment"><i class="ordering-payment__item-icon icon-card"></i>Онлайн банковской картой</label>
          </div>
          <div class="ordering-payment__item">
            <input name="ordering-payment" type="radio" id="ordering_payment2" class="ordering-payment__item-input">
            <label class="ordering-payment__item-label" for="ordering_payment2"><i class="ordering-payment__item-icon icon-cash"></i>При получении наличными или
              картой</label>
          </div>
          <div class="ordering-payment__item">
            <input name="ordering-payment" type="radio" id="ordering_payment3" class="ordering-payment__item-input">
            <label class="ordering-payment__item-label" for="ordering_payment3"><i class="ordering-payment__item-icon icon-sber"></i>Сбербанк Онлайн</label>
          </div>
          <div class="ordering-payment__item">
            <input name="ordering-payment" type="radio" id="ordering_payment4" class="ordering-payment__item-input">
            <label class="ordering-payment__item-label" for="ordering_payment4"><i class="ordering-payment__item-icon icon-transfer"></i>Банковский перевод</label>
          </div>
        </div>
        
      </div>

      <div class="ordering-line">
        <div class="ordering-line__item">
          <div class="ordering-line__item-l">
             Стоимость товаров
          </div>
          <div class="ordering-line__item-r">
             1 2050 <span>руб.</span>
          </div>
        </div>
        <div class="ordering-line__item">
          <div class="ordering-line__item-l">
             Стоимость доставки
          </div>
          <div class="ordering-line__item-r">
             1 2050 <span>руб.</span>
          </div>
        </div>
      </div>

      <div class="ordering-bottom">

        <div class="ordering-bottom__price">
          <div class="ordering-bottom__price-l">
            Итого к оплате
          </div>
          <div class="ordering-bottom__price-r">
             1 2050 <span>руб.</span>
          </div>
        </div>

        <a href="#" class="btn-blue">подтвердить заказ</a>

      </div>

    </div>

  </div>

</div>


{% include "template/footer.html" %}