{% set title = "Корзина" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Личный кабинет: Корзина</span>
  </div>

  <h1 class="page-title">Корзина</h1>

  <div class="basket-steps">
    <div class="basket-step basket-step_passed">
      Шаг 1<span>: Список покупок</span> 
    </div>
    <div class="basket-step basket-step_passed">
       Шаг 2<span>: Оформление заказа</span>
    </div>
    <div class="basket-step basket-step_curent">
       Шаг 3<span>: Оформление заказа</span>
    </div>
  </div>

  <div class="ordering-finish">

    <div class="ordering-finish__messeng">
      <div class="ordering-finish__messeng-text">
        Ваш заказ принят в обработку, в ближайшее время с Вами свяжется оператор для подтверждения заказа
      </div>
    </div>

    <div class="ordering-finish__wrap">
      <div class="ordering-finish__title">
         Состав заказа:
      </div>

      <div class="ordering-finish__cont">

        <div class="ordering-finish__product">
          <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
          <span>1 шт.</span>
          <span>Цена 1 394 руб.</span>
        </div>

        <div class="ordering-finish__item">
          <span>Адрес получения и контакты:</span>
          <p>210000 г. Москва, ул. Советская, д.5, кв. 10</p>
          <p>e-mail: sa@mail.ru</p>
          <p>телефон: 8900399099</p>
        </div>
        <div class="ordering-finish__item">
          <span>Доставка:</span>
          <p>курьером</p>
        </div>
        <div class="ordering-finish__item">
          <span>Оплата:</span>
          <p>наличными</p>
        </div>
        <div class="ordering-finish__item">
          <span>Ориентировочная дата получения :</span>
          <p>24.09.2018, точную дата Вам сообщит оператор</p>
        </div>

      </div>

      <div class="ordering-finish__bottom">
        <a href="#" class="btn-gray">отменить заказ</a>
      </div>
    </div>

  </div>

</div>


{% include "template/footer.html" %}