{% set title = "Избранное" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Личный кабинет: Избранное</span>
  </div>

  <h1 class="page-title">Избранное</h1>

  <div class="page-lk">

    <div class="page-lk__left">

      <div class="page-favorites">

        <div class="favorites-table">

          <div class="favorites-table__thead">
            <div class="favorites-table__tr">
              <div class="favorites-table__th favorites-table__th-сont">
                Товар
              </div>
              <div class="favorites-table__th favorites-table__th-price">
                Цена товара
              </div>
              <div class="favorites-table__th favorites-table__th-add">
              
              </div>
            </div>
          </div>

          <div class="favorites-table__tbody">

            <div class="favorites-table__tr">
              <div class="favorites-table__td favorites-table__td-сont">

                <div class="favorites-item">
                  <div class="favorites-item__img">
                    <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                  </div>
                  <div class="favorites-item__cont">
                    <div class="favorites-item__title">
                      <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
                    </div>
                    <div class="favorites-item__manufacturer">
                       Производитель: Balluff
                    </div>
                    <div class="favorites-item__price">1 205 <span>руб.</span></div>
                    <div class="favorites-item__add"><a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист сообщит вам цену на товар</span></div>Узнать цену</a></div>
                    <div class="favorites-item__bottom">
                      <a href="#" class="favorites-item__comparison">
                        <i class="icon-comparison_blue"></i>
                        <span class="favorites-item__comparison-text">Добавить в сравнение</span>
                      </a>
                      <a href="#" class="favorites-item__remove">
                        <i class="icon-remove__blue"></i>
                        <span class="favorites-item__remove-text">Удалить из избранного</span>
                      </a>
                      <div class="favorites-item__status status-underOrder">
                        под заказ
                      </div>
                      <div class="favorites-item__delivery">
                        2-4 недели
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="favorites-table__td favorites-table__td-price">
                <div class="favorites-table__price">1 205 <span>руб.</span></div>
              </div>
              <div class="favorites-table__td favorites-table__td-add">
                <div class="favorites-table__add"><a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист сообщит вам цену на товар</span></div>Узнать цену</a></div>
              </div>
            </div>
            <div class="favorites-table__tr">
              <div class="favorites-table__td favorites-table__td-сont">
                <div class="favorites-item">
                  <div class="favorites-item__img">
                    <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                  </div>
                  <div class="favorites-item__cont">
                    <div class="favorites-item__title">
                      <a href="#">Оптические датчики Balluff серии BOS 2K в миниатюрном прямоугольном корпусе</a>
                    </div>
                    <div class="favorites-item__manufacturer">
                       Производитель: Balluff
                    </div>
                    <div class="favorites-item__price">1 205 <span>руб.</span></div>
                    <div class="favorites-item__add"><a href="#" class="btn-blue">в корзину</a></div>
                    <div class="favorites-item__bottom">
                      <a href="#" class="favorites-item__comparison">
                        <i class="icon-comparison_blue"></i>
                        <span class="favorites-item__comparison-text">Добавить в сравнение</span>
                      </a>
                      <a href="#" class="favorites-item__remove">
                        <i class="icon-remove__blue"></i>
                        <span class="favorites-item__remove-text">Удалить из избранного</span>
                      </a>
                      <div class="favorites-item__status">
                         в наличии
                      </div>
                      <div class="favorites-item__delivery">
                        2-4 недели
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="favorites-table__td favorites-table__td-price">
                <div class="favorites-table__price">1 205 <span>руб.</span></div>
              </div>
              <div class="favorites-table__td favorites-table__td-add">
                <div class="favorites-table__add"><a href="#" class="btn-blue">в корзину</a></div>
              </div>
            </div>
            <div class="favorites-table__tr">
              <div class="favorites-table__td favorites-table__td-сont">
                <div class="favorites-item">
                  <div class="favorites-item__img">
                    <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                  </div>
                  <div class="favorites-item__cont">
                    <div class="favorites-item__title">
                      <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
                    </div>
                    <div class="favorites-item__manufacturer">
                       Производитель: Balluff
                    </div>
                    <div class="favorites-item__price">1 205 <span>руб.</span></div>
                    <div class="favorites-item__add"><a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист сообщит вам цену на товар</span></div>Узнать цену</a></div>
                    <div class="favorites-item__bottom">
                      <a href="#" class="favorites-item__comparison">
                        <i class="icon-comparison_blue"></i>
                        <span class="favorites-item__comparison-text">Добавить в сравнение</span>
                      </a>
                      <a href="#" class="favorites-item__remove">
                        <i class="icon-remove__blue"></i>
                        <span class="favorites-item__remove-text">Удалить из избранного</span>
                      </a>
                      <div class="favorites-item__status status-underOrder">
                        под заказ
                      </div>
                      <div class="favorites-item__delivery">
                        2-4 недели
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="favorites-table__td favorites-table__td-price">
                <div class="favorites-table__price">1 205 <span>руб.</span></div>
              </div>
              <div class="favorites-table__td favorites-table__td-add">
                <div class="favorites-table__add"><a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист сообщит вам цену на товар</span></div>Узнать цену</a></div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="page-lk__right">
      <ul class="page-lk__nav">
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Вход/регистрация</a></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Личные данные</a></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Корзина</a> <span>(2)</span></li>
        <li class="page-lk__nav-item page-lk__nav-curent"><a href="#" class="page-lk__nav-link">Избранное</a> <span>(3)</span></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">История закаказов</a></li>
      </ul>
    </div>

  </div>

  

</div>


{% include "template/footer.html" %}