{% set title = "История заказов" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Личный кабинет: История заказов</span>
  </div>

  <h1 class="page-title">История заказов</h1>

  <div class="page-lk">

    <div class="page-lk__left">

      <div class="history-orders">

        <div class="history-orders__group">
          <div class="history-orders__group-top">
            <div class="history-orders__group-number">
              Заказ № 12343
            </div>
            <div class="history-orders__group-data">
              оформлен 02.12.2014
            </div>
            <div class="history-orders__group-labelStatus">
               статус заказа
            </div>
            <div class="history-orders__group-sum">
              <span>сумма заказа</span>
               1700 руб.
            </div>
            <a href="#" class="history-orders__group-remove"><i class="icon-remove"></i></a>
          </div>
          <div class="history-orders__list">

            <div class="history-orders__item">
              <div class="history-orders__item-img">
                <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
              </div>
              <div class="history-orders__item-cont">
                <div class="history-orders__item-title">
                  <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</a>
                </div>
                <div class="history-orders__item-price">
                  1205 руб. х 1
                </div>
              </div>
              <div class="history-orders__item-status">
                 <div class="goods-received">Получено подтверждение</div>
              </div>
              <div class="history-orders__item-add">
                <a href="#">Добавить в корзину снова</a>
              </div>
            </div>
            <div class="history-orders__item">
              <div class="history-orders__item-img">
                <a href="#"><img src="img/catalog__img2.png" alt=""></a>
              </div>
              <div class="history-orders__item-cont">
                <div class="history-orders__item-title">
                  <a href="#">Оптические датчики Balluff серии BOS 2K в миниатюрном прямоугольном корпусе</a>
                </div>
                <div class="history-orders__item-price">
                  1205 руб. х 1
                </div>
              </div>
              <div class="history-orders__item-status">
                 <div class="goods-received">Получено подтверждение</div>
              </div>
              <div class="history-orders__item-add">
                <a href="#">Добавить в корзину снова</a>
              </div>
            </div>

          </div>
        </div>
        <div class="history-orders__group">
          <div class="history-orders__group-top">
            <div class="history-orders__group-number">
              Заказ № 12343
            </div>
            <div class="history-orders__group-data">
              оформлен 02.12.2014
            </div>
            <div class="history-orders__group-labelStatus">
              статус заказа
            </div>
            <div class="history-orders__group-sum">
              <span>сумма заказа</span>
              1700 руб.
            </div>
            <a href="#" class="history-orders__group-remove"><i class="icon-remove"></i></a>
          </div>
          <div class="history-orders__list">
        
            <div class="history-orders__item">
              <div class="history-orders__item-img">
                <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
              </div>
              <div class="history-orders__item-cont">
                <div class="history-orders__item-title">
                  <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от
                    объекта</a>
                </div>
                <div class="history-orders__item-price">
                  1205 руб. х 1
                </div>
              </div>
              <div class="history-orders__item-status">
                <div class="goods-shipped">Отправлен</div>
              </div>
              <div class="history-orders__item-add">
                <a href="#">Добавить в корзину снова</a>
              </div>
            </div>
            <div class="history-orders__item">
              <div class="history-orders__item-img">
                <a href="#"><img src="img/catalog__img2.png" alt=""></a>
              </div>
              <div class="history-orders__item-cont">
                <div class="history-orders__item-title">
                  <a href="#">Оптические датчики Balluff серии BOS 2K в миниатюрном прямоугольном корпусе</a>
                </div>
                <div class="history-orders__item-price">
                  1205 руб. х 1
                </div>
              </div>
              <div class="history-orders__item-status">
                <div class="goods-shipped">Отправлен</div>
              </div>
              <div class="history-orders__item-add">
                <a href="#">Добавить в корзину снова</a>
              </div>
            </div>
        
          </div>
        </div>
        <div class="history-orders__group">
          <div class="history-orders__group-top">
            <div class="history-orders__group-number">
              Заказ № 12343
            </div>
            <div class="history-orders__group-data">
              оформлен 02.12.2014
            </div>
            <div class="history-orders__group-labelStatus">
              статус заказа
            </div>
            <div class="history-orders__group-sum">
              <span>сумма заказа</span>
              1700 руб.
            </div>
            <a href="#" class="history-orders__group-remove"><i class="icon-remove"></i></a>
          </div>
          <div class="history-orders__list">

            <div class="history-orders__item">
              <div class="history-orders__item-img">
                <a href="#"><img src="img/catalog__img2.png" alt=""></a>
              </div>
              <div class="history-orders__item-cont">
                <div class="history-orders__item-title">
                  <a href="#">Оптические датчики Balluff серии BOS 2K в миниатюрном прямоугольном корпусе</a>
                </div>
                <div class="history-orders__item-price">
                  1205 руб. х 1
                </div>
              </div>
              <div class="history-orders__item-status">
                <div class="goods-processed">Передан в обработку</div>
              </div>
              <div class="history-orders__item-add">
                <a href="#">Добавить в корзину снова</a>
              </div>
            </div>
        
          </div>
        </div>
        <div class="history-orders__group">
          <div class="history-orders__group-top">
            <div class="history-orders__group-number">
              Заказ № 12343
            </div>
            <div class="history-orders__group-data">
              оформлен 02.12.2014
            </div>
            <div class="history-orders__group-labelStatus">
              статус заказа
            </div>
            <div class="history-orders__group-sum">
              <span>сумма заказа</span>
              1700 руб.
            </div>
            <a href="#" class="history-orders__group-remove"><i class="icon-remove"></i></a>
          </div>
          <div class="history-orders__list">

            <div class="history-orders__item">
              <div class="history-orders__item-img">
                <a href="#"><img src="img/catalog__img2.png" alt=""></a>
              </div>
              <div class="history-orders__item-cont">
                <div class="history-orders__item-title">
                  <a href="#">Оптические датчики Balluff серии BOS 2K в миниатюрном прямоугольном корпусе</a>
                </div>
                <div class="history-orders__item-price">
                  1205 руб. х 1
                </div>
              </div>
              <div class="history-orders__item-status">
                <div class="goods-rejected"><span>Отклонен</span> В заказе заявлены некорректные данные, свяжитесь с нашим оператором
                  для уточнения данных</div>
              </div>
              <div class="history-orders__item-add">
                <a href="#">Добавить в корзину снова</a>
              </div>
            </div>
        
          </div>
        </div>
        <div class="history-orders__group">
          <div class="history-orders__group-top">
            <div class="history-orders__group-number">
              Заказ № 12343
            </div>
            <div class="history-orders__group-data">
              оформлен 02.12.2014
            </div>
            <div class="history-orders__group-labelStatus">
              статус заказа
            </div>
            <div class="history-orders__group-sum">
              <span>сумма заказа</span>
              1700 руб.
            </div>
            <a href="#" class="history-orders__group-remove"><i class="icon-remove"></i></a>
          </div>
          <div class="history-orders__list">
        
            <div class="history-orders__item">
              <div class="history-orders__item-img">
                <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
              </div>
              <div class="history-orders__item-cont">
                <div class="history-orders__item-title">
                  <a href="#">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от
                    объекта</a>
                </div>
                <div class="history-orders__item-price">
                  1205 руб. х 1
                </div>
              </div>
              <div class="history-orders__item-status">
                <div class="goods-canceled">Отменен</div>
              </div>
              <div class="history-orders__item-add">
                <a href="#">Добавить в корзину снова</a>
              </div>
            </div>
        
          </div>
        </div>

      </div>

    </div>

    <div class="page-lk__right">
      <ul class="page-lk__nav">
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Вход/регистрация</a></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Личные данные</a></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Корзина</a> <span>(2)</span></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Избранное</a> <span>(2)</span></li>
        <li class="page-lk__nav-item page-lk__nav-curent"><a href="#" class="page-lk__nav-link">История закаказов</a></li>
      </ul>
    </div>

  </div>

  

</div>


{% include "template/footer.html" %}