{% set title = "Вход/регистрация" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Личный кабинет: Вход/регистрация</span>
  </div>

  <h1 class="page-title">Вход/регистрация</h1>

  <div class="page-lk">

    <div class="page-lk__left">

      <div class="page-login-registration">
      
        <div class="page-login">
          <div class="page-login__title">
            Вход
          </div>
      
          <div class="page-login__row">
            <div class="page-login__col">
              <div class="form-input">
                <label for="login8" class="form-input__label">E-mail</label>
                <input type="text" class="form-input__input" id="login8">
              </div>
            </div>
            <div class="page-login__col">
              <div class="form-password">
                <label for="password8" class="form-password__label">Пароль</label>
                <input type="password" class="form-password__input" id="password8">
                <a href="#" class="password-recovery__link">Не помните?</a>
              </div>
            </div>
          </div>

          <input type="submit" class="btn-blue form-submit" value="Войти">

        </div>

        <div class="page-registration">
          <div class="page-registration__title">
             Регистрация
          </div>

          <div class="page-registration__row">
            <div class="page-registration__col">

              <div class="form-input">
                <label for="fio8" class="form-input__label">Фамилия Имя
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите имя" id="fio8">
              </div>
              <div class="form-input">
                <label for="phone8" class="form-input__label">Телефон
                  <span>*</span>
                </label>
                <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone8">
              </div>
              <div class="form-password">
                <label for="password2" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password2">
                <span class="form-password__info">не менее 6 символов</span>
              </div>

            </div>
            <div class="page-registration__col">

              <div class="form-input">
                <label for="organization8" class="form-input__label">Организация
                </label>
                <input type="text" class="form-input__input" placeholder="Введите имя" id="organization8">
              </div>
              <div class="form-input">
                <label for="email8" class="form-input__label">E-mail
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email8">
              </div>
              <div class="form-password">
                <label for="password9" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password9">
              </div>

            </div>
          </div>

          <input type="submit" class="btn-blue form-submit" value="зарегистрироваться">

          <div class="page-registration__bottom">
            <div class="page-registration__bottom-left">
              <div class="recapcha-v2">
                <div class="form-checkbox">
                  <input type="checkbox" id="not_robot" class="form-checkbox__input" required>
                  <label class="form-checkbox__label" for="not_robot">Я не робот <span>*</span>
                </div>
              </div>
            </div>
            <div class="page-registration__bottom-right">
              <div class="privacy-policy__v2">
                <p>Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии
                  моих заказов, а также принимаю <a href="#">условия политики конфиденциальности и пользовательского соглашения</a>.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="page-lk__right">
      <ul class="page-lk__nav">
        <li class="page-lk__nav-item page-lk__nav-curent"><a href="#" class="page-lk__nav-link">Вход/регистрация</a></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Личные данные</a></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Корзина</a> <span>(2)</span></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Избранное</a> <span>(2)</span></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">История закаказов</a></li>
      </ul>
    </div>

  </div>

  

</div>


{% include "template/footer.html" %}