{% set title = "Восстановление пароля" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <a href="#" class="bread-crumbs__link">Личный кабинет: Вход/регистрация</a>
    <span class="bread-crumbs__current">Восстановление пароля</span>
  </div>

  <h1 class="page-title">Восстановление пароля</h1>

  <div class="page-password-recovery">
    <p>На вашу электронную почту будет отправлено сообщение с инструкцией по сбросу пароля</p>

    <form action="" class="password-recovery__form">
      <div class="form-input">
        <label for="email7" class="form-input__label">E-mail
        </label>
        <input type="text" class="form-input__input" id="email7">
      </div>

      <input type="submit" class="btn-blue form-submit" value="восстановить пароль">
    </form>
  </div>

</div>


{% include "template/footer.html" %}