{% set title = "Личные данные" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Личный кабинет: Личные данные</span>
  </div>

  <h1 class="page-title">Личные данные</h1>

  <div class="page-lk">

    <div class="page-lk__left">

      <div class="page-personal-data">
      
        <div class="personal-data">
      
          <div class="personal-data__row">
            <div class="personal-data__col">
              <div class="form-input">
                <label for="fio9" class="form-input__label">Фамилия Имя</label>
                <input type="text" class="form-input__input" id="fio9" value="Иванов Иван">
              </div>
              <div class="form-input">
                <label for="phone9" class="form-input__label">Телефон</label>
                <input type="tel" class="form-input__input" value="+7 (915) 777-77-77" id="phone9">
              </div>
            </div>
            <div class="personal-data__col">
              <div class="form-input">
                <label for="organization9" class="form-input__label">Организация</label>
                <input type="text" class="form-input__input" value="Sensoren" id="organization9">
              </div>
              <div class="form-input">
                <label for="email9" class="form-input__label">E-mail</label>
                <input type="email" class="form-input__input" value="info@sensoren.ru" id="email9">
              </div>
            </div>
          </div>

          <input type="submit" class="btn-blue form-submit" value="сохранить изменения">

        </div>

        <div class="page-change-password">
          <div class="page-change-password__title">
             Регистрация
          </div>

          <div class="page-change-password__row">
            <div class="page-change-password__col">
              <div class="form-password">
                <label for="password9" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password9">
                <span class="form-password__info">не менее 6 символов</span>
              </div>
            </div>
            <div class="page-change-password__col">
              <div class="form-password">
                <label for="password10" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password10">
              </div>

            </div>
          </div>

          <input type="submit" class="btn-no form-submit" value="применить пароль">

        </div>

      </div>

    </div>

    <div class="page-lk__right">
      <ul class="page-lk__nav">
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Вход/регистрация</a></li>
        <li class="page-lk__nav-item page-lk__nav-curent"><a href="#" class="page-lk__nav-link">Личные данные</a></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Корзина</a> <span>(2)</span></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">Избранное</a> <span>(2)</span></li>
        <li class="page-lk__nav-item"><a href="#" class="page-lk__nav-link">История закаказов</a></li>
      </ul>
    </div>

  </div>

  

</div>


{% include "template/footer.html" %}