{% set title = "Наши клиенты" %} {% include "template/header.html" %}

<div class="page-wrap container">
  
  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">О компании: Наши клиенты</span>
  </div>

  <h1 class="page-title">Наши клиенты</h1>
  
  <div class="our-clients__list">
    <div class="our-clients__item">
      <img src="img/client1.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client2.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client3.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client4.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client5.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client6.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client7.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client8.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client9.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client10.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client11.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client8.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client3.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client5.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client12.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client13.png" alt="">
    </div>
    <div class="our-clients__item">
      <img src="img/client9.png" alt="">
    </div>
  </div>

</div>

{% include "template/footer.html" %}