{% set title = "Страница бренда" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <a href="#" class="bread-crumbs__link">Каталог брендов</a>
    <span class="bread-crumbs__current">Страница бренда</span>
  </div>
  
  <h1 class="page-title">Страница бренда</h1>
  
  <div class="page-brand-cont">
    <div class="page-brand-cont__left">
      <div class="page-brand-cont__img">
        <img src="img/manufacturer__7.png" alt="">
      </div>
      <a href="#" class="page-brand-cont__link">Официальный дилер бренд в России</a>
    </div>
    <div class="page-brand-cont__right">
      <p>Торговая марка Autrol принадлежит южнокрейской компании "Doun System Co Ltd", которая образована в 1989г. Doun System Co
      Ltd занимает лидирующие позиции в области приборостроения в Азиатском регионе. Компания предлагает высококачественное оборудование
      по демократичной цене, оборудование имеет наилучшее сочетание "цена+качество" в отрасли. Autrol (Аутрол, Корея) предлагает
      интеллектуальные датчики давления, датчики температуры и другое метрологическое оборудование, которое находит применение
      во всех отраслях современной промышленности. Датчики Autrol имеют все сертификаты для применения на территории России.</p>
      <p>Интеллектуальные датчики для онлайн давления, перепада давления и температуры измерения воды и сточных вод, нефтехимической,
      нефтегазовой, целлюлозно-бумажной, пищевой, фармацевтической, энергетики, биотоплива и альтернативных видов топлива процессы.</p>
    </div>
  </div>

  <div class="page-brand-list">
    <div class="page-brand-list__item">
      <a href="#" class="page-brand-list__item-link"></a>
      <div class="page-brand-list__item-img">
        <img src="img/" alt="">
      </div>
      <div class="page-brand-list__item-title">
         Датчики давления <span>100</span>
      </div>

    </div>
    <div class="page-brand-list__item">
      <a href="#" class="page-brand-list__item-link"></a>
      <div class="page-brand-list__item-img">
        <img src="img/" alt="">
      </div>
      <div class="page-brand-list__item-title">
         Аксессуары <span>100</span>
      </div>

    </div>
    <div class="page-brand-list__item">
      <a href="#" class="page-brand-list__item-link"></a>
      <div class="page-brand-list__item-img">
        <img src="img/" alt="">
      </div>
      <div class="page-brand-list__item-title">
         Бесконтактные датчики положения объекта <span>100</span>
      </div>

    </div>
    <div class="page-brand-list__item">
      <a href="#" class="page-brand-list__item-link"></a>
      <div class="page-brand-list__item-img">
        <img src="img/" alt="">
      </div>
      <div class="page-brand-list__item-title">
         Блоки питания и усилители <span>100</span>
      </div>

    </div>
  </div>

  <div class="catalog-slider-wrap">
    <div class="catalog-slider-wrap__title">
       Топ 10 товаров Autrol
    </div>
  
  
    <div class="catalog-slider">
      <div class="catalog-item">
        <div class="catalog-item__img">
          <a href="#">
            <img src="img/catalog__img1.jpg" alt="">
          </a>
        </div>
        <div class="catalog-item__title">
          <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
        </div>
        <div class="catalog-item__options">
          <div class="catalog-item__option">
            Производитель: Balluff
          </div>
          <div class="catalog-item__option">
            Маркировка: РС РГО
          </div>
          <div class="catalog-item__option">
            Код заказа: 555646
          </div>
        </div>
        <div class="catalog-item__price">
        </div>
        <div class="catalog-item__btn">
          <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                сообщит вам цену на товар</span></div>Узнать цену</a>
        </div>
        <div class="catalog-item__bot">
          <div class="catalog-item__status status-underOrder">
            под заказ
          </div>
  
          <div class="catalog-item__dop">
            <a href="#" class="catalog-item__favorites">
              <i class="icon-favorites_blue"></i>
              <span class="catalog-item__favorites-text">Добавить в избранное</span>
            </a>
            <a href="#" class="catalog-item__comparison">
              <i class="icon-comparison_blue"></i>
              <span class="catalog-item__comparison-text">Добавить в сравнение</span>
            </a>
          </div>
  
        </div>
        <div class="catalog-item__delivery">
          2-4 недели
        </div>
      </div>
      <div class="catalog-item">
        <div class="catalog-item__img">
          <a href="#">
            <img src="img/catalog__img1.jpg" alt="">
          </a>
        </div>
        <div class="catalog-item__title">
          <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
        </div>
        <div class="catalog-item__options">
          <div class="catalog-item__option">
            Производитель: Balluff
          </div>
          <div class="catalog-item__option">
            Маркировка: РС РГО
          </div>
          <div class="catalog-item__option">
            Код заказа: 555646
          </div>
        </div>
        <div class="catalog-item__price">
        </div>
        <div class="catalog-item__btn">
          <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                сообщит вам цену на товар</span></div>Узнать цену</a>
        </div>
        <div class="catalog-item__bot">
          <div class="catalog-item__status status-underOrder">
            под заказ
          </div>
  
          <div class="catalog-item__dop">
            <a href="#" class="catalog-item__favorites">
              <i class="icon-favorites_blue"></i>
              <span class="catalog-item__favorites-text">Добавить в избранное</span>
            </a>
            <a href="#" class="catalog-item__comparison">
              <i class="icon-comparison_blue"></i>
              <span class="catalog-item__comparison-text">Добавить в сравнение</span>
            </a>
          </div>
  
        </div>
        <div class="catalog-item__delivery">
          2-4 недели
        </div>
      </div>
      <div class="catalog-item">
        <div class="catalog-item__img">
          <a href="#">
            <img src="img/catalog__img1.jpg" alt="">
          </a>
        </div>
        <div class="catalog-item__title">
          <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
        </div>
        <div class="catalog-item__options">
          <div class="catalog-item__option">
            Производитель: Balluff
          </div>
          <div class="catalog-item__option">
            Маркировка: РС РГО
          </div>
          <div class="catalog-item__option">
            Код заказа: 555646
          </div>
        </div>
        <div class="catalog-item__price">
        </div>
        <div class="catalog-item__btn">
          <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                сообщит вам цену на товар</span></div>Узнать цену</a>
        </div>
        <div class="catalog-item__bot">
          <div class="catalog-item__status status-underOrder">
            под заказ
          </div>
  
          <div class="catalog-item__dop">
            <a href="#" class="catalog-item__favorites">
              <i class="icon-favorites_blue"></i>
              <span class="catalog-item__favorites-text">Добавить в избранное</span>
            </a>
            <a href="#" class="catalog-item__comparison">
              <i class="icon-comparison_blue"></i>
              <span class="catalog-item__comparison-text">Добавить в сравнение</span>
            </a>
          </div>
  
        </div>
        <div class="catalog-item__delivery">
          2-4 недели
        </div>
      </div>
      <div class="catalog-item">
        <div class="catalog-item__img">
          <a href="#">
            <img src="img/catalog__img1.jpg" alt="">
          </a>
        </div>
        <div class="catalog-item__title">
          <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
        </div>
        <div class="catalog-item__options">
          <div class="catalog-item__option">
            Производитель: Balluff
          </div>
          <div class="catalog-item__option">
            Маркировка: РС РГО
          </div>
          <div class="catalog-item__option">
            Код заказа: 555646
          </div>
        </div>
        <div class="catalog-item__price">
        </div>
        <div class="catalog-item__btn">
          <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                сообщит вам цену на товар</span></div>Узнать цену</a>
        </div>
        <div class="catalog-item__bot">
          <div class="catalog-item__status status-underOrder">
            под заказ
          </div>
  
          <div class="catalog-item__dop">
            <a href="#" class="catalog-item__favorites">
              <i class="icon-favorites_blue"></i>
              <span class="catalog-item__favorites-text">Добавить в избранное</span>
            </a>
            <a href="#" class="catalog-item__comparison">
              <i class="icon-comparison_blue"></i>
              <span class="catalog-item__comparison-text">Добавить в сравнение</span>
            </a>
          </div>
  
        </div>
        <div class="catalog-item__delivery">
          2-4 недели
        </div>
      </div>
      <div class="catalog-item">
        <div class="catalog-item__img">
          <a href="#">
            <img src="img/catalog__img1.jpg" alt="">
          </a>
        </div>
        <div class="catalog-item__title">
          <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
        </div>
        <div class="catalog-item__options">
          <div class="catalog-item__option">
            Производитель: Balluff
          </div>
          <div class="catalog-item__option">
            Маркировка: РС РГО
          </div>
          <div class="catalog-item__option">
            Код заказа: 555646
          </div>
        </div>
        <div class="catalog-item__price">
        </div>
        <div class="catalog-item__btn">
          <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                сообщит вам цену на товар</span></div>Узнать цену</a>
        </div>
        <div class="catalog-item__bot">
          <div class="catalog-item__status status-underOrder">
            под заказ
          </div>
  
          <div class="catalog-item__dop">
            <a href="#" class="catalog-item__favorites">
              <i class="icon-favorites_blue"></i>
              <span class="catalog-item__favorites-text">Добавить в избранное</span>
            </a>
            <a href="#" class="catalog-item__comparison">
              <i class="icon-comparison_blue"></i>
              <span class="catalog-item__comparison-text">Добавить в сравнение</span>
            </a>
          </div>
  
        </div>
        <div class="catalog-item__delivery">
          2-4 недели
        </div>
      </div>
      <div class="catalog-item">
        <div class="catalog-item__img">
          <a href="#">
            <img src="img/catalog__img1.jpg" alt="">
          </a>
        </div>
        <div class="catalog-item__title">
          <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
        </div>
        <div class="catalog-item__options">
          <div class="catalog-item__option">
            Производитель: Balluff
          </div>
          <div class="catalog-item__option">
            Маркировка: РС РГО
          </div>
          <div class="catalog-item__option">
            Код заказа: 555646
          </div>
        </div>
        <div class="catalog-item__price">
        </div>
        <div class="catalog-item__btn">
          <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                сообщит вам цену на товар</span></div>Узнать цену</a>
        </div>
        <div class="catalog-item__bot">
          <div class="catalog-item__status status-underOrder">
            под заказ
          </div>
  
          <div class="catalog-item__dop">
            <a href="#" class="catalog-item__favorites">
              <i class="icon-favorites_blue"></i>
              <span class="catalog-item__favorites-text">Добавить в избранное</span>
            </a>
            <a href="#" class="catalog-item__comparison">
              <i class="icon-comparison_blue"></i>
              <span class="catalog-item__comparison-text">Добавить в сравнение</span>
            </a>
          </div>
  
        </div>
        <div class="catalog-item__delivery">
          2-4 недели
        </div>
      </div>
      <div class="catalog-item">
        <div class="catalog-item__img">
          <a href="#">
            <img src="img/catalog__img1.jpg" alt="">
          </a>
        </div>
        <div class="catalog-item__title">
          <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
        </div>
        <div class="catalog-item__options">
          <div class="catalog-item__option">
            Производитель: Balluff
          </div>
          <div class="catalog-item__option">
            Маркировка: РС РГО
          </div>
          <div class="catalog-item__option">
            Код заказа: 555646
          </div>
        </div>
        <div class="catalog-item__price">
        </div>
        <div class="catalog-item__btn">
          <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                сообщит вам цену на товар</span></div>Узнать цену</a>
        </div>
        <div class="catalog-item__bot">
          <div class="catalog-item__status status-underOrder">
            под заказ
          </div>
  
          <div class="catalog-item__dop">
            <a href="#" class="catalog-item__favorites">
              <i class="icon-favorites_blue"></i>
              <span class="catalog-item__favorites-text">Добавить в избранное</span>
            </a>
            <a href="#" class="catalog-item__comparison">
              <i class="icon-comparison_blue"></i>
              <span class="catalog-item__comparison-text">Добавить в сравнение</span>
            </a>
          </div>
  
        </div>
        <div class="catalog-item__delivery">
          2-4 недели
        </div>
      </div>
    </div>
  
  </div>

  <div class="page-brand-category-wrap">
    <div class="page-brand-category-wrap__title">
       Категории для Autrol
    </div>

    <div class="page-brand-category-cont">
      <div class="page-brand-category-l1">
        <div class="page-brand-category-l1__title">
           <a href="#">Аксессуары <span>(200)</span></a>
        </div>

        <div class="page-brand-category-l2">
          <div class="page-brand-category-l2__title">
             <a href="#">Аксессуары для магнитострикционных датчиков линейных перемещений <span>(800)</span></a>
          </div>
          <div class="page-brand-category-l3">
            <div class="page-brand-category-l3__item">
              <a href="#">Позиционные магниты для профильных датчиков линейных перемещений <span>(200)</span></a>
            </div>
            <div class="page-brand-category-l3__item">
              <a href="#">Позиционные магниты для стержневых датчиков линейных перемещений <span>(200)</span></a>
            </div>
            <div class="page-brand-category-l3__item">
              <a href="#">Поплавки для стержневых датчиков линейных перемещений <span>(400)</span></a>
            </div>
          </div>
        </div>
        <div class="page-brand-category-l2">
          <div class="page-brand-category-l2__title">
             <a href="#">Аксессуары для магнитострикционных датчиков линейных перемещений <span>(800)</span></a>
          </div>
          <div class="page-brand-category-l3">
            <div class="page-brand-category-l3__item">
              <a href="#">Рефлекторы (отражатели) для оптических датчиков <span>(200)</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="page-brand-category-l1">
        <div class="page-brand-category-l1__title">
           <a href="#">Бесконтактные датчики положения объекта <span>(800)</span></a>
        </div>

        <div class="page-brand-category-l2">
          <div class="page-brand-category-l2__title">
             <a href="#">Емкостные датчики <span>(300)</span></a>
          </div>
          <div class="page-brand-category-l3">
            <div class="page-brand-category-l3__item">
              <a href="#">Емкостные датчики в прямоугольных корпусах <span>(200)</span></a>
            </div>
            <div class="page-brand-category-l3__item">
              <a href="#">ПЕмкостные датчики в цилиндрических корпусах <span>(200)</span></a>
            </div>
            <div class="page-brand-category-l3__item">
              <a href="#">Поплавки для стержневых датчиков линейных перемещений <span>(400)</span></a>
            </div>
          </div>
        </div>
        <div class="page-brand-category-l2">
          <div class="page-brand-category-l2__title">
             <a href="#">Магнитные датчики <span>(300)</span></a>
          </div>
          <div class="page-brand-category-l3">
            <div class="page-brand-category-l3__item">
              <a href="#">Магнитные датчики для пневмоцилиндров <span>(200)</span></a>
            </div>
            <div class="page-brand-category-l3__item">
              <a href="#">Магнитные датчики приближения <span>(200)</span></a>
            </div>
          </div>
        </div>
        <div class="page-brand-category-l2">
          <div class="page-brand-category-l2__title">
             <a href="#">Ультразвуковые датчики <span>(300)</span></a>
          </div>
          <div class="page-brand-category-l3">
            <div class="page-brand-category-l3__item">
              <a href="#">Ультразвуковые датчики в прямогольных корпусах <span>(200)</span></a>
            </div>
            <div class="page-brand-category-l3__item">
              <a href="#">Ультразвуковые датчики в цилиндрических корпусах <span>(200)</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-brand-goods-wrap">

    <div class="goods-table-wrap">
      <div class="goods-table-top">
        <div class="table-pagination">
          <div class="pagenavi">
            <ul class="pagenavi__list">
              <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
              <li class="pagenavi__item"><a href="#">1</a></li>
              <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
              <li class="pagenavi__item"><a href="#">3</a></li>
              <li class="pagenavi__item"><a href="#">4</a></li>
              <li class="pagenavi__item"><a href="#">5</a></li>
              <li class="pagenavi__item"><a href="#">...</a></li>
              <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="table-filters">
    
          <div class="table-filters__list">
            <div class="table-filter__sorting">
              <div class="table-filter__sorting-label">сортировка</div>
              <select class="custom-ico" name="" id="">
                <option value="delivery_dateUp">По сроку поставки</option>
                <option value="delivery_dateDown">По сроку поставки</option>
                <option value="popularityUp">По популярности</option>
                <option value="popularityDown">По популярности</option>
                <option value="alphabetUp">По алфавиту</option>
                <option value="alphabetDown">По алфавиту</option>
              </select>
            </div>
            <div class="table-filter__quantity">
              <div class="table-filter__quantity-label">товаров</div>
              <select name="" id="">
                <option value="20">20</option>
                <option value="60">60</option>
                <option value="120">120</option>
              </select>
            </div>
            <div class="table-filter__add-column">
              <a href="#popup_column" class="add-column popup-link">Добавить/удалить столбцы</a>
              <div class="hidden">
                <div class="popup-column" id="popup_column">
                  <div class="popup-column__title">
                    Столбцы
                  </div>
                  <div class="popup-column__desc">
                    Выберте столбцы для отображения
                  </div>
    
                  <div class="popup-column__list">
    
                    <div class="popup-column__list-l">
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column1" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column1">Цена</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column3" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column3">Тип</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column5" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column5">Принцип действия</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column7" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column7">Питание</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column9" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column9">Материал корпуса</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column11" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column11">Способ подключения</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column13" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column13">Размеры</label>
                        </div>
                      </div>
                    </div>
                    <div class="popup-column__list-r">
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column2" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column2">Интерфейс</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column4" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column4">Дальность действия</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column6" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column6">Частота переключения</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column8" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column8">Разъем</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column10" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column10">Установка</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column12" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column12">Рабочее напряжение</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column14" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column14">Степень защиты</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column15" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column15">Конструкция</label>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="popup-column__bottom">
                    <input type="submit" class="btn-blue form-submit" value="применить">
                  </div>
    
                </div>
              </div>
            </div>
            <div class="table-filter__view">
              <a href="#" class="view-card"><i class="icon-view_card"></i></a>
              <a href="#" class="view-list active"><i class="icon-view_list"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="goods-table-form">
        <div class="quick-search">
        
          <div class="quick-search__filter quick-search__filter-steps">
            <div class="quick-search__filter-row">
              <div class="quick-search__filter-col">
                <select name="" id="" class="quick-search__filter-step1">
                  <option value="Аксессуары" selected disabled>Аксессуары</option>
                  <option value="Бесконтактные датчики положения объекта">Бесконтактные датчики положения объекта</option>
                  <option value="Блоки питания и усилителя">Блоки питания и усилителя</option>
                  <option value="Датчики давления">Датчики давления</option>
                  <option value="Датчики перемещений и расстояния">Датчики перемещений и расстояния</option>
                  <option value="Датчики температуры">Датчики температуры</option>
                  <option value="Датчики уровня">Датчики уровня</option>
                  <option value="Оптические датчики и реле потока">Оптические датчики и реле потока</option>
                  <option value="Системы диагностики">Системы диагностики</option>
                  <option value="Системы идентификации">Системы идентификации</option>
                  <option value="Счетчики импульсов и цифровые индикаторы">Счетчики импульсов и цифровые индикаторы</option>
                  <option value="Щелевые датчики">Щелевые датчики</option>
                  <option value="Электромеханические датчики положения объекта">Электромеханические датчики положения объекта</option>
                </select>
              </div>
              <div class="quick-search__filter-col">
                <select name="" id="" class="quick-search__filter-step2" disabled>
                  <option value="Раздел 2">Раздел 2</option>
                  <option value="Раздел 2">Раздел 2</option>
                  <option value="Раздел 2">Раздел 2</option>
                  <option value="Раздел 2">Раздел 2</option>
                  <option value="Раздел 2">Раздел 2</option>
                </select>
              </div>
              <div class="quick-search__filter-col">
                <select name="" id="" class="quick-search__filter-step3" disabled>
                  <option value="Раздел 3">Раздел 3</option>
                  <option value="Раздел 3">Раздел 3</option>
                  <option value="Раздел 3">Раздел 3</option>
                  <option value="Раздел 3">Раздел 3</option>
                  <option value="Раздел 3">Раздел 3</option>
                </select>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    
      <div class="goods-table-block">
        <table class="goods-table" id="goods_table">
          <thead>
            <tr>
              <th data-orderable="false" class="th-goods">Товар</th>
              <th data-orderable="false" class="th-desc">Описание</th>
              <th class="th-price">Цена</th>
              <th class="th-type">Тип</th>
              <th class="th-operating-principle">Принцип действия</th>
              <th class="th-supply">Питание</th>
              <th class="th-material">Материал корпуса</th>
              <th class="th-connection-method">Способ подключения</th>
              <th class="th-dimensions">Размеры</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000 <span>руб.</span> </div>
                  <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status">в наличии</div>
                </div>
      
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__add">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status status-underOrder">под заказ</div>
                  <div class="goods-table__delivery">
                    2-4 недели
                  </div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000</div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__autInfo">
                  Авторизируйтесь, чтобы узнать цену
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-aut">авторизация</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000 <span>руб.</span> <div class="price-info">?
                      <div class="price-info__text">
                        <span>поставка 2-4 недели</span>
                      </div>
                    </div>
                  </div>
                  <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status status-underOrder">под заказ</div>
                  <div class="goods-table__delivery">
                    2-4 недели
                  </div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__add">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000</div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="goods-table-bottom">
        <div class="pagenavi">
          <ul class="pagenavi__list">
            <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
            <li class="pagenavi__item"><a href="#">1</a></li>
            <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
            <li class="pagenavi__item"><a href="#">3</a></li>
            <li class="pagenavi__item"><a href="#">4</a></li>
            <li class="pagenavi__item"><a href="#">5</a></li>
            <li class="pagenavi__item"><a href="#">...</a></li>
            <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="page-brand-bottom">
    <div class="page-brand-interesting">
      <div class="page-brand-interesting__title">
         Это интересно
      </div>
      <div class="page-brand-interesting__cont">
        <p> Торговая марка Autrol принадлежит южнокрейской компании "Doun System Co Ltd", которая образована в 1989г. Doun System Co
        Ltd занимает лидирующие позиции в области приборостроения в Азиатском регионе. Компания предлагает высококачественное оборудование
        по демократичной цене, оборудование имеет наилучшее сочетание "цена+качество" в отрасли. Autrol (Аутрол, Корея) предлагает
        интеллектуальные датчики давления, датчики температуры и другое метрологическое оборудование, которое находит применение
        во всех отраслях современной промышленности. Датчики Autrol имеют все сертификаты для применения на территории России.</p>
      </div>
    </div>
    <div class="page-brand-download-catalogs">
      <div class="page-brand-download-catalogs__title">
        Скачайте каталоги Autrol
      </div>
      <div class="page-brand-download-catalogs__cont">
        <ul>
          <li><a href="#">Скачать каталог 2018</a></li>
          <li><a href="#">Скачать каталог 2017</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-brand-video">
    <div class="page-brand-video__title">
       Видео
    </div>

    <div class="video-list">
      <div class="video-list__item">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
      </div>
      <div class="video-list__item">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
      </div>
      <div class="video-list__item">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
      </div>
      <div class="video-list__item">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
      </div>
    </div>
  </div>

</div>

{% include "template/footer.html" %}