{% set title = "Прайс" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <h1 class="page-title">Прайс</h1>
  <p>Полный каталог наших изданий содержится в прайс-листах, которые Вы можете сохранить на своем компьютере.</p>

  <div class="price-list">
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс на датчики</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс на датчики</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс на датчики</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс индикаторы</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс индикаторы</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс индикаторы</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс на расходомеры</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс на расходомеры</a>
    </div>
    <div class="price-item">
      <a href="#" class="icon-pdf">Прайс на расходомеры</a>
    </div>
  </div>

</div>

<div class="block-form-gray">
  <div class="container">
    <div class="block-form-gray__title">
       Задать вопрос
    </div>

    <div class="block-form-gray__row">
      <div class="block-form-gray__col">
        
        <div class="block-form-gray__row">
          <div class="block-form-gray__col">
            <div class="form-input">
              <label for="fio7" class="form-input__label">Фамилия Имя
                <span>*</span>
              </label>
              <input type="text" class="form-input__input" placeholder="Введите имя" id="fio7">
            </div>
            <div class="form-input">
              <label for="organization7" class="form-input__label">Организация
                <span>*</span>
              </label>
              <input type="text" class="form-input__input" placeholder="Введите организацию" id="organization7">
            </div>
          </div>
          <div class="block-form-gray__col">
            <div class="form-input">
              <label for="phone7" class="form-input__label">Телефон
                <span>*</span>
              </label>
              <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone7">
            </div>
            <div class="form-input">
              <label for="email7" class="form-input__label">E-mail
                <span>*</span>
              </label>
              <input type="email" class="form-input__input" placeholder="Введите e-mail" id="email7">
            </div>
          </div>
        </div>

      </div>
      <div class="block-form-gray__col">
        <div class="form-input">
          <label for="fio5" class="form-input__label">Задайте Ваш вопрос
            <span>*</span>
          </label>
          <textarea name="" id="question7" class="form-input__textarea"></textarea>
        </div>
      </div>
    </div>

    <div class="block-form-gray__bottom">
      <div class="block-form-gray__bottom-left">
        <input type="submit" class="btn-blue form-submit" value="Отправить">
      </div>
      <div class="block-form-gray__bottom-right">
        <div class="privacy-policy">
          <input type="checkbox" id="privacy_policy" class="privacy-policy__input" required>
          <label class="privacy-policy__label" for="privacy_policy">Даю своё согласие на передачу персональных данных в соответствии
            с Федеральным законом «
            <a href="#">О персональных данных</a>».
            <span>*</span>
          </label>
        </div>
        <div class="block-form-gray__info">
          <span>*</span> Поля обязательные для заполнения
        </div>
      </div>
    </div>

  </div>
</div>

{% include "template/footer.html" %}