{% set title = "Избранное" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Бесконтактные датчики положения объекта</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Емкостные датчики</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Емкостные датчики в прямоугольных корпусах</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__current">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</span>
  </div>

  <h1 class="page-title">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</h1>

  <div class="product-page">

    <div class="product-page__top">

      <div class="product-gallery">
        <div class="product-gallery__big">
          <div class="item-sale">скидка <span>20%</span></div>
          <div class="product-gallery__big-list">
            <a data-fullimg="gallery-item1" data-fancybox="product-gallery" class="product-gallery__big-item curent" href="img/product.png"><img src="img/product.png" alt=""></a>
            <a data-fullimg="gallery-item2" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img1.jpg"><img src="img/catalog__img1.jpg" alt=""></a>
            <a data-fullimg="gallery-item3" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img2.png"><img src="img/catalog__img2.png" alt=""></a>
            <a data-fullimg="gallery-item4" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img3.png"><img src="img/catalog__img3.png" alt=""></a>
            <a data-fullimg="gallery-item5" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/product.png"><img src="img/product.png" alt=""></a>
            <a data-fullimg="gallery-item6" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/product.png"><img src="img/product.png" alt=""></a>
            <a data-fullimg="gallery-item7" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img1.jpg"><img src="img/catalog__img1.jpg" alt=""></a>
            <a data-fullimg="gallery-item8" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img2.png"><img src="img/catalog__img2.png" alt=""></a>
            <a data-fullimg="gallery-item9" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img3.png"><img src="img/catalog__img3.png" alt=""></a>
            <a data-fullimg="gallery-item10" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/product.png"><img src="img/product.png" alt=""></a>
          </div>
        </div>
        <div class="product-gallery__dots dots-slider">

          <div class="dots-slider__item">
            <div data-miniature="gallery-item1" class="product-gallery__dot curent">
              <img src="img/product.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item2" class="product-gallery__dot">
              <img src="img/catalog__img1.jpg" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item3" class="product-gallery__dot">
              <img src="img/catalog__img2.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item4" class="product-gallery__dot">
              <img src="img/catalog__img3.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item5" class="product-gallery__dot">
              <img src="img/product.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item6" class="product-gallery__dot">
              <img src="img/product.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item7" class="product-gallery__dot">
              <img src="img/catalog__img1.jpg" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item8" class="product-gallery__dot">
              <img src="img/catalog__img2.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item9" class="product-gallery__dot">
              <img src="img/catalog__img3.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item10" class="product-gallery__dot">
              <img src="img/product.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="product-inform">

        <div class="product-inform__cont">
          <div class="product-inform__row">
            <div class="product-inform__col">
              <div class="product-inform__title">Balluff BNS 819-D02-D12-100-10-FD</div>
              <div class="product-inform__code">Код товара 2233445</div>
            </div>
            <div class="product-inform__col">
              <div class="product-inform__manufacturer">
                <span>Производитель</span>
                <a href="#"><img src="img/country-germany.svg" alt=""> Balluff</a>
              </div>
            </div>
          </div>

          <div class="product-inform__oldPrice">
             2 560 <span>руб.</span>
          </div>
          <div class="product-inform__price">
             2 360 <span>руб.</span>

            <div class="product-inform__status">в наличии</div>
          </div>
          <div class="product-inform__quantityAdd">
            <div class="product-inform__quantity">
              <div class="quantity">
                <span class='quantity__btn quantity__btn-minus'></span>
                <input type="text" class="quantity__input" name="" value="1" />
                <span class='quantity__btn quantity__btn-plus'></span>
              </div>
            </div>
            <div class="product-inform__add">
              <a href="#product_cart_popup" class="btn-blue popup-link">в корзину</a>
            </div>

            <div class="hidden">
              <div class="product-cart-popup" id="product_cart_popup">
                <div class="product-cart-popup__title">
                   Товар добавлен в корзину
                </div>
                <div class="product-cart-popup__goods">
                  <div class="product-cart-popup__goods-img">
                    <a href="#"></a>
                  </div>
                  <div class="product-cart-popup__goods-cont">
                    <div class="product-cart-popup__goods-title">
                       <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                    </div>
                    <div class="product-cart-popup__goods-line">
                      <div class="product-cart-popup__goods-l">
                        <div class="quantity">
                          <span class='quantity__btn quantity__btn-minus'></span>
                          <input type="text" class="quantity__input" name="" value="1" />
                          <span class='quantity__btn quantity__btn-plus'></span>
                        </div>
                        <div class="price">х <span>1 205</span> руб.</div>
                      </div>
                      <div class="product-cart-popup__goods-r">
                         Всего:<br> 1 205 <span>руб.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="submit" class="btn-blue form-submit" value="оформить заказ">

                <a href="#" class="product-cart-popup__link">Итого в Вашей корзине 1 товар на сумму 1 205 руб.</a>

                <div class="roduct-cart-popup__similar-title">Похожие товары</div>
                <div class="roduct-cart-popup__similar">
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 200 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 300 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 200 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 200 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="product-inform__links">
          <a href="#" class="product-inform__certificate">
            <i class="icon-certificate_blue"></i>
            <span class="product-inform__certificate-text">Сертификат дилера</span>
          </a>
          <a href="#" class="product-inform__favorites">
            <i class="icon-favorites_blue"></i>
            <span class="product-inform__favorites-text">Добавить в избранное</span>
          </a>
          <a href="#" class="favorites-item__comparison">
            <i class="icon-comparison_blue"></i>
            <span class="favorites-item__comparison-text">Сравнить</span>
            
          </a>
          <a href="#" class="favorites-item__print">
            <i class="icon-print_blue"></i>
            <span class="favorites-item__print-text">Распечатать</span>
          </a>
        </div>

      </div>

    </div>

    <div class="product-page__bottom">

      <div class="product-page__tabNav">
        <div class="product-page__tabNav-item active">
          <a href="#description">Описание</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#specifications">Технические характеристики</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#documentation">Документация</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#method_obtaining">Способ получения товара</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#accessories">Аксессуары</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#ask_question">Задать вопрос</a>
        </div>
      </div>

      <div class="product-page__tabs">

        <div class="product-page__tab active" id="description">
          <div class="accordion-nav">Описание</div>

          <div class="product-page__tab-cont">
            <div class="product-desc">
              <p>Миниатюрные оптические датчики Balluff серии BOS 08M и BOS 12M с диффузионным отражением содержат передатчик и приемник
                света, которые размещены в одном цилиндрическом корпусе. Передатчик испускает световой луч, и как только объект попадает
                в луч, то он отражает часть света от своей поверхности обратно в приемник, в оптическом сенсоре происходит переключение,
                т.е. изменение функции на выходе. Необходимо иметь в виду, что расстояние зависит от размера, формы, цвета и типа поверхности
                объекта. Максимальные расстояния срабатывания рассчитаны для объекта с отражением 90%.</p>
              <p> Диффузионные оптические датчики Balluff BOS 08M и BOS 12M выпускаются миниатюрных цилиндрических корпусах с различными
                расстояниями срабатывания и различными типами выходного сигнала. Оптические датчики Balluff BOS 08M и Balluff BOS 12M
                в цилиндрическом корпусе совместимы механически и электрически с индуктивными датчиками.</p>
            </div>
          </div>

        </div>
        <div class="product-page__tab" id="specifications">
          <div class="accordion-nav">Технические характеристики</div>
          <div class="product-page__tab-cont">

            <div class="product-specifications">

              <div class="product-specifications__table">
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Тип
                  </div>
                  <div class="product-specifications__td">
                    датчик контрастной метки
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Принцип действия
                  </div>
                  <div class="product-specifications__td">
                    оптический
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Тип излучателя
                  </div>
                  <div class="product-specifications__td">
                    LED красный, зеленый, синий
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Расстояние срабатывания
                  </div>
                  <div class="product-specifications__td">
                    9 мм
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Температура эксплуатации
                  </div>
                  <div class="product-specifications__td">
                    -10.. 55 °C
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Функция на выходе
                  </div>
                  <div class="product-specifications__td">
                    PNP (NPN) NO/NC, аналоговый 0.. 5.5В
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Частота переключений
                  </div>
                  <div class="product-specifications__td">
                    до 30000 Гц
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Питание
                  </div>
                  <div class="product-specifications__td">
                    DC
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Материал корпуса
                  </div>
                  <div class="product-specifications__td">
                    металл, ABS
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Способ подключения
                  </div>
                  <div class="product-specifications__td">
                    разъем
                  </div>
                </div>
              </div>
              
            </div>

          </div>
        </div>
        <div class="product-page__tab" id="documentation">
          <div class="accordion-nav">Документация</div>

          <div class="product-page__tab-cont">
            <div class="tab-documentation">
              <div class="tab-documentation__title">
                Файлы IODD для скачивания
              </div>
            
              <div class="tab-documentation__item">
            
                <div class="documentation-lang">
            
                  <a href="#" class="documentation-lang__archive">IO описание устройства - IODD</a>
            
                  <label>Язык</label>
                  <select class="documentation-lang__select" name="iodd_language">
                    <option value="http://#русский" selected="selected" label="русский">русский</option>
                    <option value="http://#английский" label="английский">английский</option>
                    <option value="http://#немецкий" label="немецкий">немецкий</option>
                    <option value="http://#японский" label="японский">японский</option>
                    <option value="http://#португальский" label="португальский">португальский</option>
                    <option value="http://#корейский" label="корейский">корейский</option>
                    <option value="http://#испанский" label="испанский">испанский</option>
                    <option value="http://#французкий" label="французкий">французкий</option>
                    <option value="http://#китайский" label="китайский">китайский</option>
                    <option value="http://#итальянский" label="итальянский">итальянский</option>
                  </select>
            
                  <a href="#" class="documentation-lang__link">IO описание устройства PDF</a>
                </div>
            
              </div>
            
              <div class="tab-documentation__title">
                Сертификаты
              </div>
            
              <div class="tab-documentation__item">
                <div class="table-wrap">
                  <table>
                    <thead>
                      <tr>
                        <th>Документ</th>
                        <th>Размер</th>
                        <th>Тип</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            
              <div class="tab-documentation__title">
                CAD
              </div>
            
              <div class="tab-documentation__item">
                <div class="table-wrap">
                  <table>
                    <thead>
                      <tr>
                        <th> В формате CAD</th>
                        <th>Имя файла</th>
                        <th>Размер</th>
                        <th>Тип</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>DWG (2D)</td>
                        <td><a href="#" target="_blank"> CAD_DWG_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                      <tr>
                        <td>DXF (2D)</td>
                        <td><a href="#" target="_blank"> CAD_DXF_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                      <tr>
                        <td>SAT (3D)</td>
                        <td><a href="#" target="_blank"> CAD_SAT_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                      <tr>
                        <td>STP (3D)</td>
                        <td><a href="#" target="_blank"> CAD_STP_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            
              <div class="tab-documentation__item">
                <a href="#">Другие форматы файлов CAD (от стороннего поставщика)</a>
                <p>Примечание: Обратите внимание на то, что CAD данные упрощены и показывают только средний уровень подробностей. Необходимо
                  принять во внимание производственные допуски.</p>
              </div>
            
              <div class="tab-documentation__title">
                Скачать программное обеспечение
              </div>
            
              <div class="tab-documentation__item">
                <a href="#">Другое ПО доступно в разделе "Сервис / Скачивание".</a>
              </div>
              <div class="tab-documentation__title">
                Файл EPLAN
              </div>
            
              <div class="tab-documentation__item">
                <div class="table-wrap">
                  <table>
                    <thead>
                      <tr>
                        <th>Файла</th>
                        <th>Размер</th>
                        <th>Тип</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" target="_blank"> Скачать EPLAN</a></td>
                        <td>71,5 kB</td>
                        <td>EDZ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            
            </div>
          </div>
          
        </div>
        <div class="product-page__tab" id="method_obtaining">
          <div class="accordion-nav">Способ получения товара</div>
          <div class="product-page__tab-cont">Способ получения товара</div>
        </div>
        <div class="product-page__tab" id="accessories">
          <div class="accordion-nav">Аксессуары</div>
          <div class="product-page__tab-cont">
            <div class="catalog-list">
            
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img1.jpg" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
            
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text">
                      <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                    </div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img3.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  <span class="old-price">123 000</span>120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text">
                      <span>поставка 2-4 недели</span>
                    </div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status">
                    в наличии
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__span">
                  Авторизируйтесь, чтобы узнать цену
                </div>
                <div class="catalog-item__btn">
                  <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text"><span>поставка 2-4 недели</span></div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__span">
                  Авторизируйтесь, чтобы узнать цену
                </div>
                <div class="catalog-item__btn">
                  <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text"><span>поставка 2-4 недели</span></div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img3.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  <span class="old-price">123 000</span>120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text">
                      <span>поставка 2-4 недели</span>
                    </div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status">
                    в наличии
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img1.jpg" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link">
                    <div class="btn-no__text">
                      <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                    </div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
            
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link">
                    <div class="btn-no__text">
                      <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                    </div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="product-page__tab" id="ask_question">
          <div class="accordion-nav">Задать вопрос</div>
          <div class="product-page__tab-cont">
            <div class="ask-question-form">
              <div class="ask-question-form__title">
                Задать вопрос
              </div>
              <div class="ask-question-form__cont">
                <div class="ask-question-form__row-3">
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="fio7" class="form-input__label">Фамилия Имя
                        <span>*</span>
                      </label>
                      <input type="text" class="form-input__input" placeholder="Введите имя" id="fio7">
                    </div>
                  </div>
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="phone7" class="form-input__label">Телефон
                        <span>*</span>
                      </label>
                      <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone7">
                    </div>
                  </div>
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="email7" class="form-input__label">E-mail
                        <span>*</span>
                      </label>
                      <input type="email" class="form-input__input" placeholder="Введите e-mail" id="email7">
                    </div>
                  </div>
                </div>
                <div class="ask-question-form__row">
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="subject5" class="form-input__label">Тема
                        <span>*</span>
                      </label>
                      <textarea name="" id="subject7" class="form-input__textarea" placeholder="Введите тему"></textarea>
                    </div>
                  </div>
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="question7" class="form-input__label">Задайте Ваш вопрос
                        <span>*</span>
                      </label>
                      <textarea name="" id="question7" class="form-input__textarea" placeholder="Напишите нвопрос"></textarea>
                    </div>
                  </div>
                </div>
            
                <div class="ask-question-form__bottom">
                  <div class="ask-question-form__bottom-l">
                    <div class="privacy-policy">
                      <input type="checkbox" id="privacy_policy" class="privacy-policy__input" required>
                      <label class="privacy-policy__label" for="privacy_policy">Даю своё согласие на передачу персональных данных в соответствии
                        с Федеральным законом «
                        <a href="#">О персональных данных</a>».
                        <span>*</span>
                      </label>
                    </div>
                  </div>
                  <div class="ask-question-form__bottom-r">
                    <div class="popup-form__info">
                      <span>*</span> Поля обязательные для заполнения
                    </div>
                  </div>
                </div>
                <div class="ask-question-form__submit">
                  <input type="submit" class="btn-blue form-submit" value="отправить">
                </div>
              </div>
            </div>
          </div>
          
        </div>

      </div>

    </div>

  </div>

</div>


{% include "template/footer.html" %}