{% set title = "Публикации" %} {% include "template/header.html" %}

<div class="page-wrap">

  <div class="container">
    <div class="bread-crumbs">
      <a href="#" class="bread-crumbs__link">Главная</a>
      <span class="bread-crumbs__current">Публикации</span>
    </div>

    <h1 class="page-title">Новый логотип компании Balluff</h1>
  </div>
  
  <div class="page-publications">

    <div class="page-publications__nav">
      <div class="container">
        <div class="page-publications__nav-item active"><a href="#news">Новости</a></div>
        <div class="page-publications__nav-item"><a href="#video">Видео</a></div>
      </div>
    </div>

    <div class="page-publications__tabs">
    
      <div class="page-publications__tab active" id="news">
        <div class="container">
          
          <div class="news-list">
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Новый логотип компании Balluff
              </div>
              <div class="news-list__item-desc">
                <p>Компания Balluff - немецкий производитель датчиков и компонентов для автоматизации производства провела ребрендинг...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Расходомер сжатого воздуха IFM Electronic SD 0523
              </div>
              <div class="news-list__item-desc">
                <p>Расходомер SD0523 от компании IFM Electronic (Германия) для систем подачи сжатого воздуха на производстве...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Датчик реле потока IFM Electronic SBY321
              </div>
              <div class="news-list__item-desc">
                <p>Популярная серия промышленных механических датчиков потока SBY компании IFM Electronic дополнилась новой моделью SBY321...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Новый логотип компании Balluff
              </div>
              <div class="news-list__item-desc">
                <p>Компания Balluff - немецкий производитель датчиков и компонентов для автоматизации производства провела ребрендинг...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Расходомер сжатого воздуха IFM Electronic SD 0523
              </div>
              <div class="news-list__item-desc">
                <p>Расходомер SD0523 от компании IFM Electronic (Германия) для систем подачи сжатого воздуха на производстве...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Датчик реле потока IFM Electronic SBY321
              </div>
              <div class="news-list__item-desc">
                <p>Популярная серия промышленных механических датчиков потока SBY компании IFM Electronic дополнилась новой моделью SBY321...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Новый логотип компании Balluff
              </div>
              <div class="news-list__item-desc">
                <p>Компания Balluff - немецкий производитель датчиков и компонентов для автоматизации производства провела ребрендинг...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Расходомер сжатого воздуха IFM Electronic SD 0523
              </div>
              <div class="news-list__item-desc">
                <p>Расходомер SD0523 от компании IFM Electronic (Германия) для систем подачи сжатого воздуха на производстве...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
            <div class="news-list__item">
              <div class="news-list__item-title">
                 Датчик реле потока IFM Electronic SBY321
              </div>
              <div class="news-list__item-desc">
                <p>Популярная серия промышленных механических датчиков потока SBY компании IFM Electronic дополнилась новой моделью SBY321...</p>
              </div>
              <a href="#" class="news-list__item-link">подробнее</a>

              <div class="news-list__item-bottom">
                <span>08.09.2018</span>
              </div>
            </div>
          </div>

          <div class="pagenavi">
            <ul class="pagenavi__list">
              <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
              <li class="pagenavi__item"><a href="#">1</a></li>
              <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
              <li class="pagenavi__item"><a href="#">3</a></li>
              <li class="pagenavi__item"><a href="#">4</a></li>
              <li class="pagenavi__item"><a href="#">5</a></li>
              <li class="pagenavi__item"><a href="#">...</a></li>
              <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="page-publications__tab" id="video">
        <div class="container">
          
          <div class="video-list">
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Новое поступление датчиков</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Обзор датчиков давления</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Новое поступление датчиков</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Обзор датчиков давления</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Новое поступление датчиков</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Обзор датчиков давления</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Новое поступление датчиков</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Обзор датчиков давления</div>
            </div>
            <div class="video-list__item">
              <a data-fancybox href="https://www.youtube.com/watch?v=yAuOug2TONM" class="video-list__item-link" style="background-image: url('http://img.youtube.com/vi/yAuOug2TONM/mqdefault.jpg');"></a>
              <div class="video-list__item-title">Выбираем датчики движения</div>
            </div>
          </div>

          <div class="pagenavi">
            <ul class="pagenavi__list">
              <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
              <li class="pagenavi__item"><a href="#">1</a></li>
              <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
              <li class="pagenavi__item"><a href="#">3</a></li>
              <li class="pagenavi__item"><a href="#">4</a></li>
              <li class="pagenavi__item"><a href="#">5</a></li>
              <li class="pagenavi__item"><a href="#">...</a></li>
              <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  
  </div>

</div>

{% include "template/footer.html" %}