{% set title = "Новый логотип компании Balluff" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <h1 class="page-title">Новый логотип компании Balluff</h1>

  <div class="news-single">
    <img src="img/img.jpg" alt="" class="float-left">
    <p>Проект SENSOREN.РУ - компании Город Инструмента, предлагает для автоматизации Вашего производства высококачественные датчики
      ведущих мировых производителей.</p>
    <p>Вашему вниманию представлены промышленные датчики (промышленные сенсоры) для решения различных задач по автоматизации
      на производстве, для оптимизации технологических процессов и контроля качества продукции.</p>
    <p>Для контроля положения и обнаружения объектов используются датчики приближения, такие как: индуктивные датчики, которые
      детектируют объекты из металла; емкостные датчики, оптические (фотоэлектрические) датчики, которые срабатывают на объекты
      из различных материалов; магнитные датчики для контроля крайних положений поршня в пневмоцилиндров. Для контроля положения
      в станках широкое распространение получили индуктивные и электромеханические блочные выключатели Balluff BNS. Бесконтактные
      датчики положения объекта получили широкое распространение благодаря своей надежности, отсутствии механической части, высокой
      частоте срабатывания и компактным размерам, к тому же в последнее десятилетие стоимость бесконтактных датчиков положения
      резко сократилась.</p>
    <p>Проект SENSOREN.РУ - компании Город Инструмента, предлагает для автоматизации Вашего производства высококачественные датчики
      ведущих мировых производителей.</p>
    <p>Вашему вниманию представлены промышленные датчики (промышленные сенсоры) для решения различных задач по автоматизации
      на производстве, для оптимизации технологических процессов и контроля качества продукции.</p>
    <p>Для контроля положения и обнаружения объектов используются датчики приближения, такие как: индуктивные датчики, которые
      детектируют объекты из металла; емкостные датчики, оптические (фотоэлектрические) датчики, которые срабатывают на объекты
      из различных материалов; магнитные датчики для контроля крайних положений поршня в пневмоцилиндров. Для контроля положения
      в станках широкое распространение получили индуктивные и электромеханические блочные выключатели Balluff BNS. Бесконтактные
      датчики положения объекта получили широкое распространение благодаря своей надежности, отсутствии механической части, высокой
      частоте срабатывания и компактным размерам, к тому же в последнее десятилетие стоимость бесконтактных датчиков положения
      резко сократилась.</p>

    <div class="news-single__date">08.09.2018</div>
  </div>
  <div class="page-links">
    <a href="#" class="page-links__prev">назад к новостям</a>
    <a href="#" class="page-links__next">следующая новость</a>
  </div>
  

</div>

{% include "template/footer.html" %}