{% set title = "Быстрый поиск товаров" %} {% include "template/header.html" %}

<div class="page-wrap container">
  
  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Быстрый поиск товаров</span>
  </div>

  <h1 class="page-title">Быстрый поиск товаров</h1>
  <p>Наша система по подбору изделий поможет вам осуществить удобный поиск среди широкого ассортимента продукции. Следуйте шаг
  за шагом, уточняя критерии поиска, пока нужное изделие не будет найдено.</p>

  <div class="quick-search">

    <div class="quick-search__filter quick-search__filter-steps">
      <div class="quick-search__filter-row">
        <div class="quick-search__filter-col">
          <select name="" id="" class="quick-search__filter-step1">
            <option value="Аксессуары" selected disabled>Аксессуары</option>
            <option value="Бесконтактные датчики положения объекта">Бесконтактные датчики положения объекта</option>
            <option value="Блоки питания и усилителя">Блоки питания и усилителя</option>
            <option value="Датчики давления">Датчики давления</option>
            <option value="Датчики перемещений и расстояния">Датчики перемещений и расстояния</option>
            <option value="Датчики температуры">Датчики температуры</option>
            <option value="Датчики уровня">Датчики уровня</option>
            <option value="Оптические датчики и реле потока">Оптические датчики и реле потока</option>
            <option value="Системы диагностики">Системы диагностики</option>
            <option value="Системы идентификации">Системы идентификации</option>
            <option value="Счетчики импульсов и цифровые индикаторы">Счетчики импульсов и цифровые индикаторы</option>
            <option value="Щелевые датчики">Щелевые датчики</option>
            <option value="Электромеханические датчики положения объекта">Электромеханические датчики положения объекта</option>
          </select>
        </div>
        <div class="quick-search__filter-col">
          <select name="" id="" class="quick-search__filter-step2" disabled>
            <option value="Раздел 2">Раздел 2</option>
            <option value="Раздел 2">Раздел 2</option>
            <option value="Раздел 2">Раздел 2</option>
            <option value="Раздел 2">Раздел 2</option>
            <option value="Раздел 2">Раздел 2</option>
          </select>
        </div>
        <div class="quick-search__filter-col">
          <select name="" id="" class="quick-search__filter-step3" disabled>
            <option value="Раздел 3">Раздел 3</option>
            <option value="Раздел 3">Раздел 3</option>
            <option value="Раздел 3">Раздел 3</option>
            <option value="Раздел 3">Раздел 3</option>
            <option value="Раздел 3">Раздел 3</option>
          </select>
        </div>
      </div>

      <div class="quick-search__filter-btn">
        <a href="#" class="btn-blue quick-search__filter-step4">Показать</a>
      </div>
    </div>

  </div>

  <div class="catalog-wrap">
  
    <div class="catalog-sidebar catalog-sidebar__mean">
  
      <div class="sidebar-widget">
  
        <div class="sidebar-filter active">
          <div class="sidebar-filter__head">
            <span class="sidebar-filter__icon"></span>
            Производитель
          </div>
          <div class="sidebar-filter__content">
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter1" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter1">Autrol</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter2" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter2">Balluff</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter3" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter3">DATALOGIC-DATASENSOR</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter4" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter4">IFM Electronic</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter5" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter5">Leuze Electronic</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter6" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter6">MTS Sensors Temposonics</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter7" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter7">Omron</label>
            </div>
          </div>
        </div>
        <div class="sidebar-filter">
          <div class="sidebar-filter__head">
            <span class="sidebar-filter__icon"></span>
            Мощность (кВт)
            <div class="sidebar-filter__info">?
              <div class="sidebar-filter__info-text"><span>Производительность - один из двух основных параметров выбора компрессора,
                  вместе с рабочим давлением она определяет область применения компрессора и перечень возможных работ и пневматических
                  инструментов, которые будут эффективно работать от питания данным компрессором.</span></div>
            </div>
          </div>
          <div class="sidebar-filter__content">
            <div class="filter-interval">
              <div class="range-controls">
                <div class="range-controls__l">
                  <span>от</span> <input type="text" class="slider_opt_txtbox1" value="0" placeholder="0">
                </div>
                <div class="range-controls__r">
                  <span>до</span> <input type="text" class="slider_opt_txtbox2" value="5" placeholder="5">
                </div>
              </div>
              <div data-min="0" data-max="5" data-step="1" data-position="1,5" class="slider-range_input"></div>
            </div>
          </div>
        </div>
        <div class="sidebar-filter active">
          <div class="sidebar-filter__head">
            <span class="sidebar-filter__icon"></span>
            Цена, руб.
          </div>
          <div class="sidebar-filter__content">
            <div class="filter-interval">
              <div class="range-controls">
                <div class="range-controls__l">
                  <span>от</span> <input type="text" class="slider_opt_txtbox1" value="120" placeholder="120">
                </div>
                <div class="range-controls__r">
                  <span>до</span> <input type="text" class="slider_opt_txtbox2" value="1 000 000" placeholder="1 000 000">
                </div>
              </div>
              <div data-min="120" data-max="1000000" data-step="1000" data-position="1,5" class="slider-range_input"></div>
            </div>
          </div>
        </div>
        <div class="sidebar-filter">
          <div class="sidebar-filter__head">
            <span class="sidebar-filter__icon"></span>
            Ещё параметры
          </div>
          <div class="sidebar-filter__content">
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter_2_1" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter_2_1">Autrol</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter_2_2" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter_2_2">Balluff</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter_2_3" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter_2_3">DATALOGIC-DATASENSOR</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter_2_4" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter_2_4">IFM Electronic</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter_2_5" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter_2_5">Leuze Electronic</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter_2_6" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter_2_6">MTS Sensors Temposonics</label>
            </div>
            <div class="form-checkbox">
              <input type="checkbox" id="sidebar_filter_2_7" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="sidebar_filter_2_7">Omron</label>
            </div>
          </div>
        </div>
  
  
      </div>
  
    </div>
  
    <div class="catalog-container catalog-container__mean">
  
      <div class="goods-table-wrap">
        <div class="goods-table-top">
          <div class="table-pagination">
            <div class="pagenavi">
              <ul class="pagenavi__list">
                <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
                <li class="pagenavi__item"><a href="#">1</a></li>
                <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
                <li class="pagenavi__item"><a href="#">3</a></li>
                <li class="pagenavi__item"><a href="#">4</a></li>
                <li class="pagenavi__item"><a href="#">5</a></li>
                <li class="pagenavi__item"><a href="#">...</a></li>
                <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="table-filters">
  
            <div class="table-filters__list">
              <div class="table-filter__sorting">
                <div class="table-filter__sorting-label">сортировка</div>
                <select class="custom-ico" name="" id="">
                  <option value="delivery_dateUp">По сроку поставки</option>
                  <option value="delivery_dateDown">По сроку поставки</option>
                  <option value="popularityUp">По популярности</option>
                  <option value="popularityDown">По популярности</option>
                  <option value="alphabetUp">По алфавиту</option>
                  <option value="alphabetDown">По алфавиту</option>
                </select>
              </div>
              <div class="table-filter__quantity">
                <div class="table-filter__quantity-label">товаров</div>
                <select name="" id="">
                  <option value="20">20</option>
                  <option value="60">60</option>
                  <option value="120">120</option>
                </select>
              </div>
              <div class="table-filter__add-column">
                <a href="#popup_column" class="add-column popup-link">Добавить/удалить столбцы</a>
                <div class="hidden">
                  <div class="popup-column" id="popup_column">
                    <div class="popup-column__title">
                      Столбцы
                    </div>
                    <div class="popup-column__desc">
                      Выберте столбцы для отображения
                    </div>
  
                    <div class="popup-column__list">
  
                      <div class="popup-column__list-l">
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column1" class="form-checkbox__input" checked required>
                            <label class="form-checkbox__label" for="column1">Цена</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column3" class="form-checkbox__input" checked required>
                            <label class="form-checkbox__label" for="column3">Тип</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column5" class="form-checkbox__input" checked required>
                            <label class="form-checkbox__label" for="column5">Принцип действия</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column7" class="form-checkbox__input" checked required>
                            <label class="form-checkbox__label" for="column7">Питание</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column9" class="form-checkbox__input" checked required>
                            <label class="form-checkbox__label" for="column9">Материал корпуса</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column11" class="form-checkbox__input" checked required>
                            <label class="form-checkbox__label" for="column11">Способ подключения</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column13" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column13">Размеры</label>
                          </div>
                        </div>
                      </div>
                      <div class="popup-column__list-r">
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column2" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column2">Интерфейс</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column4" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column4">Дальность действия</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column6" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column6">Частота переключения</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column8" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column8">Разъем</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column10" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column10">Установка</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column12" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column12">Рабочее напряжение</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column14" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column14">Степень защиты</label>
                          </div>
                        </div>
                        <div class="popup-column__item">
                          <div class="form-checkbox">
                            <input type="checkbox" id="column15" class="form-checkbox__input" required>
                            <label class="form-checkbox__label" for="column15">Конструкция</label>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="popup-column__bottom">
                      <input type="submit" class="btn-blue form-submit" value="применить">
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="table-filter__view">
                <a href="#" class="view-card"><i class="icon-view_card"></i></a>
                <a href="#" class="view-list active"><i class="icon-view_list"></i></a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="goods-table-block">
          <table class="goods-table" id="goods_table">
            <thead>
              <tr>
                <th data-orderable="false" class="th-goods">Товар</th>
                <th data-orderable="false" class="th-desc">Описание</th>
                <th class="th-price">Цена</th>
                <th class="th-type">Тип</th>
                <th class="th-operating-principle">Принцип действия</th>
                <th class="th-supply">Питание</th>
                <th class="th-material">Материал корпуса</th>
                <th class="th-connection-method">Способ подключения</th>
                <th class="th-dimensions">Размеры</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-goods">
                  <div class="goods-table__img">
                    <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                  </div>
                  <div class="goods-table__link">
                    <a href="#" class="goods-table__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="goods-table__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="goods-table__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="goods-table__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-desc">
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-price">
                  <div class="goods-table__price">
                    <div class="goods-table__price-new">1 000 000 <span>руб.</span> </div>
                    <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                  </div>
                  <div class="goods-table__add">
                    <a href="#" class="btn-blue">Купить</a>
                  </div>
  
                  <div class="goods-table__deliveryStatus">
                    <div class="goods-table__status">в наличии</div>
                  </div>
  
                </td>
                <td class="td-type">
                  бесконтактный датчик положения
                </td>
                <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
                <td class="td-supply">DC</td>
                <td class="td-material">никелированная латунь</td>
                <td class="td-connection-method">кабель, разъем</td>
                <td class="td-dimensions">250х300</td>
              </tr>
              <tr>
                <td class="td-goods">
                  <div class="goods-table__img">
                    <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                  </div>
                  <div class="goods-table__link">
                    <a href="#" class="goods-table__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="goods-table__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="goods-table__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="goods-table__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-desc">
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-price">
                  <div class="goods-table__add">
                    <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш
                          специалист сообщит вам цену на товар</span></div>Узнать цену</a>
                  </div>
  
                  <div class="goods-table__deliveryStatus">
                    <div class="goods-table__status status-underOrder">под заказ</div>
                    <div class="goods-table__delivery">
                      2-4 недели
                    </div>
                  </div>
                </td>
                <td class="td-type">
                  бесконтактный датчик положения
                </td>
                <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
                <td class="td-supply">DC</td>
                <td class="td-material">никелированная латунь</td>
                <td class="td-connection-method">кабель, разъем</td>
                <td class="td-dimensions">250х300</td>
              </tr>
              <tr>
                <td class="td-goods">
                  <div class="goods-table__img">
                    <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                  </div>
                  <div class="goods-table__link">
                    <a href="#" class="goods-table__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="goods-table__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="goods-table__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="goods-table__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-desc">
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-price">
                  <div class="goods-table__price">
                    <div class="goods-table__price-new">1 000 000</div>
                  </div>
                  <div class="goods-table__add">
                    <a href="#" class="btn-blue">Купить</a>
                  </div>
  
                  <div class="goods-table__deliveryStatus">
                    <div class="goods-table__status ">в наличии</div>
                  </div>
                </td>
                <td class="td-type">
                  бесконтактный датчик положения
                </td>
                <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
                <td class="td-supply">DC</td>
                <td class="td-material">никелированная латунь</td>
                <td class="td-connection-method">кабель, разъем</td>
                <td class="td-dimensions">250х300</td>
              </tr>
              <tr>
                <td class="td-goods">
                  <div class="goods-table__img">
                    <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                  </div>
                  <div class="goods-table__link">
                    <a href="#" class="goods-table__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="goods-table__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="goods-table__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="goods-table__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-desc">
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-price">
                  <div class="goods-table__autInfo">
                    Авторизируйтесь, чтобы узнать цену
                  </div>
                  <div class="goods-table__add">
                    <a href="#" class="btn-aut">авторизация</a>
                  </div>
  
                  <div class="goods-table__deliveryStatus">
                    <div class="goods-table__status ">в наличии</div>
                  </div>
                </td>
                <td class="td-type">
                  бесконтактный датчик положения
                </td>
                <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
                <td class="td-supply">DC</td>
                <td class="td-material">никелированная латунь</td>
                <td class="td-connection-method">кабель, разъем</td>
                <td class="td-dimensions">250х300</td>
              </tr>
              <tr>
                <td class="td-goods">
                  <div class="goods-table__img">
                    <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                  </div>
                  <div class="goods-table__link">
                    <a href="#" class="goods-table__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="goods-table__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="goods-table__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="goods-table__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-desc">
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-price">
                  <div class="goods-table__price">
                    <div class="goods-table__price-new">1 000 000 <span>руб.</span> <div class="price-info">?
                        <div class="price-info__text">
                          <span>поставка 2-4 недели</span>
                        </div>
                      </div>
                    </div>
                    <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                  </div>
                  <div class="goods-table__add">
                    <a href="#" class="btn-blue">Купить</a>
                  </div>
  
                  <div class="goods-table__deliveryStatus">
                    <div class="goods-table__status status-underOrder">под заказ</div>
                    <div class="goods-table__delivery">
                      2-4 недели
                    </div>
                  </div>
                </td>
                <td class="td-type">
                  бесконтактный датчик положения
                </td>
                <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
                <td class="td-supply">DC</td>
                <td class="td-material">никелированная латунь</td>
                <td class="td-connection-method">кабель, разъем</td>
                <td class="td-dimensions">250х300</td>
              </tr>
              <tr>
                <td class="td-goods">
                  <div class="goods-table__img">
                    <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                  </div>
                  <div class="goods-table__link">
                    <a href="#" class="goods-table__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="goods-table__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="goods-table__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="goods-table__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-desc">
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-price">
                  <div class="goods-table__add">
                    <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш
                          специалист сообщит вам цену на товар</span></div>Узнать цену</a>
                  </div>
  
                  <div class="goods-table__deliveryStatus">
                    <div class="goods-table__status ">в наличии</div>
                  </div>
                </td>
                <td class="td-type">
                  бесконтактный датчик положения
                </td>
                <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
                <td class="td-supply">DC</td>
                <td class="td-material">никелированная латунь</td>
                <td class="td-connection-method">кабель, разъем</td>
                <td class="td-dimensions">250х300</td>
              </tr>
              <tr>
                <td class="td-goods">
                  <div class="goods-table__img">
                    <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                  </div>
                  <div class="goods-table__link">
                    <a href="#" class="goods-table__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="goods-table__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="goods-table__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="goods-table__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-desc">
                  <div class="goods-table__desc">
                    Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                  </div>
                  <div class="goods-table__options">
                    <span>Производитель: Balluff</span>
                    <span>Маркировка: РС РГО</span>
                    <span>Код заказа: 555646</span>
                  </div>
                </td>
                <td class="td-price">
                  <div class="goods-table__price">
                    <div class="goods-table__price-new">1 000 000</div>
                  </div>
                  <div class="goods-table__add">
                    <a href="#" class="btn-blue">Купить</a>
                  </div>
  
                  <div class="goods-table__deliveryStatus">
                    <div class="goods-table__status ">в наличии</div>
                  </div>
                </td>
                <td class="td-type">
                  бесконтактный датчик положения
                </td>
                <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
                <td class="td-supply">DC</td>
                <td class="td-material">никелированная латунь</td>
                <td class="td-connection-method">кабель, разъем</td>
                <td class="td-dimensions">250х300</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="goods-table-bottom">
          <div class="pagenavi">
            <ul class="pagenavi__list">
              <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
              <li class="pagenavi__item"><a href="#">1</a></li>
              <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
              <li class="pagenavi__item"><a href="#">3</a></li>
              <li class="pagenavi__item"><a href="#">4</a></li>
              <li class="pagenavi__item"><a href="#">5</a></li>
              <li class="pagenavi__item"><a href="#">...</a></li>
              <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>

</div>

{% include "template/footer.html" %}