{% set title = "Поиск" %} {% include "template/header.html" %}

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Поиск</span>
  </div>
  
  <h1 class="page-title">Поиск</h1>

  <div class="pade-search">
    <input type="text" placeholder="Поиск по артикулу или названию" class="pade-search__input">
    <input type="submit" class="pade-search__submit">
  </div>
  
  <div class="catalog-wrap">
  
    <div class="catalog-sidebar catalog-sidebar__mean">

      <div class="sidebar-widget">
        <div class="sidebar-banner">
          <a href="#"><img src="img/img_sidebar.jpg" alt=""></a>
        </div>
      </div>

      <div class="sidebar-widget">
        <div class="sidebar-news">
          <div class="sidebar-news__title">
            Новости
          </div>
          <div class="sidebar-news__list">
            <div class="sidebar-news__item">
              <div class="sidebar-news__item-date">01/07/2011</div>
              <div class="sidebar-news__item-title">Датчики давления от BALLUFF!</div>
              <div class="sidebar-news__item-desc">Высококачественные датчики давления от известного производителя</div>
              <a href="#" class="sidebar-news__item-link">подробнее</a>
            </div>
            <div class="sidebar-news__item">
              <div class="sidebar-news__item-date">01/07/2011</div>
              <div class="sidebar-news__item-title">Датчики давления от BALLUFF!</div>
              <div class="sidebar-news__item-desc">Высококачественные датчики давления от известного производителя</div>
              <a href="#" class="sidebar-news__item-link">подробнее</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="catalog-container catalog-container__mean">
  
    <div class="goods-table-wrap">
      <div class="goods-table-top">
        <div class="table-pagination">
          <div class="pagenavi">
            <ul class="pagenavi__list">
              <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
              <li class="pagenavi__item"><a href="#">1</a></li>
              <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
              <li class="pagenavi__item"><a href="#">3</a></li>
              <li class="pagenavi__item"><a href="#">4</a></li>
              <li class="pagenavi__item"><a href="#">5</a></li>
              <li class="pagenavi__item"><a href="#">...</a></li>
              <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="table-filters">
    
          <div class="table-filters__list">
            <div class="table-filter__sorting">
              <div class="table-filter__sorting-label">сортировка</div>
              <select class="custom-ico" name="" id="">
                <option value="delivery_dateUp">По сроку поставки</option>
                <option value="delivery_dateDown">По сроку поставки</option>
                <option value="popularityUp">По популярности</option>
                <option value="popularityDown">По популярности</option>
                <option value="alphabetUp">По алфавиту</option>
                <option value="alphabetDown">По алфавиту</option>
              </select>
            </div>
            <div class="table-filter__quantity">
              <div class="table-filter__quantity-label">товаров</div>
              <select name="" id="">
                <option value="20">20</option>
                <option value="60">60</option>
                <option value="120">120</option>
              </select>
            </div>
            <div class="table-filter__add-column">
              <a href="#popup_column" class="add-column popup-link">Добавить/удалить столбцы</a>
              <div class="hidden">
                <div class="popup-column" id="popup_column">
                  <div class="popup-column__title">
                    Столбцы
                  </div>
                  <div class="popup-column__desc">
                    Выберте столбцы для отображения
                  </div>
    
                  <div class="popup-column__list">
    
                    <div class="popup-column__list-l">
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column1" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column1">Цена</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column3" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column3">Тип</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column5" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column5">Принцип действия</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column7" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column7">Питание</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column9" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column9">Материал корпуса</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column11" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column11">Способ подключения</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column13" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column13">Размеры</label>
                        </div>
                      </div>
                    </div>
                    <div class="popup-column__list-r">
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column2" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column2">Интерфейс</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column4" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column4">Дальность действия</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column6" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column6">Частота переключения</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column8" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column8">Разъем</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column10" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column10">Установка</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column12" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column12">Рабочее напряжение</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column14" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column14">Степень защиты</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column15" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column15">Конструкция</label>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="popup-column__bottom">
                    <input type="submit" class="btn-blue form-submit" value="применить">
                  </div>
    
                </div>
              </div>
            </div>
            <div class="table-filter__view">
              <a href="#" class="view-card"><i class="icon-view_card"></i></a>
              <a href="#" class="view-list active"><i class="icon-view_list"></i></a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="goods-table-block">
        <table class="goods-table" id="goods_table">
          <thead>
            <tr>
              <th data-orderable="false" class="th-goods">Товар</th>
              <th data-orderable="false" class="th-desc">Описание</th>
              <th class="th-price">Цена</th>
              <th class="th-type">Тип</th>
              <th class="th-operating-principle">Принцип действия</th>
              <th class="th-supply">Питание</th>
              <th class="th-material">Материал корпуса</th>
              <th class="th-connection-method">Способ подключения</th>
              <th class="th-dimensions">Размеры</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000 <span>руб.</span> </div>
                  <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
    
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status">в наличии</div>
                </div>
    
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__add">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
    
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status status-underOrder">под заказ</div>
                  <div class="goods-table__delivery">
                    2-4 недели
                  </div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000</div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
    
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__autInfo">
                  Авторизируйтесь, чтобы узнать цену
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-aut">авторизация</a>
                </div>
    
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000 <span>руб.</span> <div class="price-info">?
                      <div class="price-info__text">
                        <span>поставка 2-4 недели</span>
                      </div>
                    </div>
                  </div>
                  <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
    
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status status-underOrder">под заказ</div>
                  <div class="goods-table__delivery">
                    2-4 недели
                  </div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__add">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
    
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000</div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
    
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="goods-table-bottom">
        <div class="pagenavi">
          <ul class="pagenavi__list">
            <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
            <li class="pagenavi__item"><a href="#">1</a></li>
            <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
            <li class="pagenavi__item"><a href="#">3</a></li>
            <li class="pagenavi__item"><a href="#">4</a></li>
            <li class="pagenavi__item"><a href="#">5</a></li>
            <li class="pagenavi__item"><a href="#">...</a></li>
            <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  
    </div>
  
  </div>

</div>

{% include "template/footer.html" %}