{% set title = "Текстовая страница" %} {% include "template/header.html" %}

<div class="page-wrap container">
  <h1>Компания «Город Инструмента» на протяжении многих лет является надежным партнером (h1)</h1>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете быть
  уверены в минимальных сроках поставки и <a href="#">ссылка на страничку</a> минимальных ценах <a href="#">ссылка при наведении</a> на оборудование. <a href="#">Посещенная ссылка</a> На складе в Москве поддерживаются стандартные позиции индуктивных и оптических датчиков, блочных выключателей, датчиков
  линейных перемещений.</p>
  <p>Если на Вашем оборудовании стоят старые сенсоры, которые уже сняты с производства, или простаивает оборудование из-за поломки
  датчика, мы подберем замену и аналог из имеющихся датчиков на складе.</p>
  <h2>Компания «Город Инструмента» на протяжении многих лет является надежным партнером (h2)</h2>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете быть
  уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
  позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>
  <h3>Компания «Город Инструмента» на протяжении многих лет является надежным партнером (h3)</h3>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете быть
  уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
  позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>
  <h4>Компания «Город Инструмента» на протяжении многих лет является надежным партнером (h4)</h4>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете быть
  уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
  позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>
  <h5>Компания «Город Инструмента» на протяжении многих лет является надежным партнером (h5)</h5>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете быть
  уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
  позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>
  <h6>Компания «Город Инструмента» на протяжении многих лет является надежным партнером (h6)</h6>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете быть
  уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
  позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>

  <div class="accent-block">
    <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете быть
    уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
    позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>
  </div>

  <ul>
    <li>Вариант 1</li>
    <li>Вариант 2</li>
    <li>Вариант 3</li>
  </ul>

  <ol>
    <li>Вариант 1</li>
    <li>Вариант 2</li>
    <li>Вариант 3</li>
  </ol>

  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете
    быть уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
    позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>
    <img src="img/about-company.png" alt="" class="float-left">
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете
    быть уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
    позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете
      быть уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
      позиции индуктивных и оптических датчиков,</p>
  <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому Вы можете
    быть уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются стандартные
    позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений.</p>

  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th>Название профессиии</th>
          <th class="align-center">Вид образования</th>
          <th class="align-center">Кол-во мест</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Переводчик</td>
          <td class="align-center">Высшее</td>
          <td class="align-center">120</td>
        </tr>
        <tr>
          <td>Гончар</td>
          <td class="align-center">Высшее</td>
          <td class="align-center">60</td>
        </tr>
        <tr>
          <td>Программист</td>
          <td class="align-center">Высшее</td>
          <td class="align-center">67</td>
        </tr>
        <tr>
          <td>Дизайнер</td>
          <td class="align-center">Высшее</td>
          <td class="align-center">90</td>
        </tr>
        <tr>
          <td>Секретарь</td>
          <td class="align-center">Высшее</td>
          <td class="align-center">130</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-unfolding">
    <p>Специальная схема преобразует изменение ёмкости в пороговый сигнал датчика (например сухой контакт). В простейших датчиках
    это обычно мультивибратор, преобразователь «частота (или скважность)-напряжение» и компаратор. Иногда, если изменение ёмкости
    в ответ на воздействие невелико, приходится ставить схемы на микроконтроллерах, которые занимаются автоподстройкой чувствительности
    и нуля датчика.</p>
    <div class="text-unfolding__hidden"><p>Специальная схема преобразует изменение ёмкости в пороговый сигнал датчика (например сухой контакт). В простейших датчиках
    это обычно мультивибратор, преобразователь «частота (или скважность)-напряжение» и компаратор. Иногда, если изменение ёмкости
    в ответ на воздействие невелико, приходится ставить схемы на микроконтроллерах, которые занимаются автоподстройкой чувствительности
    и нуля датчика. Специальная схема преобразует изменение ёмкости в пороговый сигнал датчика (например сухой контакт). В простейших
    датчиках это обычно мультивибратор, преобразователь «частота (или скважность)-напряжение» и компаратор. Иногда, если изменение
    ёмкости в ответ на воздействие невелико, приходится ставить схемы на микроконтроллерах, которые занимаются автоподстройкой
    чувствительности и нуля датчика. Специальная схема преобразует изменение ёмкости в пороговый сигнал датчика (например сухой
    контакт). В простейших датчиках это обычно мультивибратор, преобразователь «частота (или скважность)-напряжение» и компаратор.
    Иногда, если изменение ёмкости в ответ на воздействие невелико, приходится ставить схемы на микроконтроллерах, которые занимаются
    автоподстройкой чувствительности и нуля датчика.</p></div>
    
    <span class="text-unfolding__btn btn-gray">Подробнее</span>
  </div>

  <div class="pagenavi">
    <ul class="pagenavi__list">
      <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
      <li class="pagenavi__item"><a href="#">1</a></li>
      <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
      <li class="pagenavi__item"><a href="#">3</a></li>
      <li class="pagenavi__item"><a href="#">4</a></li>
      <li class="pagenavi__item"><a href="#">5</a></li>
      <li class="pagenavi__item"><a href="#">...</a></li>
      <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
    </ul>
  </div>

</div>

{% include "template/footer.html" %}