{% set title = "Карта сайта" %} {% include "template/header.html" %}

<div class="page-wrap container">
  
  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Карта сайта</span>
  </div>
  
  <h1 class="page-title">Карта сайта</h1>

  <div class="site-map">
    <div class="site-map__item">
      <a href="#">Главная</a>
    </div>

    <div class="site-map__row">
      <div class="site-map__col">

        <div class="site-map__item">
          <a href="#">Сравнение</a>
        </div>

        <ul class="site-map__level">
          <li class="site-map__level-item">
            <a href="#" class="site-map__level-link site-map__level-drop">Раздел каталога 1 уровень</a>

            <ul class="site-map__level-sub">
              <li class="site-map__level-item">
                <a href="#" class="site-map__level-link site-map__level-drop">Раздел каталога 2 уровень</a>

                <ul class="site-map__level-sub">
                  <li class="site-map__level-item">
                    <a href="#" class="site-map__level-link">Страница товаров с выбраном брендом</a>
                    <a href="#" class="site-map__level-link">Разделы каталога 2 в бренде</a>
                    <a href="#" class="site-map__level-link site-map__level-drop">Разделы каталога 3 уровень</a>

                    <ul class="site-map__level-sub">
                      <li class="site-map__level-item">
                        <a href="#" class="site-map__level-link site-map__level-drop">Каталог товаров</a>

                        <ul class="site-map__level-sub">
                          <li class="site-map__level-item">
                            <a href="#" class="site-map__level-link">Товар</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="site-map__level">
          <li class="site-map__level-item">
            <a href="#" class="site-map__level-link site-map__level-drop">Каталог брендов</a>
        
            <ul class="site-map__level-sub">
              <li class="site-map__level-item">
                <a href="#" class="site-map__level-link">Детальная страница бренда</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="site-map__item">
          <a href="#">Доставка</a>
        </div>
        <div class="site-map__item">
          <a href="#">Оплата</a>
        </div>

        

      </div>
      <div class="site-map__col">

        <div class="site-map__item">
          <a href="#">Быстрый поиск товара</a>
        </div>

        
        <div class="site-map__item">
          <a href="#">Прайс</a>
        </div>
        
        <ul class="site-map__level">
          <li class="site-map__level-item">
            <a href="#" class="site-map__level-link site-map__level-drop">Публикации</a>
        
            <ul class="site-map__level-sub">
              <li class="site-map__level-item">
                <a href="#" class="site-map__level-link">Детальная страница новости</a>
              </li>
            </ul>
          </li>
        </ul>
        
        <div class="site-map__item">
          <a href="#">Контакты</a>
        </div>
        
        <ul class="site-map__level">
          <li class="site-map__level-item">
            <a href="#" class="site-map__level-link site-map__level-drop">Личный кабинет</a>
        
            <ul class="site-map__level-sub">
              <li class="site-map__level-item">
                <a href="#" class="site-map__level-link site-map__level-drop">Вход/Регитрация</a>
        
                <ul class="site-map__level-sub">
                  <li class="site-map__level-item">
                    <a href="#" class="site-map__level-link">Востановления пароля</a>
                  </li>
                </ul>
              </li>
              <li class="site-map__level-item"><a href="#" class="site-map__level-link">Личные данные</a></li>
              <li class="site-map__level-item"><a href="#" class="site-map__level-link">Избранное</a></li>
              <li class="site-map__level-item"><a href="#" class="site-map__level-link">История заказов</a></li>
            </ul>
        
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

{% include "template/footer.html" %}