 

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <a href="#" class="bread-crumbs__link">Каталог брендов</a>
    <a href="#" class="bread-crumbs__link">Бренд Karcher</a>
    <span class="bread-crumbs__current">Индуктивные датчики Karcher</span>
  </div>
  
  <h1 class="page-title">Индуктивные датчики Karcher</h1>
  
  <div class="catalog-wrap">
  
    <div class="catalog-sidebar catalog-sidebar__mean">
  
      <div class="sidebar-widget">
        <div class="sidebar-cat-brands">
          <div class="sidebar-cat-brands__title">
            Датчики линейных перемещений
          </div>
          <ul class="sidebar-cat-brands__list">
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Магнитные линейные энкодеры <span>10</span></a></li>
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Магнито-индуктивные датчики линейных перемещений <span>100</span></a></li>
          </ul>
          <div class="sidebar-cat-brands__title">
             Датчики угла наклона (инклинометры)
          </div>
          <ul class="sidebar-cat-brands__list">
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Двухосевые инклинометры <span>250</span></a></li>
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Одноосевые инклинометры <span>250</span></a></li>
          </ul>
          <div class="sidebar-cat-brands__title">
             Ультразвуковые датчики расстояния
          </div>
          <ul class="sidebar-cat-brands__list">
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Ультразвуковые датчики расстояния на диапазон до 10000мм <span>250</span></a></li>
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Ультразвуковые датчики расстояния на диапазон до 1500мм <span>2500</span></a></li>
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Ультразвуковые датчики расстояния на диапазон до 3500мм <span>100</span></a></li>
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Ультразвуковые датчики расстояния на диапазон до 6000мм <span>100</span></a></li>
            <li class="sidebar-cat-brands__item"><a href="#" class="sidebar-cat-brands__link">Ультразвуковые датчики расстояния на диапазон до 8000мм <span>100</span></a></li>
          </ul>
        </div>
      </div>
  
    </div>
  
    <div class="catalog-container catalog-container__mean">
  
    <div class="goods-table-wrap">
      <div class="goods-table-top">
        <div class="table-pagination">
          <div class="pagenavi">
            <ul class="pagenavi__list">
              <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
              <li class="pagenavi__item"><a href="#">1</a></li>
              <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
              <li class="pagenavi__item"><a href="#">3</a></li>
              <li class="pagenavi__item"><a href="#">4</a></li>
              <li class="pagenavi__item"><a href="#">5</a></li>
              <li class="pagenavi__item"><a href="#">...</a></li>
              <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="table-filters">

          <div class="table-filters__list">
            <div class="table-filter__sorting">
              <div class="table-filter__sorting-label">сортировка</div>
              <select class="custom-ico" name="" id="">
                <option value="delivery_dateUp">По сроку поставки</option>
                <option value="delivery_dateDown">По сроку поставки</option>
                <option value="popularityUp">По популярности</option>
                <option value="popularityDown">По популярности</option>
                <option value="alphabetUp">По алфавиту</option>
                <option value="alphabetDown">По алфавиту</option>
              </select>
            </div>
            <div class="table-filter__quantity">
              <div class="table-filter__quantity-label">товаров</div>
              <select name="" id="">
                <option value="20">20</option>
                <option value="60">60</option>
                <option value="120">120</option>
              </select>
            </div>
            <div class="table-filter__add-column">
              <a href="#popup_column" class="add-column popup-link">Добавить/удалить столбцы</a>
              <div class="hidden">
                <div class="popup-column" id="popup_column">
                  <div class="popup-column__title">
                    Столбцы
                  </div>
                  <div class="popup-column__desc">
                     Выберте столбцы для отображения
                  </div>

                  <div class="popup-column__list">

                    <div class="popup-column__list-l">
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column1" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column1">Цена</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column3" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column3">Тип</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column5" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column5">Принцип действия</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column7" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column7">Питание</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column9" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column9">Материал корпуса</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column11" class="form-checkbox__input" checked required>
                          <label class="form-checkbox__label" for="column11">Способ подключения</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column13" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column13">Размеры</label>
                        </div>
                      </div>
                    </div>
                    <div class="popup-column__list-r">
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column2" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column2">Интерфейс</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column4" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column4">Дальность действия</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column6" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column6">Частота переключения</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column8" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column8">Разъем</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column10" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column10">Установка</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column12" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column12">Рабочее напряжение</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column14" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column14">Степень защиты</label>
                        </div>
                      </div>
                      <div class="popup-column__item">
                        <div class="form-checkbox">
                          <input type="checkbox" id="column15" class="form-checkbox__input" required>
                          <label class="form-checkbox__label" for="column15">Конструкция</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="popup-column__bottom">
                    <input type="submit" class="btn-blue form-submit" value="применить">
                  </div>

                </div>
              </div>
            </div>
            <div class="table-filter__view">
              <a href="#" class="view-card"><i class="icon-view_card"></i></a>
              <a href="#" class="view-list active"><i class="icon-view_list"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="goods-table-block">
        <table class="goods-table" id="goods_table">
          <thead>
            <tr>
              <th data-orderable="false" class="th-goods">Товар</th>
              <th data-orderable="false" class="th-desc">Описание</th>
              <th class="th-price">Цена</th>
              <th class="th-type">Тип</th>
              <th class="th-operating-principle">Принцип действия</th>
              <th class="th-supply">Питание</th>
              <th class="th-material">Материал корпуса</th>
              <th class="th-connection-method">Способ подключения</th>
              <th class="th-dimensions">Размеры</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000 <span>руб.</span> </div>
                  <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status">в наличии</div>
                </div>
      
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__add">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status status-underOrder">под заказ</div>
                  <div class="goods-table__delivery">
                    2-4 недели
                  </div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000</div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__autInfo">
                  Авторизируйтесь, чтобы узнать цену
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-aut">авторизация</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img1.jpg" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000 <span>руб.</span> <div class="price-info">?
                      <div class="price-info__text">
                        <span>поставка 2-4 недели</span>
                      </div>
                    </div>
                  </div>
                  <div class="goods-table__price-old">1 200 000 <span>руб.</span></div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status status-underOrder">под заказ</div>
                  <div class="goods-table__delivery">
                    2-4 недели
                  </div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img2.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__add">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
            <tr>
              <td class="td-goods">
                <div class="goods-table__img">
                  <a href="#"><img src="img/catalog__img3.png" alt=""></a>
                </div>
                <div class="goods-table__link">
                  <a href="#" class="goods-table__favorites">
                    <i class="icon-favorites_blue"></i>
                    <span class="goods-table__favorites-text">Добавить в избранное</span>
                  </a>
                  <a href="#" class="goods-table__comparison">
                    <i class="icon-comparison_blue"></i>
                    <span class="goods-table__comparison-text">Добавить в сравнение</span>
                  </a>
                </div>
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-desc">
                <div class="goods-table__desc">
                  Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта
                </div>
                <div class="goods-table__options">
                  <span>Производитель: Balluff</span>
                  <span>Маркировка: РС РГО</span>
                  <span>Код заказа: 555646</span>
                </div>
              </td>
              <td class="td-price">
                <div class="goods-table__price">
                  <div class="goods-table__price-new">1 000 000</div>
                </div>
                <div class="goods-table__add">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
      
                <div class="goods-table__deliveryStatus">
                  <div class="goods-table__status ">в наличии</div>
                </div>
              </td>
              <td class="td-type">
                бесконтактный датчик положения
              </td>
              <td class="td-operating-principle">оптический диффузионное отражение от объекта</td>
              <td class="td-supply">DC</td>
              <td class="td-material">никелированная латунь</td>
              <td class="td-connection-method">кабель, разъем</td>
              <td class="td-dimensions">250х300</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="goods-table-bottom">
        <div class="pagenavi">
          <ul class="pagenavi__list">
            <li class="pagenavi__item pagenavi__prev"><a href="#"></a></li>
            <li class="pagenavi__item"><a href="#">1</a></li>
            <li class="pagenavi__item pagenavi__curent"><span>2</span></li>
            <li class="pagenavi__item"><a href="#">3</a></li>
            <li class="pagenavi__item"><a href="#">4</a></li>
            <li class="pagenavi__item"><a href="#">5</a></li>
            <li class="pagenavi__item"><a href="#">...</a></li>
            <li class="pagenavi__item pagenavi__next"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  
    </div>
  
  </div>

</div>

<footer class="main-footer">
  <div class="container">
    <div class="main-footer__row">
      <div class="main-footer__left">
        
        <div class="footer-nav">
          <div class="footer-nav__title">
            Продукция и информация
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог товаров</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог брендов</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Доставка</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Оплата</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Прайс</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             О компании
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">О нас</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Сертификаты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Наши клиенты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Публикации</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             Личный кабинет
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вход/Регистрация</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Личные данные</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Корзина</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Избранное</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">История заказов</a></li>
          </ul>
        </div>

      </div>
      <div class="main-footer__right">

        <div class="footer-maps-site">
          <a href="#">карта сайта</a>
        </div>
        <div class="footer-phone">
          <p>+7 (495) 540-48-00; +7 (800) 333-13-53</p>
          <span>пн-пт 9:00-19:00; сб. 10:00-17:00 вс. выходной</span>
        </div>
        <div class="footer-email">
          <a href="#">info@sensoren.ru</a>
        </div>
        <div class="footer-adress">
          <span>107023, г. Москва, м. Преображенская площадь или Электрозаводская ул. Девятая Рота, дом 7а, офис 107</span>
        </div>

      </div>
    </div>

    <div class="footer-coperight">
      <p>Copyright Sensoren © 2018 Поставщик комплектующих и компонентов для автоматизации производства</p>
    </div>
  </div>
</footer>

<div class="panel-comparison show">
  <div class="container">
    <div class="panel-comparison__show"></div>
    <div class="panel-comparison__title">
      Товары для сравнения
    </div>
    <div class="panel-comparison__wrap">
      <div class="panel-comparison__list">
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
      </div>
      <div class="panel-comparison__link">
        <a href="#">Сравнить</a>
      </div>
    </div>
  </div>
</div>

<div class="hidden">

  <div class="popup-form" id="those_specialist">
    <div class="popup-form__title">
       Задать вопрос техническому специалисту
    </div>

    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio" class="form-input__label">Фамилия Имя <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone" class="form-input__label">Телефон <span>*</span></label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email" class="form-input__label">E-mail <span>*</span></label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization" class="form-input__label">Организация <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question" class="form-input__label">Задайте вопрос <span>*</span></label>
            <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_2" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_2">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «<a href="#">О персональных данных</a>». <span>*</span></label>
          </div>
        </div>  
        <div class="popup-form__col">
          <div class="popup-form__info"><span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="request_purchase">
    <div class="popup-form__title">
       Запрос на покупку
    </div>

    <div class="popup-form__content">
      <div class="form-input input_right">
        <label for="fio3" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio3">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input input_wrong">
            <label for="phone3" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone3">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email3" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email3">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization3" class="form-input__label">Организация
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization3">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question3" class="form-input__label">Задайте вопрос
              <span>*</span>
            </label>
            <textarea name="" id="question3" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file3" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file3">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_1" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_1">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="price_request">
    <div class="popup-form__title">
      Запрос цены на товар
    </div>
    <div class="popup-form__desc">
      Электромеханические блочные выключатели Balluff серии 100
    </div>
  
    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio2" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio2">
      </div>
  
      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone2" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone2">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email2" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email2">
          </div>
        </div>
      </div>
  
      <div class="form-input">
        <label for="question" class="form-input__label">Задайте вопрос
          <span>*</span>
        </label>
        <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
      </div>
  
      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_3" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_3">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения
          </div>
        </div>
      </div>
  
      <input type="submit" class="btn-blue form-submit" value="отправить запрос">
  
    </div>
  </div>

  <div class="popup-form form-loginRegistration" id="login_registration">
    
    <div class="login-registration">
      <div class="login-registration__nav">
        <div class="login-registration__nav-item">
          <span>Вход</span>
        </div>
        <div class="login-registration__nav-item">
          <span>Регистрация</span>
        </div>
      </div>

      <div class="login-registration__tabs">

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="login" class="form-input__label">E-mail</label>
            <input type="text" class="form-input__input" id="login">
          </div>
          <div class="form-password">
            <label for="password" class="form-password__label">Пароль</label>
            <input type="password" class="form-password__input" id="password">
            <a href="#" class="password-recovery__link">Не помните?</a>
          </div>
          <input type="submit" class="btn-blue form-submit form-submit__min" value="Войти">

        </div>

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="fio4" class="form-input__label">Фамилия Имя
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите имя" id="fio4">
          </div>
        
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-input">
                <label for="phone4" class="form-input__label">Телефон
                  <span>*</span>
                </label>
                <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone4">
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-input">
                <label for="email4" class="form-input__label">E-mail
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email4">
              </div>
            </div>
          </div>
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password2" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password2">
                <span class="form-password__info">не менее 6 символов</span>
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password3" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password3">
              </div>
            </div>
          </div>

          <div class="recapcha-v2">
            <div class="form-checkbox">
              <input type="checkbox" id="not_robot" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="not_robot">Я не робот <span>*</span></label>
            </div>
          </div>
        
          <input type="submit" class="btn-blue form-submit" value="зарегистрироваться">

          <div class="privacy-policy__v2">
            <p>Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии
            моих заказов, а также принимаю <a href="#">условия политики конфиденциальности и пользовательского соглашения</a>.</p>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<!-- Подключение js файлов -->
<!-- build:js js/vendor.js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/jquery/dist/jquery-ui.js"></script>
<script src="libs/slick-carousel/slick/slick.js"></script>
<script src="libs/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="libs/jquery.maskedinput.min.js"></script>
<script src="libs/svg4everybody/svg4everybody.js"></script>
<script src="libs/selectric/jquery.selectric.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyKIqX5qAvaApa58GFHzG64XtM1Kih4M&callback=initMap">
    </script>

<script>

  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: { lat: 55.790267, lng: 37.710650 },
      styles: [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        }
      ]
    });

    var image = {
      url: 'img/map-marker.svg',
      scaledSize: new google.maps.Size(37, 53),
    }
    var beachMarker = new google.maps.Marker({
      position: { lat: 55.790267, lng: 37.710650 },
      map: map,
      icon: image
    });
  }
</script>
</body>
</html>
