 

<div class="page-wrap container">
  
  <h1 class="page-title">Каталог брендов</h1>
  <div class="page-desc">
    <p>В нашем каталоге вы найдете полный список наших компаний-поставщиков. В числе наших клиентов очень известные компании
      из всех уголков России от Калининграда до Магадана.</p>
  </div>
  
  <div class="page-filter-brands">
    <div class="filter-brands-category">
      <div class="filter-brands-category__title">
        Поиск бренда по категории товаров:
      </div>
      <div class="filter-brands-category__block">
        <select name="" id="">
          <option value="Аксессуары">Аксессуары</option>
          <option value="Бесконтактные датчики положения объекта">Бесконтактные датчики положения объекта</option>
          <option value="Блоки питания и усилители">Блоки питания и усилители</option>
          <option value="Датчики давления">Датчики давления</option>
          <option value="Датчики перемещений и расстояния">Датчики перемещений и расстояния</option>
          <option value="Датчики температуры">Датчики температуры</option>
          <option value="Датчики уровня">Датчики уровня</option>
          <option value="Оптические датчики для специальных задач">Оптические датчики для специальных задач</option>
          <option value="Расходомеры, датчики и реле потока">Расходомеры, датчики и реле потока</option>
          <option value="Системы диагностики">Системы диагностики</option>
          <option value="Системы идентификации">Системы идентификации</option>
          <option value="Системы технического зрения">Системы технического зрения</option>
          <option value="Счётчики импульсов и цифровые индикаторы">Счётчики импульсов и цифровые индикаторы</option>
          <option value="Щелевые датчики">Щелевые датчики</option>
          <option value="Электромеханические датчики положения объекты">Электромеханические датчики положения объекты</option>
        </select>
      </div>
    </div>
    <div class="filter-brands-alphabet">
      <div class="filter-brands-alphabet__title">
        Поиск бренда по алфавиту:
      </div>
      <ul class="filter-brands-alphabet__list">
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">A</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">B</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">C</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">D</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">E</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">F</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">G</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">H</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">I</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">J</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">K</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">L</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">M</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">N</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">O</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">P</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Q</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">R</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">S</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">T</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">U</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">V</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">W</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">X</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Z</a>
        </li>
      </ul>
      <ul class="filter-brands-alphabet__list">
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">А</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Б</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">В</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Г</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Д</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Е</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ж</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">З</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">И</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">К</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Л</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">М</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Н</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">О</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">П</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Р</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">С</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Т</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">У</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ф</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Х</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ц</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ч</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ш</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Щ</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Э</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Ю</a>
        </li>
        <li class="filter-brands-alphabet__item">
          <a href="" class="filter-brands-alphabet__link">Я</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="page-list-brands">
  <div class="container">
    <div class="page-list-brands__list">
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__7.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Аутрол
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__1.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Баллуф
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__2.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          DATALOGIC-DATASENSOR
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__3.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          EGE-Elektronik
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
        </div>
        <div class="page-list-brands__item-title">
          HYC
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__4.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          IFM Electronic
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__5.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Leuze Electronic
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__6.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          MTS Sensors
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__8.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Omron
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__9.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Optris
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__10.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Pepperl Fuchs
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__11.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Raytek
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__12.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Siemens
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__13.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Telemecanique
        </div>
      </div>
      <div class="page-list-brands__item">
        <a href="#" class="page-list-brands__item-link"></a>
        <div class="page-list-brands__item-img">
          <img src="img/manufacturer__14.png" alt="">
        </div>
        <div class="page-list-brands__item-title">
          Watts
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="main-footer">
  <div class="container">
    <div class="main-footer__row">
      <div class="main-footer__left">
        
        <div class="footer-nav">
          <div class="footer-nav__title">
            Продукция и информация
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог товаров</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог брендов</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Доставка</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Оплата</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Прайс</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             О компании
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">О нас</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Сертификаты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Наши клиенты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Публикации</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             Личный кабинет
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вход/Регистрация</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Личные данные</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Корзина</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Избранное</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">История заказов</a></li>
          </ul>
        </div>

      </div>
      <div class="main-footer__right">

        <div class="footer-maps-site">
          <a href="#">карта сайта</a>
        </div>
        <div class="footer-phone">
          <p>+7 (495) 540-48-00; +7 (800) 333-13-53</p>
          <span>пн-пт 9:00-19:00; сб. 10:00-17:00 вс. выходной</span>
        </div>
        <div class="footer-email">
          <a href="#">info@sensoren.ru</a>
        </div>
        <div class="footer-adress">
          <span>107023, г. Москва, м. Преображенская площадь или Электрозаводская ул. Девятая Рота, дом 7а, офис 107</span>
        </div>

      </div>
    </div>

    <div class="footer-coperight">
      <p>Copyright Sensoren © 2018 Поставщик комплектующих и компонентов для автоматизации производства</p>
    </div>
  </div>
</footer>

<div class="panel-comparison show">
  <div class="container">
    <div class="panel-comparison__show"></div>
    <div class="panel-comparison__title">
      Товары для сравнения
    </div>
    <div class="panel-comparison__wrap">
      <div class="panel-comparison__list">
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
      </div>
      <div class="panel-comparison__link">
        <a href="#">Сравнить</a>
      </div>
    </div>
  </div>
</div>

<div class="hidden">

  <div class="popup-form" id="those_specialist">
    <div class="popup-form__title">
       Задать вопрос техническому специалисту
    </div>

    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio" class="form-input__label">Фамилия Имя <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone" class="form-input__label">Телефон <span>*</span></label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email" class="form-input__label">E-mail <span>*</span></label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization" class="form-input__label">Организация <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question" class="form-input__label">Задайте вопрос <span>*</span></label>
            <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_2" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_2">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «<a href="#">О персональных данных</a>». <span>*</span></label>
          </div>
        </div>  
        <div class="popup-form__col">
          <div class="popup-form__info"><span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="request_purchase">
    <div class="popup-form__title">
       Запрос на покупку
    </div>

    <div class="popup-form__content">
      <div class="form-input input_right">
        <label for="fio3" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio3">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input input_wrong">
            <label for="phone3" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone3">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email3" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email3">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization3" class="form-input__label">Организация
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization3">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question3" class="form-input__label">Задайте вопрос
              <span>*</span>
            </label>
            <textarea name="" id="question3" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file3" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file3">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_1" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_1">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="price_request">
    <div class="popup-form__title">
      Запрос цены на товар
    </div>
    <div class="popup-form__desc">
      Электромеханические блочные выключатели Balluff серии 100
    </div>
  
    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio2" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio2">
      </div>
  
      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone2" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone2">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email2" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email2">
          </div>
        </div>
      </div>
  
      <div class="form-input">
        <label for="question" class="form-input__label">Задайте вопрос
          <span>*</span>
        </label>
        <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
      </div>
  
      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_3" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_3">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения
          </div>
        </div>
      </div>
  
      <input type="submit" class="btn-blue form-submit" value="отправить запрос">
  
    </div>
  </div>

  <div class="popup-form form-loginRegistration" id="login_registration">
    
    <div class="login-registration">
      <div class="login-registration__nav">
        <div class="login-registration__nav-item">
          <span>Вход</span>
        </div>
        <div class="login-registration__nav-item">
          <span>Регистрация</span>
        </div>
      </div>

      <div class="login-registration__tabs">

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="login" class="form-input__label">E-mail</label>
            <input type="text" class="form-input__input" id="login">
          </div>
          <div class="form-password">
            <label for="password" class="form-password__label">Пароль</label>
            <input type="password" class="form-password__input" id="password">
            <a href="#" class="password-recovery__link">Не помните?</a>
          </div>
          <input type="submit" class="btn-blue form-submit form-submit__min" value="Войти">

        </div>

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="fio4" class="form-input__label">Фамилия Имя
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите имя" id="fio4">
          </div>
        
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-input">
                <label for="phone4" class="form-input__label">Телефон
                  <span>*</span>
                </label>
                <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone4">
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-input">
                <label for="email4" class="form-input__label">E-mail
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email4">
              </div>
            </div>
          </div>
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password2" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password2">
                <span class="form-password__info">не менее 6 символов</span>
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password3" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password3">
              </div>
            </div>
          </div>

          <div class="recapcha-v2">
            <div class="form-checkbox">
              <input type="checkbox" id="not_robot" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="not_robot">Я не робот <span>*</span></label>
            </div>
          </div>
        
          <input type="submit" class="btn-blue form-submit" value="зарегистрироваться">

          <div class="privacy-policy__v2">
            <p>Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии
            моих заказов, а также принимаю <a href="#">условия политики конфиденциальности и пользовательского соглашения</a>.</p>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<!-- Подключение js файлов -->
<!-- build:js js/vendor.js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/jquery/dist/jquery-ui.js"></script>
<script src="libs/slick-carousel/slick/slick.js"></script>
<script src="libs/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="libs/jquery.maskedinput.min.js"></script>
<script src="libs/svg4everybody/svg4everybody.js"></script>
<script src="libs/selectric/jquery.selectric.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyKIqX5qAvaApa58GFHzG64XtM1Kih4M&callback=initMap">
    </script>

<script>

  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: { lat: 55.790267, lng: 37.710650 },
      styles: [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        }
      ]
    });

    var image = {
      url: 'img/map-marker.svg',
      scaledSize: new google.maps.Size(37, 53),
    }
    var beachMarker = new google.maps.Marker({
      position: { lat: 55.790267, lng: 37.710650 },
      map: map,
      icon: image
    });
  }
</script>
</body>
</html>
