 

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Каталог 1 уровень</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных
              задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения
              объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Каталог 2 уровень</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Емкостные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Индуктивные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Магнитные датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Ультразвуковые датчики</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__current">Индуктивные датчики</span>
  </div>

  <h1 class="page-title">Индуктивные датчики</h1>

  <div class="context-slider">
    <div class="context-slider__img">
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img3.png);"></div>
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img2.png);"></div>
      <div class="context-slider__img-item" style="background-image: url(img/context-slider__img1.png);"></div>
    </div>
    <div class="context-slider__text">
      <p>Бесконтактные индуктивные датчики наиболее популярные конечные выключатели и обойтись без них в настоящее время в автоматизированном
      производстве практически невозможно. Если сравнивать индуктивные датчики приближения с механическими выключателями, то преимущества
      очевидны: бесконтактный принцип работы, отсутствие движущихся и трущихся деталей, высокая частота переключения в сочетании
      с высокой точностью срабатывания.</p>
      <a href="#">Подробнее</a>
    </div>
  </div>

  <div class="catalog-wrap">

    <div class="catalog-sidebar catalog-sidebar__min">
      
      <div class="sidebar-widget">
        <div class="sidebar-brands">
          <div class="sidebar-brands__title">
            Товары этого раздела представлены в брендах
          </div>
          <ul class="sidebar-brands__list">
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Autrol</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Balluff</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">DATALOGIC-DATASENSOR</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">EGE-Elektronik</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">HYC</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">IFM Electronic</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Leuze Electronic</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">MTS Sensors Temposonics</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Omron</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Optris</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Pepperl Fuchs</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Raytek</a></li>
            <li class="sidebar-brands__item"><a href="#" class="sidebar-brands__link">Siemens</a></li>
          </ul>
        </div>
      </div>

      <div class="sidebar-widget">
        <div class="sidebar-news">
          <div class="sidebar-news__title">
             Новости
          </div>
          <div class="sidebar-news__list">
            <div class="sidebar-news__item">
              <div class="sidebar-news__item-date">01/07/2011</div>
              <div class="sidebar-news__item-title">Датчики давления от BALLUFF!</div>
              <div class="sidebar-news__item-desc">Высококачественные датчики давления от известного производителя</div>
              <a href="#" class="sidebar-news__item-link">подробнее</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="catalog-container catalog-container__big">

      <div class="catalog-cat">
        <div class="catalog-cat-list catalog-cat-list__vertical">
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики в прямоугольных корпусах
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики в цилиндрических корпусах
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики для искробезопасных цепей NAMUR
            </div>
          </div>
          <div class="catalog-cat-list__item">
            <a href="#" class="catalog-cat-list__item-link"></a>
            <div class="catalog-cat-list__item-img">
              <img src="img/" alt="">
            </div>
            <div class="catalog-cat-list__item-title">
               Индуктивные датчики специального исполнения
            </div>
          </div>
        </div>
      </div>

      <div class="catalog-slider-wrap">
        <div class="catalog-slider-wrap__title">
           Хиты продаж
        </div>

        
        <div class="catalog-slider">
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                    сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>


<footer class="main-footer">
  <div class="container">
    <div class="main-footer__row">
      <div class="main-footer__left">
        
        <div class="footer-nav">
          <div class="footer-nav__title">
            Продукция и информация
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог товаров</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог брендов</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Доставка</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Оплата</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Прайс</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             О компании
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">О нас</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Сертификаты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Наши клиенты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Публикации</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             Личный кабинет
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вход/Регистрация</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Личные данные</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Корзина</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Избранное</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">История заказов</a></li>
          </ul>
        </div>

      </div>
      <div class="main-footer__right">

        <div class="footer-maps-site">
          <a href="#">карта сайта</a>
        </div>
        <div class="footer-phone">
          <p>+7 (495) 540-48-00; +7 (800) 333-13-53</p>
          <span>пн-пт 9:00-19:00; сб. 10:00-17:00 вс. выходной</span>
        </div>
        <div class="footer-email">
          <a href="#">info@sensoren.ru</a>
        </div>
        <div class="footer-adress">
          <span>107023, г. Москва, м. Преображенская площадь или Электрозаводская ул. Девятая Рота, дом 7а, офис 107</span>
        </div>

      </div>
    </div>

    <div class="footer-coperight">
      <p>Copyright Sensoren © 2018 Поставщик комплектующих и компонентов для автоматизации производства</p>
    </div>
  </div>
</footer>

<div class="panel-comparison show">
  <div class="container">
    <div class="panel-comparison__show"></div>
    <div class="panel-comparison__title">
      Товары для сравнения
    </div>
    <div class="panel-comparison__wrap">
      <div class="panel-comparison__list">
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
      </div>
      <div class="panel-comparison__link">
        <a href="#">Сравнить</a>
      </div>
    </div>
  </div>
</div>

<div class="hidden">

  <div class="popup-form" id="those_specialist">
    <div class="popup-form__title">
       Задать вопрос техническому специалисту
    </div>

    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio" class="form-input__label">Фамилия Имя <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone" class="form-input__label">Телефон <span>*</span></label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email" class="form-input__label">E-mail <span>*</span></label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization" class="form-input__label">Организация <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question" class="form-input__label">Задайте вопрос <span>*</span></label>
            <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_2" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_2">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «<a href="#">О персональных данных</a>». <span>*</span></label>
          </div>
        </div>  
        <div class="popup-form__col">
          <div class="popup-form__info"><span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="request_purchase">
    <div class="popup-form__title">
       Запрос на покупку
    </div>

    <div class="popup-form__content">
      <div class="form-input input_right">
        <label for="fio3" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio3">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input input_wrong">
            <label for="phone3" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone3">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email3" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email3">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization3" class="form-input__label">Организация
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization3">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question3" class="form-input__label">Задайте вопрос
              <span>*</span>
            </label>
            <textarea name="" id="question3" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file3" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file3">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_1" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_1">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="price_request">
    <div class="popup-form__title">
      Запрос цены на товар
    </div>
    <div class="popup-form__desc">
      Электромеханические блочные выключатели Balluff серии 100
    </div>
  
    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio2" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio2">
      </div>
  
      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone2" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone2">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email2" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email2">
          </div>
        </div>
      </div>
  
      <div class="form-input">
        <label for="question" class="form-input__label">Задайте вопрос
          <span>*</span>
        </label>
        <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
      </div>
  
      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_3" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_3">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения
          </div>
        </div>
      </div>
  
      <input type="submit" class="btn-blue form-submit" value="отправить запрос">
  
    </div>
  </div>

  <div class="popup-form form-loginRegistration" id="login_registration">
    
    <div class="login-registration">
      <div class="login-registration__nav">
        <div class="login-registration__nav-item">
          <span>Вход</span>
        </div>
        <div class="login-registration__nav-item">
          <span>Регистрация</span>
        </div>
      </div>

      <div class="login-registration__tabs">

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="login" class="form-input__label">E-mail</label>
            <input type="text" class="form-input__input" id="login">
          </div>
          <div class="form-password">
            <label for="password" class="form-password__label">Пароль</label>
            <input type="password" class="form-password__input" id="password">
            <a href="#" class="password-recovery__link">Не помните?</a>
          </div>
          <input type="submit" class="btn-blue form-submit form-submit__min" value="Войти">

        </div>

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="fio4" class="form-input__label">Фамилия Имя
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите имя" id="fio4">
          </div>
        
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-input">
                <label for="phone4" class="form-input__label">Телефон
                  <span>*</span>
                </label>
                <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone4">
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-input">
                <label for="email4" class="form-input__label">E-mail
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email4">
              </div>
            </div>
          </div>
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password2" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password2">
                <span class="form-password__info">не менее 6 символов</span>
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password3" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password3">
              </div>
            </div>
          </div>

          <div class="recapcha-v2">
            <div class="form-checkbox">
              <input type="checkbox" id="not_robot" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="not_robot">Я не робот <span>*</span></label>
            </div>
          </div>
        
          <input type="submit" class="btn-blue form-submit" value="зарегистрироваться">

          <div class="privacy-policy__v2">
            <p>Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии
            моих заказов, а также принимаю <a href="#">условия политики конфиденциальности и пользовательского соглашения</a>.</p>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<!-- Подключение js файлов -->
<!-- build:js js/vendor.js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/jquery/dist/jquery-ui.js"></script>
<script src="libs/slick-carousel/slick/slick.js"></script>
<script src="libs/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="libs/jquery.maskedinput.min.js"></script>
<script src="libs/svg4everybody/svg4everybody.js"></script>
<script src="libs/selectric/jquery.selectric.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyKIqX5qAvaApa58GFHzG64XtM1Kih4M&callback=initMap">
    </script>

<script>

  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: { lat: 55.790267, lng: 37.710650 },
      styles: [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        }
      ]
    });

    var image = {
      url: 'img/map-marker.svg',
      scaledSize: new google.maps.Size(37, 53),
    }
    var beachMarker = new google.maps.Marker({
      position: { lat: 55.790267, lng: 37.710650 },
      map: map,
      icon: image
    });
  }
</script>
</body>
</html>
