 

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__current">Контакты</span>
  </div>

  <h1 class="page-title">Контакты</h1>

  <div class="page-wrap__row">
    <div class="page-wrap__col">
      <div class="contacts-phone">
         (495) 540-48-00 доб. 120; +7-800-333-13-53 доб. 120
      </div>
      <div class="contacts-email">
         info@sensoren.ru
      </div>
    </div>
    <div class="page-wrap__col">
      <div class="contacts-adress">
         107023, г. Москва, м. Преображенская площадь или<br>Электрозаводская ул. Девятая Рота, дом 7а, офис 107
      </div>
    </div>
    <div class="page-wrap__col">
      <div class="contacts-time">
         пн-пт с 9:00 до 19:00; сб. 10:00 до 17:00; вс. выходной.
      </div>
    </div>
  </div>

</div>

<div class="contacts-urInfo">
  <div class="container">
    <p>Полное наименование<br>
    Общество с ограниченной ответственностью «Город Инструмента» <br>
    Юридический адрес<br> 
    107023, Москва г, Суворовская ул, дом № 6, строение 6, этаж 1, пом.I, комн 23 
    <br>ИНН / КПП 7718660711 / 771801001 ОГРН 1077759006820 Код отрасли по ОКОНХ 61110 
    <br>Код по ОКПО 18736641 Код по ОКАТО 45263594000 
    <br>Наименование банка ПАО «Промсвязьбанк» 
    <br>БИК 044525555 Расчетный счет 40702810570060753901 Корр. счет 30101810400000000555</p>
  </div>
</div>

<div class="block-map">
  <div id="map"></div>
</div>

<div class="block-form">
  <div class="container">

    <div class="block-form__title">
       Обратная связь
    </div>

    <div class="block-form__row">
      <div class="block-form__col">
        <div class="form-input">
          <label for="fio5" class="form-input__label">Фамилия Имя
            <span>*</span>
          </label>
          <input type="text" class="form-input__input" placeholder="Введите имя" id="fio5">
        </div>
      </div>
      <div class="block-form__col">
        <div class="form-input">
          <label for="organization5" class="form-input__label">Организация
            <span>*</span>
          </label>
          <input type="text" class="form-input__input" placeholder="Введите организацию" id="organization5">
        </div>
      </div>
      <div class="block-form__col">
        <div class="form-input">
          <label for="email5" class="form-input__label">E-mail
            <span>*</span>
          </label>
          <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email5">
        </div>
      </div>
      <div class="block-form__col">
        <div class="form-input">
          <label for="phone5" class="form-input__label">Телефон
            <span>*</span>
          </label>
          <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone5">
        </div>
      </div>
    </div>

    <div class="form-input">
      <label for="question3" class="form-input__label">Комментарий
        <span>*</span>
      </label>
      <textarea name="" id="question3" class="form-input__textarea"></textarea>
    </div>

    <div class="block-form__bottom">
      <div class="block-form__bottom-left">
        <input type="submit" class="btn-blue form-submit" value="Отправить">
      </div>
      <div class="block-form__bottom-right">
        <div class="privacy-policy">
          <input type="checkbox" id="privacy_policy" class="privacy-policy__input" required>
          <label class="privacy-policy__label" for="privacy_policy">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
            <a href="#">О персональных данных</a>».
            <span>*</span>
          </label>
        </div>
        <div class="block-form__info">
          <span>*</span> Поля обязательные для заполнения
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="main-footer">
  <div class="container">
    <div class="main-footer__row">
      <div class="main-footer__left">
        
        <div class="footer-nav">
          <div class="footer-nav__title">
            Продукция и информация
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог товаров</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог брендов</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Доставка</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Оплата</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Прайс</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             О компании
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">О нас</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Сертификаты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Наши клиенты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Публикации</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             Личный кабинет
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вход/Регистрация</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Личные данные</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Корзина</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Избранное</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">История заказов</a></li>
          </ul>
        </div>

      </div>
      <div class="main-footer__right">

        <div class="footer-maps-site">
          <a href="#">карта сайта</a>
        </div>
        <div class="footer-phone">
          <p>+7 (495) 540-48-00; +7 (800) 333-13-53</p>
          <span>пн-пт 9:00-19:00; сб. 10:00-17:00 вс. выходной</span>
        </div>
        <div class="footer-email">
          <a href="#">info@sensoren.ru</a>
        </div>
        <div class="footer-adress">
          <span>107023, г. Москва, м. Преображенская площадь или Электрозаводская ул. Девятая Рота, дом 7а, офис 107</span>
        </div>

      </div>
    </div>

    <div class="footer-coperight">
      <p>Copyright Sensoren © 2018 Поставщик комплектующих и компонентов для автоматизации производства</p>
    </div>
  </div>
</footer>

<div class="panel-comparison show">
  <div class="container">
    <div class="panel-comparison__show"></div>
    <div class="panel-comparison__title">
      Товары для сравнения
    </div>
    <div class="panel-comparison__wrap">
      <div class="panel-comparison__list">
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
      </div>
      <div class="panel-comparison__link">
        <a href="#">Сравнить</a>
      </div>
    </div>
  </div>
</div>

<div class="hidden">

  <div class="popup-form" id="those_specialist">
    <div class="popup-form__title">
       Задать вопрос техническому специалисту
    </div>

    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio" class="form-input__label">Фамилия Имя <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone" class="form-input__label">Телефон <span>*</span></label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email" class="form-input__label">E-mail <span>*</span></label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization" class="form-input__label">Организация <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question" class="form-input__label">Задайте вопрос <span>*</span></label>
            <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_2" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_2">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «<a href="#">О персональных данных</a>». <span>*</span></label>
          </div>
        </div>  
        <div class="popup-form__col">
          <div class="popup-form__info"><span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="request_purchase">
    <div class="popup-form__title">
       Запрос на покупку
    </div>

    <div class="popup-form__content">
      <div class="form-input input_right">
        <label for="fio3" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio3">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input input_wrong">
            <label for="phone3" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone3">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email3" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email3">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization3" class="form-input__label">Организация
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization3">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question3" class="form-input__label">Задайте вопрос
              <span>*</span>
            </label>
            <textarea name="" id="question3" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file3" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file3">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_1" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_1">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="price_request">
    <div class="popup-form__title">
      Запрос цены на товар
    </div>
    <div class="popup-form__desc">
      Электромеханические блочные выключатели Balluff серии 100
    </div>
  
    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio2" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio2">
      </div>
  
      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone2" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone2">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email2" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email2">
          </div>
        </div>
      </div>
  
      <div class="form-input">
        <label for="question" class="form-input__label">Задайте вопрос
          <span>*</span>
        </label>
        <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
      </div>
  
      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_3" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_3">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения
          </div>
        </div>
      </div>
  
      <input type="submit" class="btn-blue form-submit" value="отправить запрос">
  
    </div>
  </div>

  <div class="popup-form form-loginRegistration" id="login_registration">
    
    <div class="login-registration">
      <div class="login-registration__nav">
        <div class="login-registration__nav-item">
          <span>Вход</span>
        </div>
        <div class="login-registration__nav-item">
          <span>Регистрация</span>
        </div>
      </div>

      <div class="login-registration__tabs">

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="login" class="form-input__label">E-mail</label>
            <input type="text" class="form-input__input" id="login">
          </div>
          <div class="form-password">
            <label for="password" class="form-password__label">Пароль</label>
            <input type="password" class="form-password__input" id="password">
            <a href="#" class="password-recovery__link">Не помните?</a>
          </div>
          <input type="submit" class="btn-blue form-submit form-submit__min" value="Войти">

        </div>

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="fio4" class="form-input__label">Фамилия Имя
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите имя" id="fio4">
          </div>
        
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-input">
                <label for="phone4" class="form-input__label">Телефон
                  <span>*</span>
                </label>
                <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone4">
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-input">
                <label for="email4" class="form-input__label">E-mail
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email4">
              </div>
            </div>
          </div>
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password2" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password2">
                <span class="form-password__info">не менее 6 символов</span>
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password3" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password3">
              </div>
            </div>
          </div>

          <div class="recapcha-v2">
            <div class="form-checkbox">
              <input type="checkbox" id="not_robot" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="not_robot">Я не робот <span>*</span></label>
            </div>
          </div>
        
          <input type="submit" class="btn-blue form-submit" value="зарегистрироваться">

          <div class="privacy-policy__v2">
            <p>Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии
            моих заказов, а также принимаю <a href="#">условия политики конфиденциальности и пользовательского соглашения</a>.</p>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<!-- Подключение js файлов -->
<!-- build:js js/vendor.js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/jquery/dist/jquery-ui.js"></script>
<script src="libs/slick-carousel/slick/slick.js"></script>
<script src="libs/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="libs/jquery.maskedinput.min.js"></script>
<script src="libs/svg4everybody/svg4everybody.js"></script>
<script src="libs/selectric/jquery.selectric.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyKIqX5qAvaApa58GFHzG64XtM1Kih4M&callback=initMap">
    </script>

<script>

  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: { lat: 55.790267, lng: 37.710650 },
      styles: [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        }
      ]
    });

    var image = {
      url: 'img/map-marker.svg',
      scaledSize: new google.maps.Size(37, 53),
    }
    var beachMarker = new google.maps.Marker({
      position: { lat: 55.790267, lng: 37.710650 },
      map: map,
      icon: image
    });
  }
</script>
</body>
</html>
