 

<div class="main-slider-wrap">
  <div class="container">
    <div class="main-slider">
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div> 
      <div class="main-slider__item">
        <img src="img/slide.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<section class="home-manufacturers">
  <div class="container">
    <div class="home-manufacturers__title">
      Производители
    </div>

    <div class="manufacturers-slider">
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__1.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__2.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__3.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__4.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__5.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__6.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__1.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__2.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__3.png" alt=""></a>
      </div>
      <div class="manufacturers-slider__item">
        <a href="#"><img src="img/manufacturer__4.png" alt=""></a>
      </div>
    </div>
  </div>
</section>

<section class="home-product-sections">
  <div class="container">
    <div class="home-product-sections__title">
      Разделы товаров
    </div>

    <div class="home-product-sections__list">

      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__1" src="img/product-sections__1.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
          Аксессуары
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__2" src="img/product-sections__2.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Бесконтактные датчики положения объекта
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__3" src="img/product-sections__3.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Блоки питания и усилители
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__4" src="img/product-sections__4.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики давления
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__5" src="img/product-sections__5.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики перемещений и расстояния
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__6" src="img/product-sections__6.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики температуры
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__7" src="img/product-sections__7.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Датчики уровня
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__8" src="img/product-sections__8.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Оптические датчики для специальных задач
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__9" src="img/product-sections__9.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Расходомеры, датчики и реле протока
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__10" src="img/product-sections__10.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Системы диагностики
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__11" src="img/product-sections__11.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Системы идентификации
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__12" src="img/product-sections__12.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Системы технического зрения
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__13" src="img/product-sections__13.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Счетчики импульсов и цифровые индикаторы
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__14" src="img/product-sections__14.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Щелевые датчики
        </div>
      </div>
      <div class="home-product-sections__item">
        <a class="home-product-sections__item-link" href="#"></a>
        <div class="home-product-sections__item-icon">
          <img class="icon-product-sections__15" src="img/product-sections__15.svg" alt="">
        </div>
        <div class="home-product-sections__item-title">
           Электромеханические датчики положения объекта (концевые выключатели)
        </div>
      </div>

    </div>
  </div>
</section>

<section class="home-advantages">
  <div class="container">
    <div class="home-advantages__list">
      <div class="home-advantages__item">
        <p>География клиентов от Москвы до Калининграда</p>
      </div>
      <div class="home-advantages__item">
        <p>Работаем напрямую с ведущими мировыми производителями сенсоров</p>
      </div>
      <div class="home-advantages__item">
        <p>Минимальные сроки поставки и минимальные цены на оборудование</p>
      </div>
    </div>
  </div>
</section>

<section class="home-goods">
  <div class="home-goods__title container">
    Товары
  </div>

  <div class="home-goods__nav">
    <div class="container">
      <div class="home-goods__nav__item active"><a href="#novelties_goods">Новинки</a></div>
      <div class="home-goods__nav__item"><a href="#shares_goods">Акции</a></div>
    </div>
  </div>

  <div class="home-goods__tabs">

    <div class="home-goods__tab active" id="novelties_goods">
      <div class="container">

        <div class="catalog-list">

          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист сообщит вам цену на товар</span></div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
            <div class="catalog-item__delivery">
               2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text">
                <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
              </div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
            <div class="catalog-item__delivery">
               2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                 в наличии
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__span">
              Авторизируйтесь, чтобы узнать цену
            </div>
            <div class="catalog-item__btn">
              <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              120 000 руб. <div class="price-info">?<div class="price-info__text"><span>поставка 2-4 недели</span></div></div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__span">
              Авторизируйтесь, чтобы узнать цену
            </div>
            <div class="catalog-item__btn">
              <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                 Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                 Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                 Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              120 000 руб. <div class="price-info">?<div class="price-info__text"><span>поставка 2-4 недели</span></div></div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>

              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
              
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img1.jpg" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link">
                <div class="btn-no__text">
                  <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                </div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img2.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
          
            </div>
            <div class="catalog-item__btn">
              <a href="#price_request" class="btn-no popup-link">
                <div class="btn-no__text">
                  <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                </div>Узнать цену</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status status-underOrder">
                под заказ
              </div>
          
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
          
            </div>
            <div class="catalog-item__delivery">
              2-4 недели
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="home-goods__tab" id="shares_goods">
      <div class="container">
        <div class="catalog-list">
        
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__img">
              <a href="#">
                <img src="img/catalog__img3.png" alt="">
              </a>
            </div>
            <div class="catalog-item__title">
              <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
            </div>
            <div class="catalog-item__options">
              <div class="catalog-item__option">
                Производитель: Balluff
              </div>
              <div class="catalog-item__option">
                Маркировка: РС РГО
              </div>
              <div class="catalog-item__option">
                Код заказа: 555646
              </div>
            </div>
            <div class="catalog-item__price">
              <span class="old-price">123 000</span>120 000 руб.
              <div class="price-info">?
                <div class="price-info__text">
                  <span>поставка 2-4 недели</span>
                </div>
              </div>
            </div>
            <div class="catalog-item__btn">
              <a href="#" class="btn-blue">Купить</a>
            </div>
            <div class="catalog-item__bot">
              <div class="catalog-item__status">
                в наличии
              </div>
        
              <div class="catalog-item__dop">
                <a href="#" class="catalog-item__favorites">
                  <i class="icon-favorites_blue"></i>
                  <span class="catalog-item__favorites-text">Добавить в избранное</span>
                </a>
                <a href="#" class="catalog-item__comparison">
                  <i class="icon-comparison_blue"></i>
                  <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                </a>
              </div>
        
            </div>
          </div>
        
        </div>
      </div>
    </div>

  </div>
</section>

<section class="home-customers">
  <div class="container">
    <div class="home-customers__top">
      <div class="home-customers__title">
         Наши клиенты
      </div>

      <a href="#" class="home-customers__link">Все клиенты</a>
    </div>

    <div class="home-customers__list">

      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers2.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Автоматизаторы</a>
        </div>
        <div class="home-customers__item-city">Ростов-на-Дону</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers3.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Группа Компаний Навигатор</a>
        </div>
        <div class="home-customers__item-city">Екатеринбург, Курск, Новосибирск, Тюмень, Хабаровск</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers2.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Автоматизаторы</a>
        </div>
        <div class="home-customers__item-city">Ростов-на-Дону</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers3.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
           <a href="#">Группа Компаний Навигатор</a>
        </div>
        <div class="home-customers__item-city">Екатеринбург, Курск, Новосибирск, Тюмень, Хабаровск</div>
      </div>
      <div class="home-customers__item">
        <div class="home-customers__item-img">
          <a href="#"> <img src="img/customers.png" alt=""></a>
        </div>
        <div class="home-customers__item-title">
          <a href="#">Информатика и Сервис</a>
        </div>
        <div class="home-customers__item-city">Москва</div>
      </div>

    </div>
  </div>
</section>

<section class="home-about-company">
  <div class="container">
    <div class="home-about-company__row">
      <div class="home-about-company__col">
        <div class="home-about-company__title">
           О компании
        </div>
        <div class="home-about-company__desc">
          <img src="img/about-company.png" alt="" class="home-about-company__img">
          <p>Компания «Город Инструмента» на протяжении многих лет является надежным партнером для известных производственных компаний
          различных отраслей промышленности в области поставок профессионального электроинструмента, компрессорного и сварочного оборудования.</p>
          <p>В связи с потребностью наших клиентов в надежном поставщике комплектующих и компонентов для автоматизации производства, а
          также для продвижения продукции и поддержки направления «датчики для автоматизации» было принято решение о создании сайта
          www.sensoren.ru.</p>
          <p>Мы работаем напрямую с представительствами и дистрибьюторами ведущих мировых производителей сенсоров, поэтому
          Вы можете быть уверены в минимальных сроках поставки и минимальных ценах на оборудование. На складе в Москве поддерживаются
          стандартные позиции индуктивных и оптических датчиков, блочных выключателей, датчиков линейных перемещений. Если на Вашем
          оборудовании стоят старые сенсоры, которые уже сняты с производства, или простаивает оборудование из-за поломки датчика,
          мы подберем замену и аналог из имеющихся датчиков на складе.</p>
        </div>
      </div>
      <div class="home-about-company__col">
        <div class="home-certificates">
          <div class="home-certificates__top">
            <div class="home-certificates__title">
               Сертификаты
            </div>
            <a href="#" class="home-certificates__link">Все сертификаты</a>
          </div>

          <div class="home-certificates__list">
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates1.jpg"><img src="img/certificates1.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates2.jpg"><img src="img/certificates2.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates3.jpg"><img src="img/certificates3.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates4.jpg"><img src="img/certificates4.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates5.jpg"><img src="img/certificates5.jpg" alt=""></a>
            </div>
            <div class="home-certificates__item">
              <a data-fancybox="certificates" href="img/certificates6.jpg"><img src="img/certificates6.jpg" alt=""></a>
            </div>
          </div>
        </div>



        <div class="home-news">

          <div class="home-news__top">
            <div class="home-news__title">
              Новости
            </div>
            <a href="#" class="home-news__link">Все новости</a>
          </div>

          <div class="news-list news-list__min">
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новинки PEPPERL FUCHS (Пепперл и Фукс) для мобильных рабочих</a></div>
              <div class="news-list__item-bottom">
                <span>17.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новые магнитные системы измерения положения Balluff серии BMP</a></div>
              <div class="news-list__item-bottom">
                <span>17.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новое считывающее устройство 1D и 2D штрихкодов IFM Electronic</a></div>
              <div class="news-list__item-bottom">
                <span>07.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новые калориметрические датчики учета расхода сжатого воздуха IFM Electronic серии SD</a></div>
              <div class="news-list__item-bottom">
                <span>03.06.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Многоцветные датчики прикосновения с IO-Link IFM Electronic серии КТ</a></div>
              <div class="news-list__item-bottom">
                <span>31.05.2019</span>
              </div>
            </div>
        
            <div class="news-list__item">
              <div class="news-list__item-title"><a href="#">Новый датчик DATALOGIC серии S5N</a></div>
              <div class="news-list__item-bottom">
                <span>29.05.2019</span>
              </div>
            </div>
        
          </div>
        
        </div>

      </div>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="container">
    <div class="main-footer__row">
      <div class="main-footer__left">
        
        <div class="footer-nav">
          <div class="footer-nav__title">
            Продукция и информация
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог товаров</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог брендов</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Доставка</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Оплата</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Прайс</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             О компании
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">О нас</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Сертификаты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Наши клиенты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Публикации</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             Личный кабинет
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вход/Регистрация</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Личные данные</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Корзина</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Избранное</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">История заказов</a></li>
          </ul>
        </div>

      </div>
      <div class="main-footer__right">

        <div class="footer-maps-site">
          <a href="#">карта сайта</a>
        </div>
        <div class="footer-phone">
          <p>+7 (495) 540-48-00; +7 (800) 333-13-53</p>
          <span>пн-пт 9:00-19:00; сб. 10:00-17:00 вс. выходной</span>
        </div>
        <div class="footer-email">
          <a href="#">info@sensoren.ru</a>
        </div>
        <div class="footer-adress">
          <span>107023, г. Москва, м. Преображенская площадь или Электрозаводская ул. Девятая Рота, дом 7а, офис 107</span>
        </div>

      </div>
    </div>

    <div class="footer-coperight">
      <p>Copyright Sensoren © 2018 Поставщик комплектующих и компонентов для автоматизации производства</p>
    </div>
  </div>
</footer>

<div class="panel-comparison show">
  <div class="container">
    <div class="panel-comparison__show"></div>
    <div class="panel-comparison__title">
      Товары для сравнения
    </div>
    <div class="panel-comparison__wrap">
      <div class="panel-comparison__list">
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
      </div>
      <div class="panel-comparison__link">
        <a href="#">Сравнить</a>
      </div>
    </div>
  </div>
</div>

<div class="hidden">

  <div class="popup-form" id="those_specialist">
    <div class="popup-form__title">
       Задать вопрос техническому специалисту
    </div>

    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio" class="form-input__label">Фамилия Имя <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone" class="form-input__label">Телефон <span>*</span></label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email" class="form-input__label">E-mail <span>*</span></label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization" class="form-input__label">Организация <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question" class="form-input__label">Задайте вопрос <span>*</span></label>
            <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_2" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_2">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «<a href="#">О персональных данных</a>». <span>*</span></label>
          </div>
        </div>  
        <div class="popup-form__col">
          <div class="popup-form__info"><span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="request_purchase">
    <div class="popup-form__title">
       Запрос на покупку
    </div>

    <div class="popup-form__content">
      <div class="form-input input_right">
        <label for="fio3" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio3">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input input_wrong">
            <label for="phone3" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone3">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email3" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email3">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization3" class="form-input__label">Организация
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization3">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question3" class="form-input__label">Задайте вопрос
              <span>*</span>
            </label>
            <textarea name="" id="question3" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file3" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file3">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_1" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_1">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="price_request">
    <div class="popup-form__title">
      Запрос цены на товар
    </div>
    <div class="popup-form__desc">
      Электромеханические блочные выключатели Balluff серии 100
    </div>
  
    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio2" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio2">
      </div>
  
      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone2" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone2">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email2" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email2">
          </div>
        </div>
      </div>
  
      <div class="form-input">
        <label for="question" class="form-input__label">Задайте вопрос
          <span>*</span>
        </label>
        <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
      </div>
  
      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_3" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_3">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения
          </div>
        </div>
      </div>
  
      <input type="submit" class="btn-blue form-submit" value="отправить запрос">
  
    </div>
  </div>

  <div class="popup-form form-loginRegistration" id="login_registration">
    
    <div class="login-registration">
      <div class="login-registration__nav">
        <div class="login-registration__nav-item">
          <span>Вход</span>
        </div>
        <div class="login-registration__nav-item">
          <span>Регистрация</span>
        </div>
      </div>

      <div class="login-registration__tabs">

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="login" class="form-input__label">E-mail</label>
            <input type="text" class="form-input__input" id="login">
          </div>
          <div class="form-password">
            <label for="password" class="form-password__label">Пароль</label>
            <input type="password" class="form-password__input" id="password">
            <a href="#" class="password-recovery__link">Не помните?</a>
          </div>
          <input type="submit" class="btn-blue form-submit form-submit__min" value="Войти">

        </div>

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="fio4" class="form-input__label">Фамилия Имя
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите имя" id="fio4">
          </div>
        
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-input">
                <label for="phone4" class="form-input__label">Телефон
                  <span>*</span>
                </label>
                <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone4">
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-input">
                <label for="email4" class="form-input__label">E-mail
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email4">
              </div>
            </div>
          </div>
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password2" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password2">
                <span class="form-password__info">не менее 6 символов</span>
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password3" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password3">
              </div>
            </div>
          </div>

          <div class="recapcha-v2">
            <div class="form-checkbox">
              <input type="checkbox" id="not_robot" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="not_robot">Я не робот <span>*</span></label>
            </div>
          </div>
        
          <input type="submit" class="btn-blue form-submit" value="зарегистрироваться">

          <div class="privacy-policy__v2">
            <p>Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии
            моих заказов, а также принимаю <a href="#">условия политики конфиденциальности и пользовательского соглашения</a>.</p>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<!-- Подключение js файлов -->
<!-- build:js js/vendor.js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/jquery/dist/jquery-ui.js"></script>
<script src="libs/slick-carousel/slick/slick.js"></script>
<script src="libs/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="libs/jquery.maskedinput.min.js"></script>
<script src="libs/svg4everybody/svg4everybody.js"></script>
<script src="libs/selectric/jquery.selectric.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyKIqX5qAvaApa58GFHzG64XtM1Kih4M&callback=initMap">
    </script>

<script>

  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: { lat: 55.790267, lng: 37.710650 },
      styles: [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        }
      ]
    });

    var image = {
      url: 'img/map-marker.svg',
      scaledSize: new google.maps.Size(37, 53),
    }
    var beachMarker = new google.maps.Marker({
      position: { lat: 55.790267, lng: 37.710650 },
      map: map,
      icon: image
    });
  }
</script>
</body>
</html>
