 

<div class="page-wrap container">

  <div class="bread-crumbs">
    <a href="#" class="bread-crumbs__link">Главная</a>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Бесконтактные датчики положения объекта</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Емкостные датчики</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__nav"><a href="#" class="bread-crumbs__link">Емкостные датчики в прямоугольных корпусах</a>
      <div class="bread-crumbs__sub">
        <ul class="bread-crumbs__menu">
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Аксессуары</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Бесконтактные датчики положения объекта</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Блоки питания и усилители</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики давления</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики перемещений и расстояния</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики температуры</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Датчики уровня</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Оптические датчики для специальных задач</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Расходомеры, датчики и реле потока</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы диагностики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы идентификации</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Системы технического зрения</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Счётчики импульсов и цифровые индикаторы</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Щелевые датчики</a></li>
          <li class="bread-crumbs__menu-item"><a href="#" class="bread-crumbs__menu-link">Электромеханические датчики положения объекты (концевые выключатели)</a></li>
        </ul>
      </div>
    </span>
    <span class="bread-crumbs__current">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</span>
  </div>

  <h1 class="page-title">Оптические датчики Balluff BOS 08M и BOS 12M в цилиндрических корпусах с диффузионным отражением от объекта</h1>

  <div class="product-page">

    <div class="product-page__top">

      <div class="product-gallery">
        <div class="product-gallery__big">
          <div class="item-sale">скидка <span>20%</span></div>
          <div class="product-gallery__big-list">
            <a data-fullimg="gallery-item1" data-fancybox="product-gallery" class="product-gallery__big-item curent" href="img/product.png"><img src="img/product.png" alt=""></a>
            <a data-fullimg="gallery-item2" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img1.jpg"><img src="img/catalog__img1.jpg" alt=""></a>
            <a data-fullimg="gallery-item3" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img2.png"><img src="img/catalog__img2.png" alt=""></a>
            <a data-fullimg="gallery-item4" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img3.png"><img src="img/catalog__img3.png" alt=""></a>
            <a data-fullimg="gallery-item5" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/product.png"><img src="img/product.png" alt=""></a>
            <a data-fullimg="gallery-item6" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/product.png"><img src="img/product.png" alt=""></a>
            <a data-fullimg="gallery-item7" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img1.jpg"><img src="img/catalog__img1.jpg" alt=""></a>
            <a data-fullimg="gallery-item8" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img2.png"><img src="img/catalog__img2.png" alt=""></a>
            <a data-fullimg="gallery-item9" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/catalog__img3.png"><img src="img/catalog__img3.png" alt=""></a>
            <a data-fullimg="gallery-item10" data-fancybox="product-gallery" class="product-gallery__big-item" href="img/product.png"><img src="img/product.png" alt=""></a>
          </div>
        </div>
        <div class="product-gallery__dots dots-slider">

          <div class="dots-slider__item">
            <div data-miniature="gallery-item1" class="product-gallery__dot curent">
              <img src="img/product.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item2" class="product-gallery__dot">
              <img src="img/catalog__img1.jpg" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item3" class="product-gallery__dot">
              <img src="img/catalog__img2.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item4" class="product-gallery__dot">
              <img src="img/catalog__img3.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item5" class="product-gallery__dot">
              <img src="img/product.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item6" class="product-gallery__dot">
              <img src="img/product.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item7" class="product-gallery__dot">
              <img src="img/catalog__img1.jpg" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item8" class="product-gallery__dot">
              <img src="img/catalog__img2.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item9" class="product-gallery__dot">
              <img src="img/catalog__img3.png" alt="">
            </div>
          </div>
          <div class="dots-slider__item">
            <div data-miniature="gallery-item10" class="product-gallery__dot">
              <img src="img/product.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="product-inform">

        <div class="product-inform__cont">
          <div class="product-inform__row">
            <div class="product-inform__col">
              <div class="product-inform__title">Balluff BNS 819-D02-D12-100-10-FD</div>
              <div class="product-inform__code">Код товара 2233445</div>
            </div>
            <div class="product-inform__col">
              <div class="product-inform__manufacturer">
                <span>Производитель</span>
                <a href="#"><img src="img/country-germany.svg" alt=""> Balluff</a>
              </div>
            </div>
          </div>

          <div class="product-inform__oldPrice">
             2 560 <span>руб.</span>
          </div>
          <div class="product-inform__price">
             2 360 <span>руб.</span>

            <div class="product-inform__status">в наличии</div>
          </div>
          <div class="product-inform__quantityAdd">
            <div class="product-inform__quantity">
              <div class="quantity">
                <span class='quantity__btn quantity__btn-minus'></span>
                <input type="text" class="quantity__input" name="" value="1" />
                <span class='quantity__btn quantity__btn-plus'></span>
              </div>
            </div>
            <div class="product-inform__add">
              <a href="#product_cart_popup" class="btn-blue popup-link">в корзину</a>
            </div>

            <div class="hidden">
              <div class="product-cart-popup" id="product_cart_popup">
                <div class="product-cart-popup__title">
                   Товар добавлен в корзину
                </div>
                <div class="product-cart-popup__goods">
                  <div class="product-cart-popup__goods-img">
                    <a href="#"></a>
                  </div>
                  <div class="product-cart-popup__goods-cont">
                    <div class="product-cart-popup__goods-title">
                       <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                    </div>
                    <div class="product-cart-popup__goods-line">
                      <div class="product-cart-popup__goods-l">
                        <div class="quantity">
                          <span class='quantity__btn quantity__btn-minus'></span>
                          <input type="text" class="quantity__input" name="" value="1" />
                          <span class='quantity__btn quantity__btn-plus'></span>
                        </div>
                        <div class="price">х <span>1 205</span> руб.</div>
                      </div>
                      <div class="product-cart-popup__goods-r">
                         Всего:<br> 1 205 <span>руб.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="submit" class="btn-blue form-submit" value="оформить заказ">

                <a href="#" class="product-cart-popup__link">Итого в Вашей корзине 1 товар на сумму 1 205 руб.</a>

                <div class="roduct-cart-popup__similar-title">Похожие товары</div>
                <div class="roduct-cart-popup__similar">
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 200 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 300 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 200 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                  <div class="roduct-cart-popup__similar-item">
                    <div class="roduct-cart-popup__similar-item__img"><a href="#"></a></div>
                    <div class="roduct-cart-popup__similar-item__price">1 200 <span>руб.</span></div>
                    <div class="roduct-cart-popup__similar-item__tittle"><a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="product-inform__links">
          <a href="#" class="product-inform__certificate">
            <i class="icon-certificate_blue"></i>
            <span class="product-inform__certificate-text">Сертификат дилера</span>
          </a>
          <a href="#" class="product-inform__favorites">
            <i class="icon-favorites_blue"></i>
            <span class="product-inform__favorites-text">Добавить в избранное</span>
          </a>
          <a href="#" class="favorites-item__comparison">
            <i class="icon-comparison_blue"></i>
            <span class="favorites-item__comparison-text">Сравнить</span>
            
          </a>
          <a href="#" class="favorites-item__print">
            <i class="icon-print_blue"></i>
            <span class="favorites-item__print-text">Распечатать</span>
          </a>
        </div>

      </div>

    </div>

    <div class="product-page__bottom">

      <div class="product-page__tabNav">
        <div class="product-page__tabNav-item active">
          <a href="#description">Описание</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#specifications">Технические характеристики</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#documentation">Документация</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#method_obtaining">Способ получения товара</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#accessories">Аксессуары</a>
        </div>
        <div class="product-page__tabNav-item">
          <a href="#ask_question">Задать вопрос</a>
        </div>
      </div>

      <div class="product-page__tabs">

        <div class="product-page__tab active" id="description">
          <div class="accordion-nav">Описание</div>

          <div class="product-page__tab-cont">
            <div class="product-desc">
              <p>Миниатюрные оптические датчики Balluff серии BOS 08M и BOS 12M с диффузионным отражением содержат передатчик и приемник
                света, которые размещены в одном цилиндрическом корпусе. Передатчик испускает световой луч, и как только объект попадает
                в луч, то он отражает часть света от своей поверхности обратно в приемник, в оптическом сенсоре происходит переключение,
                т.е. изменение функции на выходе. Необходимо иметь в виду, что расстояние зависит от размера, формы, цвета и типа поверхности
                объекта. Максимальные расстояния срабатывания рассчитаны для объекта с отражением 90%.</p>
              <p> Диффузионные оптические датчики Balluff BOS 08M и BOS 12M выпускаются миниатюрных цилиндрических корпусах с различными
                расстояниями срабатывания и различными типами выходного сигнала. Оптические датчики Balluff BOS 08M и Balluff BOS 12M
                в цилиндрическом корпусе совместимы механически и электрически с индуктивными датчиками.</p>
            </div>
          </div>

        </div>
        <div class="product-page__tab" id="specifications">
          <div class="accordion-nav">Технические характеристики</div>
          <div class="product-page__tab-cont">

            <div class="product-specifications">

              <div class="product-specifications__table">
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Тип
                  </div>
                  <div class="product-specifications__td">
                    датчик контрастной метки
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Принцип действия
                  </div>
                  <div class="product-specifications__td">
                    оптический
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Тип излучателя
                  </div>
                  <div class="product-specifications__td">
                    LED красный, зеленый, синий
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Расстояние срабатывания
                  </div>
                  <div class="product-specifications__td">
                    9 мм
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Температура эксплуатации
                  </div>
                  <div class="product-specifications__td">
                    -10.. 55 °C
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Функция на выходе
                  </div>
                  <div class="product-specifications__td">
                    PNP (NPN) NO/NC, аналоговый 0.. 5.5В
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Частота переключений
                  </div>
                  <div class="product-specifications__td">
                    до 30000 Гц
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Питание
                  </div>
                  <div class="product-specifications__td">
                    DC
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Материал корпуса
                  </div>
                  <div class="product-specifications__td">
                    металл, ABS
                  </div>
                </div>
                <div class="product-specifications__tr">
                  <div class="product-specifications__th">
                    Способ подключения
                  </div>
                  <div class="product-specifications__td">
                    разъем
                  </div>
                </div>
              </div>
              
            </div>

          </div>
        </div>
        <div class="product-page__tab" id="documentation">
          <div class="accordion-nav">Документация</div>

          <div class="product-page__tab-cont">
            <div class="tab-documentation">
              <div class="tab-documentation__title">
                Файлы IODD для скачивания
              </div>
            
              <div class="tab-documentation__item">
            
                <div class="documentation-lang">
            
                  <a href="#" class="documentation-lang__archive">IO описание устройства - IODD</a>
            
                  <label>Язык</label>
                  <select class="documentation-lang__select" name="iodd_language">
                    <option value="http://#русский" selected="selected" label="русский">русский</option>
                    <option value="http://#английский" label="английский">английский</option>
                    <option value="http://#немецкий" label="немецкий">немецкий</option>
                    <option value="http://#японский" label="японский">японский</option>
                    <option value="http://#португальский" label="португальский">португальский</option>
                    <option value="http://#корейский" label="корейский">корейский</option>
                    <option value="http://#испанский" label="испанский">испанский</option>
                    <option value="http://#французкий" label="французкий">французкий</option>
                    <option value="http://#китайский" label="китайский">китайский</option>
                    <option value="http://#итальянский" label="итальянский">итальянский</option>
                  </select>
            
                  <a href="#" class="documentation-lang__link">IO описание устройства PDF</a>
                </div>
            
              </div>
            
              <div class="tab-documentation__title">
                Сертификаты
              </div>
            
              <div class="tab-documentation__item">
                <div class="table-wrap">
                  <table>
                    <thead>
                      <tr>
                        <th>Документ</th>
                        <th>Размер</th>
                        <th>Тип</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">CRN-Сертификат</a></td>
                        <td>7,5 MB</td>
                        <td>PDF</td>
                      </tr>
                      <tr>
                        <td><a href="#" target="_blank">IO-LINK-Сертификат</a>
                          <td>
                            934,0 kB
                          </td>
                          <td>
                            PDF
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            
              <div class="tab-documentation__title">
                CAD
              </div>
            
              <div class="tab-documentation__item">
                <div class="table-wrap">
                  <table>
                    <thead>
                      <tr>
                        <th> В формате CAD</th>
                        <th>Имя файла</th>
                        <th>Размер</th>
                        <th>Тип</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>DWG (2D)</td>
                        <td><a href="#" target="_blank"> CAD_DWG_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                      <tr>
                        <td>DXF (2D)</td>
                        <td><a href="#" target="_blank"> CAD_DXF_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                      <tr>
                        <td>SAT (3D)</td>
                        <td><a href="#" target="_blank"> CAD_SAT_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                      <tr>
                        <td>STP (3D)</td>
                        <td><a href="#" target="_blank"> CAD_STP_300_0080.ZIP</a></td>
                        <td>103,2 kB</td>
                        <td>ZIP</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            
              <div class="tab-documentation__item">
                <a href="#">Другие форматы файлов CAD (от стороннего поставщика)</a>
                <p>Примечание: Обратите внимание на то, что CAD данные упрощены и показывают только средний уровень подробностей. Необходимо
                  принять во внимание производственные допуски.</p>
              </div>
            
              <div class="tab-documentation__title">
                Скачать программное обеспечение
              </div>
            
              <div class="tab-documentation__item">
                <a href="#">Другое ПО доступно в разделе "Сервис / Скачивание".</a>
              </div>
              <div class="tab-documentation__title">
                Файл EPLAN
              </div>
            
              <div class="tab-documentation__item">
                <div class="table-wrap">
                  <table>
                    <thead>
                      <tr>
                        <th>Файла</th>
                        <th>Размер</th>
                        <th>Тип</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" target="_blank"> Скачать EPLAN</a></td>
                        <td>71,5 kB</td>
                        <td>EDZ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            
            </div>
          </div>
          
        </div>
        <div class="product-page__tab" id="method_obtaining">
          <div class="accordion-nav">Способ получения товара</div>
          <div class="product-page__tab-cont">Способ получения товара</div>
        </div>
        <div class="product-page__tab" id="accessories">
          <div class="accordion-nav">Аксессуары</div>
          <div class="product-page__tab-cont">
            <div class="catalog-list">
            
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img1.jpg" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text"><span>отправьте заявку и наш специалист
                        сообщит вам цену на товар</span></div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
            
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link"><div class="btn-no__text">
                      <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                    </div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img3.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  <span class="old-price">123 000</span>120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text">
                      <span>поставка 2-4 недели</span>
                    </div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status">
                    в наличии
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__span">
                  Авторизируйтесь, чтобы узнать цену
                </div>
                <div class="catalog-item__btn">
                  <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text"><span>поставка 2-4 недели</span></div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__span">
                  Авторизируйтесь, чтобы узнать цену
                </div>
                <div class="catalog-item__btn">
                  <a href="#login_registration" class="btn-aut popup-link">Авторизироваться</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text"><span>поставка 2-4 недели</span></div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img3.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики контрастной метки DATALOGIC-DATASENSOR S8</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                  <span class="old-price">123 000</span>120 000 руб.
                  <div class="price-info">?
                    <div class="price-info__text">
                      <span>поставка 2-4 недели</span>
                    </div>
                  </div>
                </div>
                <div class="catalog-item__btn">
                  <a href="#" class="btn-blue">Купить</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status">
                    в наличии
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img1.jpg" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Оптические датчики DATALOGIC-DATASENSOR S65-Z для контроля кромки и ширины объекта</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link">
                    <div class="btn-no__text">
                      <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                    </div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
              <div class="catalog-item">
                <div class="catalog-item__img">
                  <a href="#">
                    <img src="img/catalog__img2.png" alt="">
                  </a>
                </div>
                <div class="catalog-item__title">
                  <a href="#">Датчики давления BALLUFF BSP High-End с релейным выходом</a>
                </div>
                <div class="catalog-item__options">
                  <div class="catalog-item__option">
                    Производитель: Balluff
                  </div>
                  <div class="catalog-item__option">
                    Маркировка: РС РГО
                  </div>
                  <div class="catalog-item__option">
                    Код заказа: 555646
                  </div>
                </div>
                <div class="catalog-item__price">
            
                </div>
                <div class="catalog-item__btn">
                  <a href="#price_request" class="btn-no popup-link">
                    <div class="btn-no__text">
                      <span>отправьте заявку и наш специалист сообщит вам цену на товар</span>
                    </div>Узнать цену</a>
                </div>
                <div class="catalog-item__bot">
                  <div class="catalog-item__status status-underOrder">
                    под заказ
                  </div>
            
                  <div class="catalog-item__dop">
                    <a href="#" class="catalog-item__favorites">
                      <i class="icon-favorites_blue"></i>
                      <span class="catalog-item__favorites-text">Добавить в избранное</span>
                    </a>
                    <a href="#" class="catalog-item__comparison">
                      <i class="icon-comparison_blue"></i>
                      <span class="catalog-item__comparison-text">Добавить в сравнение</span>
                    </a>
                  </div>
            
                </div>
                <div class="catalog-item__delivery">
                  2-4 недели
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="product-page__tab" id="ask_question">
          <div class="accordion-nav">Задать вопрос</div>
          <div class="product-page__tab-cont">
            <div class="ask-question-form">
              <div class="ask-question-form__title">
                Задать вопрос
              </div>
              <div class="ask-question-form__cont">
                <div class="ask-question-form__row-3">
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="fio7" class="form-input__label">Фамилия Имя
                        <span>*</span>
                      </label>
                      <input type="text" class="form-input__input" placeholder="Введите имя" id="fio7">
                    </div>
                  </div>
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="phone7" class="form-input__label">Телефон
                        <span>*</span>
                      </label>
                      <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone7">
                    </div>
                  </div>
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="email7" class="form-input__label">E-mail
                        <span>*</span>
                      </label>
                      <input type="email" class="form-input__input" placeholder="Введите e-mail" id="email7">
                    </div>
                  </div>
                </div>
                <div class="ask-question-form__row">
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="subject5" class="form-input__label">Тема
                        <span>*</span>
                      </label>
                      <textarea name="" id="subject7" class="form-input__textarea" placeholder="Введите тему"></textarea>
                    </div>
                  </div>
                  <div class="ask-question-form__col">
                    <div class="form-input">
                      <label for="question7" class="form-input__label">Задайте Ваш вопрос
                        <span>*</span>
                      </label>
                      <textarea name="" id="question7" class="form-input__textarea" placeholder="Напишите нвопрос"></textarea>
                    </div>
                  </div>
                </div>
            
                <div class="ask-question-form__bottom">
                  <div class="ask-question-form__bottom-l">
                    <div class="privacy-policy">
                      <input type="checkbox" id="privacy_policy" class="privacy-policy__input" required>
                      <label class="privacy-policy__label" for="privacy_policy">Даю своё согласие на передачу персональных данных в соответствии
                        с Федеральным законом «
                        <a href="#">О персональных данных</a>».
                        <span>*</span>
                      </label>
                    </div>
                  </div>
                  <div class="ask-question-form__bottom-r">
                    <div class="popup-form__info">
                      <span>*</span> Поля обязательные для заполнения
                    </div>
                  </div>
                </div>
                <div class="ask-question-form__submit">
                  <input type="submit" class="btn-blue form-submit" value="отправить">
                </div>
              </div>
            </div>
          </div>
          
        </div>

      </div>

    </div>

  </div>

</div>


<footer class="main-footer">
  <div class="container">
    <div class="main-footer__row">
      <div class="main-footer__left">
        
        <div class="footer-nav">
          <div class="footer-nav__title">
            Продукция и информация
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог товаров</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Каталог брендов</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Доставка</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Оплата</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Прайс</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             О компании
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">О нас</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Сертификаты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Наши клиенты</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Публикации</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <div class="footer-nav__title">
             Личный кабинет
          </div>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вход/Регистрация</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Личные данные</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Корзина</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Избранное</a></li>
            <li class="footer-menu__item"><a href="#" class="footer-menu__link">История заказов</a></li>
          </ul>
        </div>

      </div>
      <div class="main-footer__right">

        <div class="footer-maps-site">
          <a href="#">карта сайта</a>
        </div>
        <div class="footer-phone">
          <p>+7 (495) 540-48-00; +7 (800) 333-13-53</p>
          <span>пн-пт 9:00-19:00; сб. 10:00-17:00 вс. выходной</span>
        </div>
        <div class="footer-email">
          <a href="#">info@sensoren.ru</a>
        </div>
        <div class="footer-adress">
          <span>107023, г. Москва, м. Преображенская площадь или Электрозаводская ул. Девятая Рота, дом 7а, офис 107</span>
        </div>

      </div>
    </div>

    <div class="footer-coperight">
      <p>Copyright Sensoren © 2018 Поставщик комплектующих и компонентов для автоматизации производства</p>
    </div>
  </div>
</footer>

<div class="panel-comparison show">
  <div class="container">
    <div class="panel-comparison__show"></div>
    <div class="panel-comparison__title">
      Товары для сравнения
    </div>
    <div class="panel-comparison__wrap">
      <div class="panel-comparison__list">
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img3.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img1.jpg" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
        <div class="panel-comparison__item">
          <a href="#" class="panel-comparison__item-del"></a>
          <div class="panel-comparison__item-img">
            <img src="img/catalog__img2.png" alt="">
          </div>
          <div class="panel-comparison__item-title">
            <a href="#">Инкрементальные энкодеры IFM Electronic с полым валом 12мм</a>
          </div>
        </div>
      </div>
      <div class="panel-comparison__link">
        <a href="#">Сравнить</a>
      </div>
    </div>
  </div>
</div>

<div class="hidden">

  <div class="popup-form" id="those_specialist">
    <div class="popup-form__title">
       Задать вопрос техническому специалисту
    </div>

    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio" class="form-input__label">Фамилия Имя <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone" class="form-input__label">Телефон <span>*</span></label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email" class="form-input__label">E-mail <span>*</span></label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization" class="form-input__label">Организация <span>*</span></label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question" class="form-input__label">Задайте вопрос <span>*</span></label>
            <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_2" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_2">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «<a href="#">О персональных данных</a>». <span>*</span></label>
          </div>
        </div>  
        <div class="popup-form__col">
          <div class="popup-form__info"><span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="request_purchase">
    <div class="popup-form__title">
       Запрос на покупку
    </div>

    <div class="popup-form__content">
      <div class="form-input input_right">
        <label for="fio3" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio3">
      </div>

      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input input_wrong">
            <label for="phone3" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone3">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email3" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email3">
          </div>
        </div>
      </div>

      <div class="form-input">
        <label for="organization3" class="form-input__label">Организация
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="organization3">
      </div>

      <div class="popup-form__rowTwo">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="question3" class="form-input__label">Задайте вопрос
              <span>*</span>
            </label>
            <textarea name="" id="question3" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-file">
            <label for="file3" class="form-file__label">Прикрепить фото товара или шильдика</label>
            <input type="file" class="form-file__input" id="file3">
          </div>
          <div class="form-recapcha">
            <div class="g-recaptcha" data-sitekey="6LcFlWkUAAAAAIOv3F5NGKloM25l_pa2VXmhK_RM"></div>
          </div>
        </div>
      </div>

      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_1" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_1">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения</div>
        </div>
      </div>

      <input type="submit" class="btn-blue form-submit" value="отправить вопрос">

    </div>
  </div>

  <div class="popup-form" id="price_request">
    <div class="popup-form__title">
      Запрос цены на товар
    </div>
    <div class="popup-form__desc">
      Электромеханические блочные выключатели Balluff серии 100
    </div>
  
    <div class="popup-form__content">
      <div class="form-input">
        <label for="fio2" class="form-input__label">Фамилия Имя
          <span>*</span>
        </label>
        <input type="text" class="form-input__input" placeholder="Введите имя" id="fio2">
      </div>
  
      <div class="popup-form__row">
        <div class="popup-form__col">
          <div class="form-input">
            <label for="phone2" class="form-input__label">Телефон
              <span>*</span>
            </label>
            <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone2">
          </div>
        </div>
        <div class="popup-form__col">
          <div class="form-input">
            <label for="email2" class="form-input__label">E-mail
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email2">
          </div>
        </div>
      </div>
  
      <div class="form-input">
        <label for="question" class="form-input__label">Задайте вопрос
          <span>*</span>
        </label>
        <textarea name="" id="question" class="form-input__textarea" placeholder="Ваш вопрос"></textarea>
      </div>
  
      <div class="popup-form__bottom">
        <div class="popup-form__col">
          <div class="privacy-policy">
            <input type="checkbox" id="privacy_policy_3" class="privacy-policy__input" required>
            <label class="privacy-policy__label" for="privacy_policy_3">Даю своё согласие на передачу персональных данных в соответствии с Федеральным законом «
              <a href="#">О персональных данных</a>».
              <span>*</span>
            </label>
          </div>
        </div>
        <div class="popup-form__col">
          <div class="popup-form__info">
            <span>*</span> Поля обязательные для заполнения
          </div>
        </div>
      </div>
  
      <input type="submit" class="btn-blue form-submit" value="отправить запрос">
  
    </div>
  </div>

  <div class="popup-form form-loginRegistration" id="login_registration">
    
    <div class="login-registration">
      <div class="login-registration__nav">
        <div class="login-registration__nav-item">
          <span>Вход</span>
        </div>
        <div class="login-registration__nav-item">
          <span>Регистрация</span>
        </div>
      </div>

      <div class="login-registration__tabs">

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="login" class="form-input__label">E-mail</label>
            <input type="text" class="form-input__input" id="login">
          </div>
          <div class="form-password">
            <label for="password" class="form-password__label">Пароль</label>
            <input type="password" class="form-password__input" id="password">
            <a href="#" class="password-recovery__link">Не помните?</a>
          </div>
          <input type="submit" class="btn-blue form-submit form-submit__min" value="Войти">

        </div>

        <div class="login-registration__tab">

          <div class="form-input">
            <label for="fio4" class="form-input__label">Фамилия Имя
              <span>*</span>
            </label>
            <input type="text" class="form-input__input" placeholder="Введите имя" id="fio4">
          </div>
        
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-input">
                <label for="phone4" class="form-input__label">Телефон
                  <span>*</span>
                </label>
                <input type="tel" class="form-input__input" placeholder="+7 (___) ___-__-__" id="phone4">
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-input">
                <label for="email4" class="form-input__label">E-mail
                  <span>*</span>
                </label>
                <input type="text" class="form-input__input" placeholder="Введите e-mail" id="email4">
              </div>
            </div>
          </div>
          <div class="popup-form__row">
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password2" class="form-password__label">Пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password2">
                <span class="form-password__info">не менее 6 символов</span>
              </div>
            </div>
            <div class="popup-form__col">
              <div class="form-password">
                <label for="password3" class="form-password__label">Повторите пароль <span>*</span></label>
                <input type="password" class="form-password__input" id="password3">
              </div>
            </div>
          </div>

          <div class="recapcha-v2">
            <div class="form-checkbox">
              <input type="checkbox" id="not_robot" class="form-checkbox__input" required>
              <label class="form-checkbox__label" for="not_robot">Я не робот <span>*</span></label>
            </div>
          </div>
        
          <input type="submit" class="btn-blue form-submit" value="зарегистрироваться">

          <div class="privacy-policy__v2">
            <p>Нажимая кнопку «Зарегистрироваться», я соглашаюсь на получение информации от интернет-магазина и уведомлений о состоянии
            моих заказов, а также принимаю <a href="#">условия политики конфиденциальности и пользовательского соглашения</a>.</p>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<!-- Подключение js файлов -->
<!-- build:js js/vendor.js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/jquery/dist/jquery-ui.js"></script>
<script src="libs/slick-carousel/slick/slick.js"></script>
<script src="libs/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="libs/jquery.maskedinput.min.js"></script>
<script src="libs/svg4everybody/svg4everybody.js"></script>
<script src="libs/selectric/jquery.selectric.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyKIqX5qAvaApa58GFHzG64XtM1Kih4M&callback=initMap">
    </script>

<script>

  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: { lat: 55.790267, lng: 37.710650 },
      styles: [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        }
      ]
    });

    var image = {
      url: 'img/map-marker.svg',
      scaledSize: new google.maps.Size(37, 53),
    }
    var beachMarker = new google.maps.Marker({
      position: { lat: 55.790267, lng: 37.710650 },
      map: map,
      icon: image
    });
  }
</script>
</body>
</html>
