.panel-comparison {
  background: #737374;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  color: #fff;
  width: 100%;
  padding: 15px 0px 10px 0px;
  display: none;

  &.active {

    .panel-comparison__show {
      &:before {
        transform: translate(-50%,-50%) rotate(90deg);
      }
    }
    .panel-comparison__wrap {
      height: auto;
    }
  }

  

  .container {
    position: relative;
  }
  
  .panel-comparison__link {
    position: absolute;
    right: 15px;
    top: 70px;

    a {
      color: #fff;
      display: inline-block;
      border: 2px solid #e6e6e6;
      font-size: 13px;
      font-weight: 700;
      text-decoration: none;
      border-radius: 3px;
      padding: 3px 5px;
      transition: all .3s;

      &:hover {
        background: $accent;
        border-color: $accent;
      }
    }
  }

  .panel-comparison__show {
    width: 30px;
    height: 30px;
    background: #949594;
    content: "";
    position: absolute;
    top: -15px;
    right: 15px;
    cursor: pointer;

    &:before {
      width: 8px;
      height: 12px;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) rotate(-90deg);
      background: url(../img/slider-arrow__white.svg) no-repeat center;
      background-size: contain;
    }

    &:hover {
      background: #fff;

      &:before {
        background: url(../img/slider-arrow__hover.svg) no-repeat center;
        background-size: contain;
      }
    }

  } 

  .panel-comparison__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
  }
  .panel-comparison__wrap {
    padding-top: 5px;
    overflow: hidden;
    height: 0px;
  }
  .panel-comparison__list {
    max-width: calc(100% - 90px);
    position: relative;

    .slick-slide {
      padding-right: 20px;

      @media screen and (max-width: 380px) {
        text-align: center;
      }
    }    

    .slick-list {
      padding-top: 10px;
      margin-right: -20px;
    }

    .slick-prev {
      position: absolute;
      left: 0;
      top: 55px;
      width: 30px;
      height: 20px;
      border: none;
      font-size: 0px;
      background: #d6d6d6 url(../img/comparison__arrow.svg) no-repeat center;
      background-size: 25px 11px;
      z-index: 5;
      cursor: pointer;

      &:hover {
        background: $accent url(../img/comparison__arrow.svg) no-repeat center;
        background-size: 25px 11px;
      }
    }
    .slick-next {
      position: absolute;
      right: -6px;
      top: 55px;
      width: 30px;
      height: 20px;
      border: none;
      font-size: 0px;
      background: #d6d6d6 url(../img/comparison__arrow.svg) no-repeat center;
      background-size: 25px 11px;
      z-index: 5;
      cursor: pointer;
      transform: rotate(-180deg);

      &:hover {
        background: $accent url(../img/comparison__arrow.svg) no-repeat center;
        background-size: 25px 11px;
      }
    }
  }
  .panel-comparison__item {
    position: relative;

    @media screen and (max-width: 380px) {
      max-width: 140px;
      margin: 0 auto;
      text-align: left;
    }

    .panel-comparison__item-del {
      content: "";
      position: absolute;
      top: -5px;
      right: -5px;
      background: #dddddd url(../img/close.svg) no-repeat center;
      background-size: 9px 9px;
      width: 25px;
      height: 25px;

      &:hover {
        background: $accent url(../img/close__white.svg) no-repeat center;
        background-size: 9px 9px;
      }
    }
    .panel-comparison__item-img {
      width: 100%;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      margin-bottom: 5px;
      overflow: hidden;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
    .panel-comparison__item-title {
      font-size: 12px;
      line-height: 14px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.main-footer {
  background: #282828;
  color: #fff;
  padding: 30px 0px 0px 0px;

  .main-footer__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 740px) {
      display: block;
    }
  }

  .main-footer__left {
    width: 63%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1240px) {
      width: calc(67% - 50px);
    }
    @media screen and (max-width: 740px) {
      width: 100%;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 450px) {
      flex-wrap: wrap;
    }
  }

  .main-footer__right {
    width: 26%;

    @media screen and (max-width: 1240px) {
      width: calc(33%);
    }
    @media screen and (max-width: 740px) {
      width: 100%;
      max-width: 500px;
    }
  }
}
.footer-nav {

  .footer-nav__title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 450px) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.footer-menu {
  list-style: none;

  .footer-menu__item {
    margin-bottom: 5px;
  }
  .footer-menu__link {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.footer-maps-site {
  padding-left: 40px;
  position: relative;
  min-height: 27px;
  vertical-align: top;
  margin-bottom: 20px;

  a {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  &:before {
    width: 27px;
    height: 27px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/map.svg) no-repeat center;
    background-size: contain;
  }
}

.footer-phone {
  padding-left: 40px;
  position: relative;
  min-height: 27px;
  vertical-align: top;
  line-height: 18px;
  margin-bottom: 20px;

  p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
  }

  span {
    font-weight: 300;
    max-width: 250px;
    display: inline-block;
  }

  &:before {
    width: 17px;
    height: 27px;
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    background: url(../img/phone__white.svg) no-repeat center;
    background-size: contain;
  }
}
.footer-email {
  padding-left: 40px;
  position: relative;
  min-height: 27px;
  vertical-align: top;
  line-height: 18px;
  margin-bottom: 20px;

  a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    width: 24px;
    height: 20px;
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    background: url(../img/email__white.svg) no-repeat center;
    background-size: contain;
  }
}
.footer-adress {
  padding-left: 40px;
  position: relative;
  min-height: 27px;
  vertical-align: top;
  line-height: 18px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;

  &:before {
    width: 17px;
    height: 24px;
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    background: url(../img/marker__white.svg) no-repeat center;
    background-size: contain;
  }
}

.footer-coperight {
  padding: 35px 0px;
  text-align: center;
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 300;
  border-top: 1px solid #3e3e3e;
}