.head-top {
  background: #0a93da url(../img/head-top.jpg) repeat-x center bottom;
  background-size: auto;

  @media screen and (max-width: 992px) {
    display: none;
  }

  .head-top__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .head-top__left {

  }
  .head-top__right {

  }

  .head-top__nav {
    list-style: none;

    .head-top__nav-item {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0px;
      }
    }
    .head-top__nav-link {
      color: #fff;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .head-top__links {
    display: flex;

    .head-top__link {
      position: relative;
      margin-right: 25px;

      .head-top__link-hint {
        position: absolute;
        left: 8px;
        top: -6px;
        width: 20px;
        height: 20px;
        background: #00f0ff;
        font-size: 10px;
        color: #303030;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        line-height: 25px;
      }

      &:last-child {
        margin-right: 0px;
      }

      i {
        position: absolute;
        left: 0;
        bottom: 0px;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        display: block;
        position: relative;
        padding-left: 30px;
        height: 25px;
        line-height: 25px;
      }

      &.head-link-lk {
        padding-left: 25px;
      }
    }
  }
}

.main-head {
  padding-top: 25px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);

  .main-head__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
    }
  }
}
.head-logo {

  @media screen and (max-width: 992px) {
    width: 180px;
  }
  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }

  .logo {
    display: block;
    line-height: 0px;

    img {
      width: auto;
      max-width: 100%;
      max-height: 50px;
    }
  }

  @media screen and (max-width: 1240px) {
    margin-right: 15px;
  }
}
.head-search {

  @media screen and (max-width: 1240px) {
    margin-right: 15px;
  }

  @media screen and (max-width: 992px) {
    width: calc(100% - 220px);
    max-width: 463px;
    margin-right: 0px;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.search-block {
  position: relative;

  .search-block__input {
    border: 2px solid #d4d5d5;
    height: 40px;
    padding: 0px 15px;
    width: 450px;
    font-family: 'Open Sans';
    font-size: 15px;

    @media screen and (max-width: 1240px) {
      width: 300px;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
    }

    &:focus {
      border-color: #b1d3e4;
    }

    @include input-placeholder {
      color: #9a9a9a;
    }

    &:focus {

      & + .search-block__submit {
        background: url(../img/search__blue.svg) no-repeat center;
        background-size: 18px 19px;
      }
    }
  }
  .search-block__submit {
    background: url(../img/search.svg) no-repeat center;
    background-size: 18px 19px;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0px;
    cursor: pointer;
  }

  .search-block__autocomplete {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
    width: 680px;
    padding: 15px 20px;
    display: none;
    z-index: 5;

    @media screen and (max-width: 992px) {
      width: 460px;
    }
    @media screen and (max-width: 768px) {
      left: auto;
      right: 0px;
    }
    @media screen and (max-width: 490px) {
      width: 100%;
    }

    &.is-active {
      display: block;
    }

    .search-block__autocomplete-list {
      list-style: none;

      .search-block__autocomplete-item {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 1.3;
        text-decoration: underline;
        margin-bottom: 15px;

        a {
          color: $black;
          display: inline-block;

          &:hover {
            color: $accent;
          }
        }

        .search-block__autocomplete-img {
          display: block;
          width: 85px;
          align-items: center;
          margin-right: 20px;

          img {
            width: auto;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.head-contacts {
  display: flex;
  align-items: center;

  @media screen and (max-width: 992px) {
    width: 100%;
    padding-top: 20px;
    justify-content: flex-end;
  }
  @media screen and (max-width: 520px) {
    justify-content: center;
  }
  @media screen and (max-width: 500px) {
    display: block;
  }
}
.head-phone {
  height: 50px;
  background: #f5f5f5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 45px;
  flex-direction: column;
  line-height: 1.4;
  width: 195px;
  margin-right: 15px;

  .icon-phone {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
  }

  .head-phone__item {
    text-decoration: none;
    color: $black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    display: block;
  }

  @media screen and (max-width: 500px) {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.head-mode {
  display: flex;
  align-items: center;
  margin-right: 15px;

  @media screen and (max-width: 500px) {
    display: none;
  }

  .head-mode__text {
    font-size: 13px;
    width: 53px;
    line-height: 1.3;
    display: inline-block;
    cursor: pointer;
    position: relative;

    span {
      color: #7b7a7a;
      border-bottom: 1px dashed $accent;
    }

    &:hover {

      .head-mode__show {
        top: calc(100% + 5px);
        visibility: visible;
        opacity: 1;
      }
    }
    
  }

  .head-mode__show {
    position: absolute;
    width: 110px;
    background: #fff;
    font-size: 11px;
    line-height: 1.2;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
    padding: 5px 10px 7px 10px;
    z-index: 5;
    font-weight: normal;
    left: 0;
    visibility: hidden;
    opacity: 0;
    top: calc(100% - 15px);
    transition: all .2s;
    cursor: default;

    span {
      font-weight: bold;
      border: none;
    }
  }
}

.head-email {
  height: 50px;
  background: #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 40px;
  flex-direction: column;
  line-height: 1.4;
  width: 185px;

  @media screen and (max-width: 500px) {
    width: 195px;
    margin: 0 auto;
  }

  .icon-email {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
  }

  .head-email__item {
    text-decoration: none;
    color: $black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    display: block;
  }
}

.head-menu {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1240px) {
    align-items: center;
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.head-menu__link {

  @media screen and (max-width: 1240px) {

    a.btn {
      max-width: 120px;
      white-space: pre-wrap;
      line-height: 14px;
      height: auto;
      padding: 5px;
      font-size: 12px;
      display: inline-block;
      width: auto;

      &:first-child {
        max-width: 100px;
      }
    }

  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.main-menu {
  display: flex;

  .main-menu__item {
    display: inline-block;
    margin-right: 20px;
    position: relative;

    &:last-child {
      margin-right: 0px;
    }

    &.main-menu__item-sub {

      .main-menu__link {
        padding-right: 15px;

        &:before {
          background: url(../img/menu-sub.svg) no-repeat center;
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          width: 7px;
          height: 4px;
          background-size: contain;
          margin-top: -2px;
        }
      }
    }

    &:hover {

      & > .sub-wrap {
        display: block;
      }

      & > .menu-brands {
        display: block;
      }
    }
  }

  .main-menu__link {
    color: #1b130e;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;

    &:hover {
      color: $accent;
    }
  }

  .main-menu__item-catalog {

    .burger {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
    }

    .main-menu__link {
      padding-left: 50px;
    }
  }
}

.sub-wrap {
  position: absolute;
  left: 0;
  top: calc(100% + 17px);
  width: 360px;
  background: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
  display: none;
  z-index: 30;

  @media screen and (max-width: 1240px) {
    width: 310px;
  }

  &:before {
    width: 100%;
    height: 20px;
    position: absolute;
    content: "";
    left: 0;
    top: -20px;
  }

  .sub-wrap__bottom {
    padding: 10px 15px;
    text-align: center;

    span {
      color: #787878;
      font-size: 12px;
      font-weight: 300;
      display: block;
      margin-bottom: 10px;
    }

    .btn-blue {
      width: 100%;
      max-width: 270px;
    }
  }

  .sub-wrap {
    left: calc(100% + 2px);
    top: 0;

    .sub-menu {

      .sub-menu__link {
        font-weight: normal;
      }
    }

    .sub-wrap {
      left: calc(100% + 2px);
      top: 0;

      .sub-menu {

        .sub-menu__link {
          font-weight: 300;
          font-size: 12px;
        }
      }
    }
  }

  &.sub-wrap__min {
    width: 250px;
  }
}
.sub-menu {
  background: #f5f5f5;
  padding: 10px 0px 10px 15px;
  list-style: none;

  .sub-menu__item {
    padding-right: 15px;
    position: relative;

    &:before {
      width: calc(100% - 15px);
      left: 0px;
      bottom: 0;
      content: "";
      position: absolute;
      border-bottom: 1px dashed #cbcbcb;
    }

    &:last-child {
      border: none;
    }

    &.sub-menu__item-sub {

      > .sub-menu__link {

        &:after {
          width: 7px;
          height: 4px;
          content: "";
          background: url(../img/menu-sub.svg) no-repeat center;
          background-size: contain;
          display: inline-block;
          margin-left: 7px;
          transform: rotate(-90deg);
          position: relative;
          top: -2px;
        }

        &:hover {

          &:after {
            background: url(../img/menu-sub__blue.svg) no-repeat center;
            background-size: contain;
          }
        }
      }
    }

    &:hover {

      & > .sub-wrap {
        display: block;
      }
    }
  }
  .sub-menu__link {
    color: #1b130e;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 0px 7px 5px;
    line-height: 1.2;
    display: inline-block;
    transition: all .3s;

    &:hover {
      color: $accent;
    }

    span {
      color: #a4a4a4;
    }
  }
}

.menu-brands {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
  position: absolute;
  left: -222px;
  top: calc(100% + 17px);
  z-index: 20;
  width: 1180px;
  display: none;

  @media screen and (max-width: 1240px) {
    width: 940px;
  }

  &:before {
    width: 100%;
    height: 20px;
    position: absolute;
    content: "";
    left: 0;
    top: -20px;
  }

  .menu-brands__top {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;

    @media screen and (max-width: 1240px) {
      align-items: flex-start;
    }
  }

  .menu-brands__alphabet {
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;

      @media screen and (max-width: 1240px) {
        max-width: 700px;
      }

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          color: #1b130e;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          border-radius: 3px;
          transition: all .3s;

          &:hover {
            background: $accent;
            color: #fff;
          }
        }

        &.is-active {

          a {
            background: $accent;
            color: #fff;
          }
        }
      }
    }
  }

  .menu-brands__alphabet-change {
    color: #1b130e;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0px 5px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    transition: all .3s;
    position: relative;
    top: 3px;

    &:hover {
      background: $accent;
      color: #fff;
    }
  }

  .menu-brands__all {
    font-size: 13px;
    font-weight: bold;
  }

  .menu-brands__cont {
    padding: 15px;
  }

  .menu-brands__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .menu-brand__item {
      width: calc(100%/5);
      margin-bottom: 10px;

      .menu-brand__link {
        color: #1b130e;
        font-size: 15px;
        display: inline-block;
        line-height: 18px;
        text-decoration: none;
        min-width: 140px;
        padding-bottom: 12px;
        border-bottom: 1px dashed #d9d9d9;

        &:hover {
          color: $accent;
        }
      }

      &:nth-last-child(-n+5) {
        margin-bottom: 10px;

        .menu-brand__link {
          padding-bottom: 0px;
          border: none;
        }
      }
    }
  }
}

.scroll-panel {
  background: #0090da;
  padding: 10px 0px;
  position: fixed;
  left: 0;
  width: 100%;
  top: -100px;
  z-index: 70;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;

  &.is-fixed {
    opacity: 1;
    visibility: visible;
    top: 0;

    @media screen and (max-width: 992px) {
      position: fixed;
      left: 0;
      top: 0;
    }
  }

  @media screen and (max-width: 992px) {
    position: relative;
    top: auto;
    left: auto;
    visibility: visible;
    opacity: 1;
  }

  .scroll-panel__row {
    display: flex;
    justify-content: space-between;
  }

  .scroll-panel__left {
    display: flex;

    @media screen and (max-width: 992px) {
      margin-right: 15px;
    }
  }
  .scroll-panel__right {
    display: flex;
  }

  .scroll-panel__menu {
    position: relative;
    margin-right: 35px;

    @media screen and (max-width: 992px) {
      margin-right: 35px;
    }

    .scroll-panel__menu-burger {
      height: 37px;
      cursor: pointer;
      
      .burger {
        position: relative;
        top: 50%;
        transform: translate(0,-50%);
        

        &:before,
        &:after,
        span {
          background: #fff;
        }

        
      }

      @media screen and (min-width: 992px) {
        &:hover {

          & > .scroll-panel__menu-wrap {
            display: block;
          }
        }
      }
      @media screen and (max-width: 992px) {

        .burger {
          &:before,
          &:after {
            transition: transform .3s;
          }
        }

        &.on {

          .burger {

            &:before {
              transform: rotate(45deg);
              top: 8px;
              left: 0;
            }
            &:after {
              transform: rotate(-45deg);
              top: 8px;
              left: 0;
            }

            span {
              display: none;
            }
          }
        }
      }
    }

    .scroll-panel__menu-wrap {
      position: absolute;
      z-index: 5;
      left: 0;
      top: calc(100% + 10px);
      border-style: solid;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      background-color: rgb(242, 242, 242);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
      width: 370px;
      display: none;
      
      @media screen and (max-width: 420px) {
        width: 290px;
      }

      @media screen and (max-width: 992px) {
        
        &.show {
          display: block;
        }
      }

      &:before {
        width: 100%;
        height: 15px;
        content: "";
        position: absolute;
        left: 0;
        top: -15px;

      }
    }

    .scroll-panel__menu-row {
      display: flex;
      flex-wrap: wrap;
      padding: 5px 15px 0px 15px;
      justify-content: space-between;

      @media screen and (max-width: 420px) {
        display: block;
      }
    }
    .scroll-panel__menu-col {
      width: 45%;
      max-width: 155px;

      @media screen and (max-width: 420px) {
        width: 100%;

        .scroll-panel__menu-item {

          &:last-child {
            border-bottom: 1px dashed #d9d9d9;
          }
        }
      }

      &:last-child {

        @media screen and (max-width: 420px) {

          .scroll-panel__menu-item {

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }

    .scroll-panel__menu-list {
      list-style: none;
    }
    .scroll-panel__menu-item {
      border-bottom: 1px dashed #d9d9d9;
      padding-bottom: 4px;
      margin-bottom: 5px;

      &:last-child {
        border-bottom: none;
      }
      @media screen and (max-width: 420px) {
        margin-bottom: 0px;
      }
    }
    .scroll-panel__menu-link {
      font-size: 13px;
      color: #1b130e;
      font-weight: 600;
      text-decoration: none;
      padding: 0px 5px;

      &:hover {
        color: $accent;
      }
    }

    .scroll-panel__menu__bottom {
      background: #fff;
      padding: 10px 30px;
      display: none;

      @media screen and (max-width: 992px) {
        display: block;
      }
      @media screen and (max-width: 420px) {
        padding: 10px;
      }

      a.btn {
        width: 100%;

        @media screen and (max-width: 420px) {
          white-space: normal;
        }

        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }

  .scroll-panel__search {
    width: 565px;
    position: relative;
    margin-right: 25px;

    @media screen and (max-width: 992px) {
      margin-right: 15px;
    }

    @media screen and (max-width: 1240px) {
      width: 400px;
    }

    @media screen and (max-width: 992px) {
      width: 250px;
      display: none;
    }

    .scroll-panel__search-input {
      width: 100%;
      height: 37px;
      background: #ffffff;
      border-radius: 3px;
      color: $black;
      font-family: 'Open Sans';
      font-size: 15px;
      padding: 0px 40px 0px 15px;
      border: none;

      @include input-placeholder {
        color: #9a9a9a;
      }

      &:focus {

        & + .scroll-panel__search-submit {
          background: url(../img/search__blue.svg) no-repeat center;
          background-size: 18px 19px;
        }
      }
    }
    .scroll-panel__search-submit {
      background: url(../img/search.svg) no-repeat center;
      background-size: 18px 19px;
      border: none;
      height: 35px;
      width: 40px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0px;
      cursor: pointer;
    }

    .scroll-panel__autocomplete {
      position: absolute;
      left: 0;
      top: calc(100% + 10px);
      background: #fff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
      width: 680px;
      padding: 15px 20px;
      display: none;
      z-index: 5;

      &.is-active {
        display: block;
      }

      .scroll-panel__autocomplete-list {
        list-style: none;

        .scroll-panel__autocomplete-item {
          display: flex;
          align-items: center;
          font-size: 13px;
          line-height: 1.3;
          text-decoration: underline;
          margin-bottom: 15px;

          a {
            color: $black;
            display: inline-block;

            &:hover {
              color: $accent;
            }
          }

          .scroll-panel__autocomplete-img {
            display: block;
            width: 85px;
            align-items: center;
            margin-right: 20px;

            img {
              width: auto;
              max-width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }

  .scroll-panel__links {
    display: flex;
  }
  .scroll-panel__user {
    text-align: center;
    line-height: 1;
    margin-right: 20px;

    .icon-human {
      width: 17px;
      height: 22px;
    }
    
    span {
      display: block;
      font-size: 13px;
      color: #fff;
    }
  }
  .scroll-panel__comparison {
    margin-right: 30px;
    position: relative;
    cursor: pointer;

    .scroll-panel__comparison-hint {
      position: absolute;
      left: 8px;
      top: -6px;
      width: 20px;
      height: 20px;
      background: #00f0ff;
      font-size: 10px;
      color: #303030;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      line-height: 25px;
    }

    .scroll-panel__comparison-label {
      position: absolute;
      text-align: center;
      padding: 5px;
      font-size: 11px;
      color: #37322f;
      line-height: 1.2;
      z-index: 3;
      top: 30px;
      left: 50%;
      width: 80px;
      margin-left: -40px;
      display: none;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);

    }

    &:hover {

      .scroll-panel__comparison-label {
        display: block;
      }
    }
  }
  .scroll-panel__favorites {
    margin-right: 30px;
    position: relative;
    cursor: pointer;

    .scroll-panel__favorites-hint {
      position: absolute;
      left: 8px;
      top: -6px;
      width: 20px;
      height: 20px;
      background: #00f0ff;
      font-size: 10px;
      color: #303030;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      line-height: 25px;
    }

    .scroll-panel__favorites-label {
      position: absolute;
      text-align: center;
      padding: 5px;
      font-size: 11px;
      color: #37322f;
      line-height: 1.2;
      z-index: 3;
      top: 30px;
      left: 50%;
      width: 80px;
      margin-left: -40px;
      display: none;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
    }

    &:hover {

      .scroll-panel__favorites-label {
        display: block;
      }
    }
  }
  .scroll-panel__basket {
    position: relative;
    cursor: pointer;

    .scroll-panel__basket-hint {
      position: absolute;
      left: 8px;
      top: -6px;
      width: 20px;
      height: 20px;
      background: #00f0ff;
      font-size: 10px;
      color: #303030;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      line-height: 25px;
    }

    .scroll-panel__basket-label {
      position: absolute;
      text-align: center;
      padding: 5px;
      font-size: 11px;
      color: #37322f;
      line-height: 1.2;
      z-index: 3;
      top: 30px;
      left: 50%;
      width: 80px;
      margin-left: -40px;
      display: none;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
    }

    &:hover {

      .scroll-panel__basket-label {
        display: block;
      }
    }
  }

  .scroll-panel__btn {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    max-width: 120px;
    text-align: center;
    margin-right: 25px;

    @media screen and (max-width: 992px) {
      display: none;
    }

    &:last-child {
      margin-right: 0px;
    }

    @media screen and (max-width: 1240px) {
      margin-right: 5px;
    }
    @media screen and (max-width: 992px) {
      max-width: 100%;
      width: auto;
    }
    
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px dashed #fff;

      &:hover {
        color: $black;
        border-bottom: 1px dashed $black;
      }
    }
  }
}