.main-slider-wrap {
  overflow: hidden;
  max-height: 468px;
  
  .container {
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0px;
    }
  }
}
.main-slider {
  position: relative;
  margin-bottom: 40px;

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }

  .main-slider__item {

    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  .slick-dots {
    position: absolute;
    list-style: none;
    left: 30px;
    bottom: 30px;

    @media screen and (max-width: 510px) {
      left: 50%;
      transform: translate(-50%,0);
      bottom: -15px;
    }

    li {
      display: inline-block;
      margin-right: 7px;

      button {
        width: 12px;
        height: 12px;
        background: transparent;
        border: 2px solid #d2d2d2;
        border-radius: 50%;
        font-size: 0px;
        line-height: 0px;
        transition: all .4s;
        cursor: pointer;

        &:hover {
          border-color: $accent;
        }
      }

      &.slick-active {

        button {
          border-color: $accent;
          background: #fff;
        }
      }
    }
  }
}

.home-manufacturers {
  background: #e7e7e7 url(../img/manufacturers__bg.jpg) repeat-x center;
  background-size: contain;
  padding: 40px 0px;

  .home-manufacturers__title {
    font-size: 20px;
    font-weight: normal;
    color: #1b130e;
    margin-bottom: 30px;
    margin-top: 0px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 20px;
      font-weight: normal;
      margin: 0px;
    }
  }
}

.manufacturers-slider {
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 0px 30px;
  }

  .slick-slide {
    padding: 0px 5px;
  }

  .slick-arrow {
    position: absolute;
    left: -25px;
    top: 50%;
    width: 16px;
    height: 21px;
    font-size: 0px;
    line-height: 0px;
    border: none;
    background: url(../img/slider-arrow.svg) no-repeat center;
    background-size: contain;
    content: "";
    cursor: pointer;
    transform: translate(0,-50%);

    @media screen and (max-width: 768px) {
      left: 0;
    }

    &.slick-prev {
      transform: translate(0,-50%) rotate(-180deg);
    }
    &.slick-next {
      left: auto;
      right: -25px;

      @media screen and (max-width: 768px) {
        right: 0;
      }
    }
    &.slick-disabled {
      opacity: .3;
    }

    &:hover {
      background: url(../img/slider-arrow__hover.svg) no-repeat center;
      background-size: contain;
    }
  }

  .manufacturers-slider__item {
    max-width: 180px;
    height: 90px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: block !important;
    margin: 0 auto;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      content: "";
      width: 100%;
      height: 100%;
      filter: grayscale(100%); 
      transition: all .4s;

      &:hover {
        filter: grayscale(0); 
      }
    }

    img {
      width: auto;
      max-width: 155px;
      height: auto;
      max-height: 80px;

      @media screen and (max-width: 1240px) {
        max-width: 130px;
      }
    }
  }
}

.home-product-sections {
  padding: 30px 0px 45px 0px;

  .home-product-sections__title {
    font-size: 22px;
    font-weight: 700;
    color: #1b130e;
    margin-bottom: 30px;
    margin-top: 0px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 22px;
      font-weight: 700;
      margin: 0px;
    }
  }

  .home-product-sections__list {
    display: flex;
    flex-wrap: wrap;

    .home-product-sections__item {
      display: flex;
      width: calc(100%/6);
      height: 200px;
      align-items: center;
      flex-direction: column;
      border-left: 1px dashed #cbcbcb;
      border-top: 1px dashed #cbcbcb;
      position: relative;

      @media screen and (max-width: 1240px) {
        width: calc(100%/5);
      }

      @media screen and (max-width: 992px) {
        width: calc(100%/3);
      }

      @media screen and (max-width: 560px) {
        width: calc(100%/2);
      }

      &:nth-child(6n+6) {
        border-right: 1px dashed #cbcbcb;

        @media screen and (max-width: 1240px) {
          border-right: 0px;
        }
      }
      &:nth-last-child(-n+6) {
        border-bottom: 1px dashed #cbcbcb;

        @media screen and (max-width: 992px) {
          border-bottom: none;
        }
      }

      &:nth-child(5n+5) {

        @media screen and (max-width: 1240px) {
          border-right: 1px dashed #cbcbcb;
        }
        @media screen and (max-width: 992px) {
          border-right: 0px;
        }
      }
      &:nth-child(3n+3) {

        @media screen and (max-width: 992px) {
          border-right: 1px dashed #cbcbcb;
        }
        @media screen and (max-width: 560px) {
          border-right: 0px;
        }
      }
      &:nth-child(2n+2) {
        @media screen and (max-width: 560px) {
          border-right: 1px dashed #cbcbcb;
        }
      }
      &:nth-last-child(-n+5) {

        @media screen and (max-width: 1240px) {
          border-bottom: 1px dashed #cbcbcb;
        }
        @media screen and (max-width: 992px) {
          border-bottom: 0px;
        }
      }
      &:nth-last-child(-n+3) {

        @media screen and (max-width: 992px) {
          border-bottom: 1px dashed #cbcbcb;
        }
      }

      &:last-child {
        border-right: 1px dashed #cbcbcb;

        @media screen and (max-width: 560px) {
          border-top: 0px;
          width: calc(100%/2 + 1px);
        }
      }

      .home-product-sections__item-link {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
      }

      .home-product-sections__item-icon {
        height: 115px;
        text-align: center;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0px;

        img {
          width: 160px;
          max-width: 90%;
          height: auto;
          max-height: 100%;

          &.icon-product-sections__1 {
            max-width: 81px;
            max-height: 48px;
          }
          &.icon-product-sections__2 {
            max-width: 35px;
            max-height: 72px;
          }
          &.icon-product-sections__3 {
            max-width: 104px;
            max-height: 61px;
          }
          &.icon-product-sections__4 {
            max-width: 50px;
            max-height: 81px;
          }
          &.icon-product-sections__5 {
            max-width: 160px;
            max-height: 60px;

            @media screen and (max-width: 420px) {
              max-width: 120px;
            }
          }
          &.icon-product-sections__6 {
            max-width: 37px;
            max-height: 113px;
          }
          &.icon-product-sections__7 {
            max-width: 39px;
            max-height: 80px;
          }
          &.icon-product-sections__8 {
            max-width: 134px;
            max-height: 43px;

            @media screen and (max-width: 420px) {
              max-width: 120px;
            }
          }
          &.icon-product-sections__9 {
            max-width: 101px;
            max-height: 77px;
          }
          &.icon-product-sections__10 {
            max-width: 36px;
            max-height: 82px;
          }
          &.icon-product-sections__11 {
            max-width: 61px;
            max-height: 82px;
          }
          &.icon-product-sections__12 {
            max-width: 45px;
            max-height: 88px;
          }
          &.icon-product-sections__13 {
            max-width: 112px;
            max-height: 58px;
          }
          &.icon-product-sections__14 {
            max-width: 88px;
            max-height: 73px;
          }
          &.icon-product-sections__15 {
            max-width: 102px;
            max-height: 73px;
          }
        }
      }
      .home-product-sections__item-title {
        font-size: 15px;
        font-weight: 700;
        margin: 0px;
        text-align: center;
        width: 100%;
        padding: 10px;
        line-height: 16px;

        @media screen and (max-width: 1240px) {
          font-size: 13px;
        }
        @media screen and (max-width: 420px) {
          font-size: 10px;
          padding: 10px 5px;
          line-height: 14px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 15px;
          font-weight: 700;
          margin: 0px;

          @media screen and (max-width: 1240px) {
            font-size: 13px;
          }
          @media screen and (max-width: 420px) {
            font-size: 10px;
          }
        }
      }

      &:hover {

        .home-product-sections__item-title {
          color: $accent;
        }
      }

      &.no-item {

        @media screen and (max-width: 1240px) {
          display: none;
        }
      }
    }
  }
}

.home-advantages {
  margin-bottom: 40px;

  .home-advantages__list {
    background: #008ad2 url(../img/advantages__bg.jpg) repeat-x center;
    background-size: contain;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      padding: 30px 15px 5px 15px;
      justify-content: center;
    }
  }
  .home-advantages__item {
    height: 150px;
    display: flex;
    align-items: center;
    width: calc(100%/3 - 26px);
    margin-right: 40px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dotted;
    border-radius: 4px;
    background-color: rgb(0, 148, 221);
    box-shadow: 0px 2px 4px 0px rgba(0, 89, 125, 1);
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    font-weight: 400;

  
    &:last-child {
      margin-right: 0px;

      @media screen and (max-width: 992px) {
        margin-right: 15px;
      }
    }

    @media screen and (max-width: 1240px) {
      font-size: 14px;
      line-height: 22px;
      padding: 15px 10px;
      height: auto;
      min-height: 100px;
    }
    @media screen and (max-width: 992px) {
      width: calc(100%/2 - 30px);
      margin-right: 0px;
      margin: 0px 15px 25px 15px;
    }
    @media screen and (max-width: 510px) {
      width: 100%;
    }
  }
}

.home-goods {

  .home-goods__title {
    font-size: 22px;
    color: #1b130e;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .home-goods__nav {
    border-bottom: 2px solid #efeeee;

    .container {
      display: flex;
    }

    .home-goods__nav__item {
      font-size: 16px;
      margin-right: 50px;
      position: relative;
      padding-bottom: 10px;

      &:before {
        width: 100%;
        height: 3px;
        content: "";
        background: $accent;
        position: absolute;
        left: 0;
        bottom: -2.5px;
        opacity: 0;
      }

      a {
        color: #1b130e;
        text-decoration: none;
        display: block;

        &:hover {
          color: $accent;
        }
      }

      &.active {
        
        &::before {
          opacity: 1;
        }
        
        a {
          color: #0092d9;
          font-weight: 700;
        }
      }
    }
  }
}

.home-goods {

  .home-goods__tabs {
    border-bottom: 2px solid #efeeee;
  }

  .home-goods__tab {
    display: none;

    &.active {
      display: block;
    }
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 440px) {
    justify-content: center;
  }
  
  .catalog-item {
    width: calc(100%/5);
    border-top: 0px solid #efeeee;
    border-right: 0px solid #efeeee;

    &:nth-child(5n+5) {
      border-right: 2px solid #efeeee;

      @media screen and (max-width: 1240px) {
        border-right: 0px;
      }
      @media screen and (max-width: 440px) {
        border-right: 2px solid #efeeee;
      }
    }

    &:nth-child(4n+4) {

      @media screen and (max-width: 1240px) {
        border-right: 2px solid #efeeee;
      }
      @media screen and (max-width: 992px) {
        border-right: none;
      }
    }
    &:nth-child(3n+3) {

      @media screen and (max-width: 992px) {
        border-right: 2px solid #efeeee;
      }
      @media screen and (max-width: 710px) {
        border-right: 0px;
      }
      @media screen and (max-width: 440px) {
        border-right: 2px solid #efeeee;
      }
    }
    &:nth-child(2n+2) {

      @media screen and (max-width: 710px) {
        border-right: 2px solid #efeeee;
      }
    }

    &:nth-last-child(-n+5) {
      border-bottom: 0px;

      @media screen and (max-width: 1240px) {
        border-bottom: 2px solid #efeeee;
      }
      @media screen and (max-width: 710px) {
        border-bottom: 0px;
      }
    }

    &:nth-last-child(-n+2) {

      @media screen and (max-width: 1240px) {
        border-bottom: 0px;
      }
    }
    &:nth-last-child(-n+7) {

      @media screen and (max-width: 992px) {
        border-bottom: 0px;
      }
      @media screen and (max-width: 710px) {
        border-bottom: 2px solid #efeeee;
      }
    }
    &:nth-last-child(-n+6) {

      @media screen and (max-width: 710px) {
        border-bottom: none;
      }
      @media screen and (max-width: 440px) {
        border-bottom: 2px solid #efeeee;
      }
    }

    @media screen and (max-width: 1240px) {
      width: calc(100%/4);

      &:last-child {
        border-right: 2px solid #efeeee;
        width: calc(100%/4 + 2px);
      }
    }

    @media screen and (max-width: 992px) {
      width: calc(100%/3);

      &:last-child {
        border-right: 2px solid #efeeee;
        width: calc(100%/3);
      }

      &:nth-child(n+7) {
        display: none;
      }
    }

    @media screen and (max-width: 710px) {
      width: calc(100%/2);
      max-width: 100%;
    }
    @media screen and (max-width: 440px) {
      width: 100%;
      max-width: 250px;
      border-right: 2px solid #efeeee;
    }
      
  }

  &.catalog-list__page {

    .catalog-item {
      width: calc(100%/4);

      @media screen and (max-width: 1240px) {
        width: calc(100%/3);
      }
      @media screen and (max-width: 992px) {
        &:nth-child(n+7) {
          display: block;
        }
      }
      @media screen and (max-width: 710px) {
        width: calc(100%/2);
        max-width: 100%;
      }
      @media screen and (max-width: 440px) {
        width: 100%;
        max-width: 250px;
        border-right: 2px solid #efeeee;
      }

      &:nth-child(5n+5) {
        border-right: 0px solid #efeeee;

        @media screen and (max-width: 1240px) {
          border-right: 0px;
        }
        @media screen and (max-width: 440px) {
          border-right: 2px solid #efeeee;
        }
      }

      &:nth-child(4n+4) {
        border-right: 2px solid #efeeee;

        @media screen and (max-width: 1240px) {
          border-right: 0px solid #efeeee;
        }
        @media screen and (max-width: 992px) {
          border-right: none;
        }
      }
      
      &:nth-child(3n+3) {

        @media screen and (max-width: 1240px) {
          border-right: 2px solid #efeeee;
        }
        @media screen and (max-width: 710px) {
          border-right: 0px solid #efeeee;
        }
        @media screen and (max-width: 440px) {
          border-right: 2px solid #efeeee;
        }
      }
      &:nth-child(2n+2) {

        @media screen and (max-width: 710px) {
          border-right: 2px solid #efeeee;
        }
      }
      

      &:nth-last-child(-n+5) {
        border-bottom:  2px solid #efeeee;

        @media screen and (max-width: 1240px) {
          border-bottom: 2px solid #efeeee;
        }
        @media screen and (max-width: 710px) {
          border-bottom: 0px;
        }
      }
      &:nth-child(-n+4) {
        border-top:  2px solid #efeeee;
      }

      &:nth-last-child(-n+2) {

        @media screen and (max-width: 1240px) {
          border-bottom: 2px solid #efeeee;
        }
      }
      &:nth-last-child(-n+7) {

        @media screen and (max-width: 992px) {
          border-bottom: 2px solid #efeeee;
        }
        @media screen and (max-width: 710px) {
          border-bottom: 2px solid #efeeee;
        }
      }
      &:nth-last-child(-n+6) {

        @media screen and (max-width: 710px) {
          border-bottom: 2px solid #efeeee;
        }
        @media screen and (max-width: 440px) {
          border-bottom: 2px solid #efeeee;
        }
      }

    }
  }
}
.catalog-item {
  padding: 25px 10px 35px 10px;
  border: 2px solid #efeeee;
  max-width: 250px;
  position: relative;
  transition: all .3s;

  &:hover {
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
  }

  .catalog-item__img {
    height: 175px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    a {
      display: block;
    }
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  .catalog-item__title {
    font-size: 14px;
    color: #000;
    line-height: 14px;
    min-height: 61px;
    margin-bottom: 10px;

    a {
      color: #000;
      text-decoration: none;
      display: inline-block;

      &:hover {
        color: $accent;
      }
    }
  }

  .catalog-item__options {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  .catalog-item__price {
    font-weight: 700;
    font-size: 16px;
    min-height: 28px;
    margin-bottom: 5px;

    .old-price {
      font-size: 14px;
      color: #1b130e;
      text-decoration: line-through;
      display: inline-block;
      font-weight: 400;
      margin-right: 10px;
    }

    .price-info {
      width: 20px;
      height: 20px;
      background: #b1b1b1;
      content: "";
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
      position: relative;
      margin-left: 5px;

      .price-info__text {
        position: absolute;
        width: 105px;
        padding: 10px;
        background: #fff;
        z-index: 5;
        color: #000;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        left: 50%;
        top: calc(-100% - 47px);
        transform: translate(-50%,0);
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(210, 210, 210);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
        display: none;
        opacity: 0;

        &:after {
          width: 20px;
          height: 20px;
          position: absolute;
          content: "";
          background: #fff;
          bottom: -7px;
          left: 50%;
          transform: translate(-50%,0) rotate(-45deg);
          
        }

        span {
          position: relative;
          z-index: 10;
        }
      }

      &:after {
        width: 20px;
        height: 20px;
        position: absolute;
        content: "";
        background: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
        top: -32px;
        left: 50%;
        transform: translate(-50%,0) rotate(-45deg);
        display: none;
      }

      &:hover {

        .price-info__text {
          top: calc(-100% - 47px);
          opacity: 1;
          visibility: visible;
          display: block;
        }

        &:after {
          display: block;
        }
        
      }
    }
  }

  .catalog-item__span {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 10px;
    min-height: 23px;
    display: flex;
    align-items: flex-end;
  }

  .catalog-item__btn {
    margin-bottom: 15px;

    .btn-blue {
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .catalog-item__bot {
    display: flex;
    justify-content: space-between;
  }

  .catalog-item__status {
    font-size: 12px;
    color: #000;
    padding-left: 20px;
    position: relative;
    line-height: 14px;

    &:before {
      width: 12px;
      height: 9px;
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      background: url(../img/in-stock.svg) no-repeat center;
      background-size: contain;
    }

    &.status-underOrder {

      &:before {
        width: 9px;
        background: url(../img/under-order.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  .catalog-item__dop {
    display: flex;

    .catalog-item__favorites {
      margin-right: 25px;
    }
  }

  .catalog-item__favorites {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: relative;

    .catalog-item__favorites-text {
      position: absolute;
      left: 50%;
      top: 100%;
      background: #fff;
      font-size: 12px;
      line-height: 14px;
      transform: translate(-50%,0);
      width: 90px;
      color: $black;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
      text-align: center;
      padding: 5px 10px;
      display: none;
      z-index: 3;
    }

    &:hover {

      .catalog-item__favorites-text {
        display: block;
      }
    }
  }
  .catalog-item__comparison {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: relative;

    .catalog-item__comparison-text {
      position: absolute;
      left: 50%;
      top: 100%;
      background: #fff;
      font-size: 12px;
      line-height: 14px;
      transform: translate(-50%,0);
      width: 90px;
      color: $black;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
      text-align: center;
      padding: 5px 10px;
      display: none;
      z-index: 3;
    }

    &:hover {

      .catalog-item__comparison-text {
        display: block;
      }
    }
  }

  .catalog-item__delivery {
    min-height: 25px;
    position: relative;
    padding-left: 45px;
    font-size: 12px;
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;

    &:before {
      width: 36px;
      height: 19px;
      position: absolute;
      left: 0;
      top: 3px;
      content: "";
      background: url(../img/delivery.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.home-customers {
  padding-top: 35px;
  padding-bottom: 20px;

  .home-customers__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .home-customers__title {
    font-size: 20px;
    font-weight: 400;
    color: #1b130e;
    margin: 0px;
  }
  .home-customers__link {
    font-size: 14px;
    color: $accent;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  .home-customers__list {
    display: flex;
    flex-wrap: wrap;
  }

  .home-customers__item {
    padding: 20px 20px 5px 20px;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16);
    width: calc(100%/4 - 15px);
    margin-right: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 1240px) {
      padding: 10px 10px 5px 10px;
    }
    @media screen and (max-width: 710px) {
      width: calc(100%/3 - 15px);
    }
    @media screen and (max-width: 520px) {
      width: calc(100%/2 - 5px);
      margin-right: 10px;
    }

    &:nth-child(4n+4) {
      margin-right: 0px;

      @media screen and (max-width: 710px) {
        margin-right: 20px;
      }
      @media screen and (max-width: 520px) {
        margin-right: 10px;
      }
    }
    &:nth-child(3n+3) {

      @media screen and (max-width: 710px) {
        margin-right: 0px;
      }
      @media screen and (max-width: 520px) {
        margin-right: 10px;
      }
    }
    &:nth-child(2n+2) {

      @media screen and (max-width: 520px) {
        margin-right: 0px;
      }
    }

    .home-customers__item-img {
      height: 40px;
      margin-bottom: 10px;
      

      a {
        display: flex;
        align-items: center;
        line-height: 0px;
        height: 40px;
      }

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }

    .home-customers__item-title {
      font-size: 16px;
      color: #1b130e;
      font-weight: 600;
      margin: 0px;
      line-height: 1.4;

      @media screen and (max-width: 1240px) {
        font-size: 14px;
      }

      a {
        color: #1b130e;
        text-decoration: none;

        &:hover {
          color: $accent;
        }
      }
    }
    .home-customers__item-city {
      font-size: 14px;
      color: #747474;
      font-weight: 600;
      margin: 0px;
      line-height: 1.4;
      min-height: 40px;

      @media screen and (max-width: 1240px) {
        font-size: 11px;
      }
    }
  }
}

.home-about-company {
  background: url(../img/about-company__bg.jpg) left top;
  padding: 40px 0px;

  .home-about-company__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      display: block;
    }

    .home-about-company__col {
      width: calc(50% - 20px);

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }

  .home-about-company__title {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0px 0px 25px 0px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 20px;
      font-weight: normal;
      margin: 0px;
    }
  }

  .home-about-company__desc {
    @extend %clearfix;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;

    p {
      margin-bottom: 15px;
    }
  }
  .home-about-company__img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 1240px) {
      max-width: 200px;
      height: auto;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 420px) {
      float: none;
      margin-right: 0px;
    }
  }

  .home-certificates {
    margin-bottom: 40px;
  }
}

.home-certificates {

  .home-certificates__top {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 25px 0px;
    align-items: center;
  }

  .home-certificates__title {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 20px;
      font-weight: normal;
      margin: 0px;
    }
  }
  .home-certificates__link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .home-certificates__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      max-width: 500px;
    }
  }
  .home-certificates__item {
    margin-right: 40px;
    text-align: center;
    margin-bottom: 40px;
    max-width: 160px;
    height: 195px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 1240px) {
      margin-right: 20px;
      width: calc(100%/3 - 13.333px);
      height: auto;
      margin-bottom: 20px;
    }

    &:nth-child(3n+3) {
      margin-right: 0px;
    }
    &:nth-last-child(-n+3) {
      margin-bottom: 0px;
    }

    a {
      display: block;
      line-height: 0px;
      position: relative;

      &:before {
        width: 100%;
        height: 100%;
        background: rgba($accent, .3);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all .3s;
      }

      &:hover {

        &:before {
          opacity: 1;
        }
      }
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

}

.home-news {

  .home-news__top {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 25px 0px;
    align-items: center;
  }

  .home-news__title {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 20px;
      font-weight: normal;
      margin: 0px;
    }
  }
  .home-news__link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }

}