.sidebar-widget {
  margin-bottom: 30px;
}

.sidebar-menu {
  display: block;
  width: 100%;
  border: 1px solid #dcdcdc;
  list-style: none;

  .sidebar-menu__item {
    display: block;
    position: relative;
    margin-bottom: 0px;
    padding-left: 0px;

    &:before {
      width: calc(100% - 30px);
      height: 1px;
      left: 15px;
      bottom: 0;
      top: auto;
      margin-top: auto;
      content: "";
      position: absolute;
      border-bottom: 1px dashed #cbcbcb;
      background: none;
      border-radius: 0px;
    }

    &:last-child {

      &:before {
        display: none;
      }
    }
  }
  .sidebar-menu__link {
    display: block;
    line-height: 18px;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px;

    &:hover {
      background: $accent;
      color: #fff;
    }
  }
}

.sidebar-brands {

  .sidebar-brands__title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .sidebar-brands__list {
    padding-left: 5px;

    .sidebar-brands__item {
      padding-left: 0px;
      margin-bottom: 10px;

      @media screen and (max-width: 992px) {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 15px;
      }

      &:before {
        display: none;
      }
    }
    .sidebar-brands__link {
      font-size: 14px;
      color: $accent;
      text-decoration: underline;
    }
  }
}

.sidebar-news {

  .sidebar-news__title {
    font-size: 20px;
    line-height: 22px;
    color: #1b130e;
    margin-bottom: 15px;
  }

  .sidebar-news__list {

  }
  .sidebar-news__item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;

    .sidebar-news__item-date {
      font-size: 14px;
      color: #9d9c9c;
      margin-bottom: 10px;
    }
    .sidebar-news__item-title {
      font-size: 14px;
      line-height: 20px;
      color: #383330;
      margin-bottom: 10px;
      font-weight: 700;

      a {
        text-decoration: none;
        color: #383330;

        &:hover {
          color: $accent;
        }
      }
    }

    .sidebar-news__item-desc {
      font-size: 14px;
      color: #383330;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .sidebar-news__item-link {
      display: inline-block;
      font-size: 14px;
    }

    &:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: 0px;
    }
  }
}

.sidebar-cat-brands {

  .sidebar-cat-brands__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .sidebar-cat-brands__list {
    padding-left: 15px;
    margin-bottom: 15px;
  }
  .sidebar-cat-brands__item {
    padding-left: 0px;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 5px;
    margin-bottom: 5px;

    &:last-child {
      border: none;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    &:before {
      display: none;
    }
  }
  .sidebar-cat-brands__link {
    display: block;
    position: relative;
    padding-right: 50px;
    font-size: 13px;
    line-height: 17px;
    text-decoration: none;
    color: #1b130e;

    span {
      position: absolute;
      right: 0;
      top: 3px;
      background: $accent;
      color: #fff;
      font-size: 12px;
      line-height: 17px;
      padding: 0px 5px;
    }

    &:hover {
      color: $accent;
    }
  }
}

.sidebar-filter {
  border-bottom: 1px solid #dcdcdc;
  max-width: 290px;

  .sidebar-filter__head {
    font-size: 13px;
    color: #1b130e;
    font-weight: 700;
    line-height: 16px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    
    .sidebar-filter__icon {
      width: 23px;
      height: 23px;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      border: 1px solid $accent;
      border-radius: 50%;

      &:before {
        width: 12px;
        height: 2px;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        background: $accent;
        border-radius: 3px;
        transform: translate(-50%,-50%);
        transition: all .1s;
      }
      &:after {
        width: 12px;
        height: 2px;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        background: $accent;
        border-radius: 3px;
        transform: translate(-50%,-50%) rotate(-90deg);
        transition: all .1s;
      }
    }

  }

  .sidebar-filter__content {
    padding-left: 8px;
    padding-bottom: 10px;
    display: none;

    .form-checkbox {
      display: block;
      margin-bottom: 10px;
    }
  }

  &.active {

    .sidebar-filter__head {

      .sidebar-filter__icon {

        &:before {
          transform: translate(-50%,-50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
    }

    .sidebar-filter__content {
      display: block;
    }
  }

  .sidebar-filter__info {
    width: 20px;
    height: 20px;
    background: #b1b1b1;
    content: "";
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;

    .sidebar-filter__info-text {
      width: 200px;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(210, 210, 210);
      background-color: rgb(236, 235, 235);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
      position: absolute;
      left: calc(100% + 13px);
      top: 50%;
      font-size: 12px;
      color: #000000;
      line-height: 14px;
      padding: 13px 10px;
      font-weight: 400;
      text-align: left;
      z-index: 50;
      transform: translate(0,-50%);
      display: none;

      span {
        position: relative;
        z-index: 4;
      }

      &:after {
        width: 20px;
        height: 20px;
        position: absolute;
        content: "";
        background-color: rgb(236, 235, 235);
        left: -7px;
        top: 50%;
        transform: translate(0,-50%) rotate(-45deg);
        
      }

    }

    &:after {
      width: 20px;
      height: 20px;
      position: absolute;
      content: "";
      background-color: rgb(210, 210, 210);
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
      left: calc(100% + 6px);
      top: 50%;
      transform: translate(0,-50%) rotate(-45deg);
      display: none;
    }

    &:hover {

      &:after {
        display: block;
      }
      .sidebar-filter__info-text {
        display: block;
      }
    }
  }
}

.filter-interval {
  margin-bottom: 15px;

  .range-controls {
    display: flex;
    font-size: 13px;
    margin-bottom: 15px;

    .range-controls__l {
      display: flex;
      margin-right: 5px;
      align-items: center;

      span {
        margin-right: 5px;
        display: inline-block;
      }

      .slider_opt_txtbox1 {
        width: 80px;
        height: 30px;
        border: 1px solid #cacaca;
        border-radius: 4px;
        padding: 0px 10px;
        color: #1b130e;
        font-size: 13px;
        font-family: 'Open Sans';
      }
    }
    .range-controls__r {
      display: flex;
      align-items: center;

      span {
        margin-right: 5px;
      }

      .slider_opt_txtbox2 {
        width: 80px;
        height: 30px;
        border: 1px solid #cacaca;
        border-radius: 4px;
        padding: 0px 10px;
        color: #1b130e;
        font-size: 13px;
        font-family: 'Open Sans';
      }
    }
  }

  .slider-range_input {
    height: 2px;

    &.ui-widget.ui-widget-content {
      border-color: #cacaca;
    }

    .ui-state-default, .ui-widget-content .ui-state-default {
      width: 10px;
      height: 10px;
      background: $accent;
      border: none;
      border-radius: 0px;
      cursor: pointer;

      &.ui-state-hover {
        background: #10c7ee;
      }
    }
  }
}

.sidebar-banner {

  a {
    display: block;
    line-height: 0px;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

.sidebar-filter-block {

  @media screen and (max-width: 992px) {
    position: fixed;
    left: -300px;
    top: 0;
    width: 270px;
    height: 100vh;
    background: #fff;
    z-index: 100;
    padding: 35px 15px 15px 15px;
    overflow-y: auto;
    visibility: hidden;
    transition: all .4s;

    &.active {
      left: 0;
      visibility: visible;
    }
  }
  
  .pannel-close {
    width: 20px;
    height: 20px;
    background: url(../img/close.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    opacity: .3;

    @media screen and (max-width: 992px) {
      display: block;
    }
  }
}

.mobile-filter-link {
  display: none;
  border: 2px solid $accent;
  position: relative;
  height: 30px;
  line-height: 26px;
  padding: 0px 15px 0px 40px;
  border-radius: 3px;
  margin-bottom: 15px;

  &:before {
    width: 15px;
    height: 15px;
    background: url(../img/filter.svg) no-repeat center;
    background-size: contain;
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0,-50%);
    opacity: .3;
  }

  a {
    color: #383330;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    opacity: .5;
  }

  @media screen and (max-width: 992px) {
    display: block;
  }
}