.icon-human {
  width: 18px;
  height: 24px;
  content: "";
  display: inline-block;
  background: url(../img/human.svg) no-repeat center;
}
.icon-comparison {
  width: 17px;
  height: 21px;
  content: "";
  display: inline-block;
  background: url(../img/comparison.svg) no-repeat center;
}
.icon-favorites {
  width: 16px;
  height: 19px;
  content: "";
  display: inline-block;
  background: url(../img/favorites.svg) no-repeat center;
}
.icon-comparison_blue {
  width: 17px;
  height: 22px;
  content: "";
  display: inline-block;
  background: url(../img/comparison__blue.svg) no-repeat center;
}
.icon-remove__blue {
  width: 19px;
  height: 21px;
  content: "";
  display: inline-block;
  background: url(../img/remove__blue.svg) no-repeat center;
}
.icon-remove {
  width: 26px;
  height: 30px;
  content: "";
  display: inline-block;
  background: url(../img/remove.svg) no-repeat center;
}
.icon-favorites_blue {
  width: 17px;
  height: 21px;
  content: "";
  display: inline-block;
  background: url(../img/favorites__blue.svg) no-repeat center;
}
.icon-basket {
  width: 21px;
  height: 18px;
  content: "";
  display: inline-block;
  background: url(../img/basket.svg) no-repeat center;
}
.icon-phone {
  width: 16px;
  height: 27px;
  content: "";
  display: inline-block;
  background: url(../img/phone.svg) no-repeat center;
}
.icon-email {
  width: 24px;
  height: 19px;
  content: "";
  display: inline-block;
  background: url(../img/email.svg) no-repeat center;
}
.icon-card {
  width: 59px;
  height: 36px;
  content: "";
  display: inline-block;
  background: url(../img/icon-card.svg) no-repeat center;
}
.icon-cash {
  width: 49px;
  height: 55px;
  content: "";
  display: inline-block;
  background: url(../img/icon-cash.svg) no-repeat center;
}
.icon-sber {
  width: 43px;
  height: 43px;
  content: "";
  display: inline-block;
  background: url(../img/icon-sber.png) no-repeat center;
}
.icon-transfer {
  width: 43px;
  height: 64px;
  content: "";
  display: inline-block;
  background: url(../img/icon-transfer.svg) no-repeat center;
}
.icon-certificate_blue {
  width: 30px;
  height: 38px;
  content: "";
  display: inline-block;
  background: url(../img/pdf__blue.svg) no-repeat center;
}
.icon-print_blue {
  width: 26px;
  height: 28px;
  content: "";
  display: inline-block;
  background: url(../img/print_blue.svg) no-repeat center;
}

.goods-received {
  display: inline-block;
  color: #14cb6c;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  padding-left: 25px;

  &:before {
    width: 12px;
    height: 9px;
    content: "";
    background: url(../img/goods-received.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 3px;
  }
}
.goods-shipped {
  display: inline-block;
  color: #1396db;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  padding-left: 25px;

  &:before {
    width: 15px;
    height: 13px;
    content: "";
    background: url(../img/goods-shipped.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.goods-processed {
  display: inline-block;
  color: #1b130e;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  padding-left: 25px;

  &:before {
    width: 13px;
    height: 14px;
    content: "";
    background: url(../img/goods-processed.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.goods-rejected {
  display: inline-block;
  color: #fa7d89;
  font-size: 12px;
  line-height: 14px;
  position: relative;

  span {
    padding-left: 25px;
    display: block;
    margin-bottom: 10px;
    color: #fb2644;
    font-weight: 600;
  }

  &:before {
    width: 2px;
    height: 14px;
    content: "";
    background: url(../img/wrong.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 12px;
    top: 0;
  }
}
.goods-canceled {
  display: inline-block;
  color: #a1a0a0;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  padding-left: 20px;

  &:before {
    width: 10px;
    height: 10px;
    content: "";
    background: url(../img/close.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 2px;
    opacity: .3;
  }
}

.burger {
  display: inline-block;
  width: 28px;
  height: 20px;
  position: relative;

  &:before {
    width: 100%;
    height: 3px;
    content: "";
    background: #008fd7;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
  }
  span {
    width: 100%;
    height: 3px;
    content: "";
    background: #008fd7;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 5px;
  }
  &:after {
    width: 100%;
    height: 3px;
    content: "";
    background: #008fd7;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 5px;
  }
}

.btn {
  padding: 0px 20px;
  line-height: 31px;
  height: 35px;
  border: 2px solid #008fd8;
  color: $black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  transition: all .4s;
  text-align: center;

  &:hover {
    color: #008fd8;

    &:focus {
      color: #fff;
    }
  }

  &:focus {
    color: $black;
  }
}

.btn-blue {
  padding: 0px 20px;
  line-height: 31px;
  height: 35px;
  border: 2px solid #008fd8;
  background: #008fd8;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  transition: all .4s;
  text-align: center;

  &:hover {
    border: 2px solid #00f0ff;
    background: #00f0ff;
    color: $black;

    &:focus {
      color: $black;
    }
  }

  &:focus {
    color: #fff;
  }
}

.btn-aut {
  padding: 0px 20px;
  line-height: 31px;
  height: 35px;
  border: 2px solid #bebebe;
  background: transparent;
  color: #b1b1b1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  transition: all .4s;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;

  &:hover {
    background: transparent;
    border: 2px solid $accent;
    color: $accent;

    &:focus {
      color: $black;
    }
  }

  &:focus {
    color: #b1b1b1;
  }
}
.btn-gray {
  padding: 0px 15px;
  line-height: 31px;
  height: 35px;
  border: 2px solid #bebebe;
  background: transparent;
  color: #b1b1b1;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  transition: all .4s;
  text-align: center;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: transparent;
    border: 2px solid $accent;
    color: $accent;

    &:focus {
      color: $black;
    }
  }

  &:focus {
    color: #b1b1b1;
  }
}

.btn-no {
  padding: 0px 20px;
  line-height: 31px;
  height: 35px;
  border: 2px solid #9a9c9a;
  background: #9a9c9a;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  transition: all .4s;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  position: relative;

  .btn-no__text {
    position: absolute;
    width: 150px;
    padding: 10px;
    background: #fff;
    z-index: 5;
    color: #000;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    left: 50%;
    top: calc(-100% - 67px);
    transform: translate(-50%,0);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
    white-space: normal;
    text-transform: none;
    display: none;

    &:after {
      width: 20px;
      height: 20px;
      position: absolute;
      content: "";
      background: #fff;
      bottom: -7px;
      left: 50%;
      transform: translate(-50%,0) rotate(-45deg);
      z-index: 2;
    }
    

    span {
      position: relative;
      z-index: 10;
    }
  }

  &:before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: "";
    background: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
    top: -32px;
    left: 50%;
    transform: translate(-50%,0) rotate(-45deg);
    display: none;
  }

  &:hover {
    color: #fff;
    background: #0092d9;
    border: 2px solid #0092d9;

    &:before {
      display: block;
    }
    .btn-no__text {
      display: block;
    }
  }

  &:focus {
    color: #fff;
  }
}

.form-input {
  margin-bottom: 15px;

  .form-input__label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #1b130e;
    font-weight: 600;
    position: relative;

    span {
      color: #ff0101;
    }
  }

  .form-input__input {
    width: 100%;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 0px 10px;
    font-size: 14px;
    font-family: 'Open Sans';

    @include input-placeholder {
      color: #939393;
    }

    &:focus {
      border: 1px solid #625c58;
    }
  }
  .form-input__textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Open Sans';
    resize: none;

    &:focus {
      border: 1px solid #625c58;
    }

    @include input-placeholder {
      color: #939393;
    }
  }

  &.input_right {

    .form-input__input,
    .form-input__textarea {
      border: 1px solid #36c484;
    }
    .form-input__label {

      &:before {
        width: 12px;
        height: 9px;
        background: url(../img/right.svg) no-repeat center;
        background-size: contain;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
      }
    }
  }
  &.input_wrong {
    .form-input__input,
    .form-input__textarea {
      border: 1px solid #ff0000;
    }
    .form-input__label {

      &:before {
        width: auto;
        height: 14px;
        background: url(../img/wrong.svg) no-repeat right center;
        background-size: 2px 14px;
        content: "Ошибка";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 12px;
        margin-top: 2px;
        color: #ff0101;
        padding-right: 10px;
        font-weight: 400;
      }
    }
  }
}

.form-password {
  margin-bottom: 15px;
  position: relative;

  .form-password__label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #1b130e;
    font-weight: 600;

    span {
      color: #ff0101;
    }
  }

  .form-password__input {
    width: 100%;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 0px 110px 0px 10px;
    font-size: 14px;
    font-family: 'Open Sans';

    @include input-placeholder {
      color: #939393;
    }

    &:focus {
      border: 1px solid #625c58;
    }
  }

  .password-recovery__link {
    position: absolute;
    top: 36px;
    right: 10px;
  }

  .form-password__info {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 4px;
    right: 0px;
  }

  &.input_right {

    .form-password__input,
    .form-password__textarea {
      border: 1px solid #36c484;
    }
    .form-password__label {

      &:before {
        width: 12px;
        height: 9px;
        background: url(../img/right.svg) no-repeat center;
        background-size: contain;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
      }
    }
  }
  &.input_wrong {
    .form-password__input,
    .form-password__textarea {
      border: 1px solid #ff0000;
    }
    .form-password__label {

      &:before {
        width: auto;
        height: 14px;
        background: url(../img/wrong.svg) no-repeat right center;
        background-size: 2px 14px;
        content: "Ошибка";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 12px;
        margin-top: 2px;
        color: #ff0101;
        padding-right: 10px;
        font-weight: 400;
      }
    }
  }
}

.password-recovery__link {
  color: $accent;
  font-size: 14px;
}

.form-file {
  position: relative;
  max-width: 180px;
  margin-top: 25px;

  .form-file__label {
    color: $accent;
    padding-left: 25px;
    position: relative;
    display: block;
    text-decoration: underline;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;

    &:before {
      width: 14px;
      height: 29px;
      background: url(../img/file.svg) no-repeat center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 2px;
      content: "";
    }
  }

  .form-file__input {
    display: none;
  }
}

.form-checkbox {
  display: inline-block;

  .form-checkbox__input {
    display: none;

    &:checked {

      & + .form-checkbox__label {

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .form-checkbox__label {
    color: #000000;
    font-size: 12px;
    line-height: 17px;
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    &:before {
      width: 15px;
      height: 15px;
      content: "";
      border: 1px solid $black;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 2px;
    }
    &:after {
      width: 15px;
      height: 15px;
      content: "";
      background: url(../img/check.png) no-repeat center;
      background-size: auto;
      position: absolute;
      left: 1px;
      top: 0;
      opacity: 0;
      transition: all .3s;
    }

    span {
      color: #ff0101;
    }
  }
}

.form-radio {
  display: inline-block;

  .form-radio__input {
    display: none;

    &:checked {

      & + .form-radio__label {

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .form-radio__label {
    color: #000000;
    font-size: 12px;
    line-height: 17px;
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    &:before {
      width: 15px;
      height: 15px;
      content: "";
      border: 1px solid $black;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 2px;
      border-radius: 50%;
    }
    &:after {
      width: 5px;
      height: 5px;
      content: "";
      background: $black;
      background-size: auto;
      position: absolute;
      left: 6px;
      top: 6px;
      opacity: 0;
      transition: all .3s;
      border-radius: 50%;
    }

    span {
      color: #ff0101;
    }
  }
}

.popup-form {
  width: 100%;
  max-width: 600px;
  padding: 35px 30px 30px 30px;
  background: #fff;
  margin:  0 auto;

  @media screen and (max-width: 490px) {
    padding: 35px 15px 20px 15px;
  }

  &.form-loginRegistration {
    max-width: 540px;
  }

  .popup-form__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
  }

  .popup-form__desc {
    font-size: 14px;
    color: #1b130e;
    line-height: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  .popup-form__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 490px) {
      display: block;
    }

    .popup-form__col {
      width: calc(50% - 10px);

      @media screen and (max-width: 490px) {
        width: 100%;
      }
    }
  }
  .popup-form__rowTwo {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      display: block;
    }

    .popup-form__col {
      width: calc(50% + 10px);

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      &:last-child {
        width: calc(50% - 20px);

        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  .popup-form__bottom {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 490px) {
      display: block;
    }

    .popup-form__col {
      width: calc(50% + 10px);

      @media screen and (max-width: 490px) {
        width: 100%;
      }

      &:last-child {
        width: calc(50% - 20px);

        @media screen and (max-width: 490px) {
          width: 100%;
        }
      }
    }
  }
}

.privacy-policy {

  .privacy-policy__input {
    display: none;

    &:checked {

      & + .privacy-policy__label {

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .privacy-policy__label {
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    &:before {
      width: 15px;
      height: 15px;
      content: "";
      border: 1px solid $black;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 2px;
    }
    &:after {
      width: 15px;
      height: 15px;
      content: "";
      background: url(../img/check.png) no-repeat center;
      background-size: auto;
      position: absolute;
      left: 1px;
      top: 0;
      opacity: 0;
      transition: all .3s;
    }

    span {
      color: #ff0101;
    }
  }
}

.popup-form__info {
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  padding-left: 35px;

  span {
    color: #ff0101;
  }

  @media screen and (max-width: 490px) {
    padding-left: 0px;
    margin-top: 15px;
  }
}

.g-recaptcha {
  transform: scale(.8);
  position: relative;
  left: -22px;
  margin-top: 2px;

}

.form-submit {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;

  &.form-submit__min {
    width: auto;
    min-width: 160px;
    display: block;
    margin: 35px auto 0 auto;
  }
}

.fancybox-close-small {
  background: url(../img/close.svg) no-repeat center;
  background-size: 16px 16px;

  svg {
    display: none;
  }

  &:hover {
    background: url(../img/close__blue.svg) no-repeat center;
    background-size: 16px 16px;
  }
}

.login-registration {

  .login-registration__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .login-registration__nav-item {

      span {
        font-size: 20px;
        color: #1b130e;
        cursor: pointer;
        display: block;
        line-height: 35px;
      }

      &:first-child {
        padding-right: 15px;
        border-right: 2px solid #ededed;

        span {
          padding-right: 20px;
        }
      }

      &:last-child {
        padding-left: 15px;

        span {
          padding-left: 20px;
        }
      }

      &.active {

        span {
          font-weight: 700;
          font-size: 22px;
        }
      }
    }
  }
}

.recapcha-v2 {
  
}
.privacy-policy__v2 {
  text-align: center;
  font-size: 10px;
  color: #999999;
  line-height: 12px;
  padding-top: 20px;
}

.align-center {
  text-align: center;    
}
.width-100 {
  width: 100%;
}


.bread-crumbs {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
  word-wrap: break-word;

  .bread-crumbs__link {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 5px;

    &:before {
      width: 10px;
      height: 4px;
      background: url(../img/menu-sub__blue.svg) no-repeat center;
      background-size: contain;
      content: "";
      position: absolute;
      right: -5px;
      top: 7px;
      transform: rotate(-90deg);
    }
  }

  .bread-crumbs__current {
    display: inline;
  }

  .bread-crumbs__nav {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    color: #008fd8;
    display: inline-block;
    
    .bread-crumbs__link {
      border-bottom: 1px dashed $accent;
      padding-right: 0px;
      margin-right: 30px;

      &:before {
        width: 15px;
        height: 14px;
        transform: rotate(0deg);
        background: #00f0ff url(../img/menu-sub.svg) no-repeat center;
        background-size: 7px 5px; 
        top: 2px;
        right: -20px;
      }
    }

    &:hover {

      .bread-crumbs__sub {
        display: block;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  .bread-crumbs__sub {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 360px;
    background: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
    z-index: 30;
    font-weight: 400;
    display: none;

    &:before {
      width: 100%;
      height: 5px;
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
    }
  }
  .bread-crumbs__menu {
    background: #f5f5f5;
    padding: 10px 0px 0px 15px;
    list-style: none;
    margin: 0px;

    .bread-crumbs__menu-item {
      padding-right: 15px;
      padding-left: 0px;
      position: relative;
      margin: 0px;

      &:before {
        width: calc(100% - 15px);
        left: 0px;
        bottom: 0;
        content: "";
        position: absolute;
        border-bottom: 1px dashed #cbcbcb;
        height: 1px;
        background: none;
        top: auto;
        margin-top: 0px;
        border-radius: 0px;
      }

      &:last-child {
        border: none;

        &:before {
          display: none;
        }
      }

    }
    .bread-crumbs__menu-link {
      color: #1b130e;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;
      padding: 7px 0px 7px 0px;
      line-height: 1.2;
      display: inline-block;
      transition: all .3s;

      &:before {
        display: none;
      }

      &:hover {
        color: $accent;
      }

      span {
        color: #a4a4a4;
      }
    }
  }
}

.page-title {
  margin: 0px 0px 15px 0px;
  font-size: 33px;
  color: #1b130e;
  font-weight: 700;
  line-height: 36px;

  @media screen and (max-width: 460px) {
    font-size: 22px;
    line-height: 1.4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 33px;
    margin: 0px;

    @media screen and (max-width: 460px) {
      font-size: 22px;
      line-height: 1.4;
    }
  }
}
.page-wrap .page-title {
  margin: 0px 0px 15px 0px;
  font-size: 33px;
  color: #1b130e;
  font-weight: 700;
  line-height: 36px;

  @media screen and (max-width: 460px) {
    font-size: 22px;
    line-height: 1.4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    @media screen and (max-width: 460px) {
      font-size: 22px;
      line-height: 1.4;
    }
  }
}



.selectric {
  border: 1px solid #cfcfcf;
  background: none;
  border-radius: 4px; 
  transition: all .3s;

  .label {
    font-size: 13px;
    color: #1b130e;
  }

  .button {
    background: none;

    &:after {
      border: 5px solid transparent;
      border-top-color: #50b5e7;
      top: 3px;
    }
  }

  &:hover {
    border-color: $accent;

    .button {

      &:after {
        border-top-color: #50b5e7;
      }
    }
  }
}
.selectric-items {
  background: #fff;
  border-top: none;
  border-color: #cfcfcf;

  ul {
    margin-bottom: 0px;

    li {
      padding-left: 0px;
      font-size: 13px;
      line-height: 16px;
      font-family: 'Open Sans';
      padding-left: 10px;

      &:before {
        display: none;
      }

      &.selected {
        background: #cfcfcf;
        color: #fff;
      }
      &:hover {
        background: #cfcfcf;
        color: #fff;
      }
    }
  }
}

.page-wrap {

  .selectric-items {

    ul {
      margin-bottom: 0px;

      li {
        padding-left: 0px;
        font-size: 13px;
        line-height: 16px;
        font-family: 'Open Sans';
        padding-left: 10px;

        &:before {
          display: none;
        }
      }
    }
  }
}

.selectric-disabled {

  .selectric {

    .button {

      &:after {
        border-top-color: #afafaf;
      }
    }
  }
}

.block-form-gray {
  background: #f5f5f5;
  padding: 30px 0px 60px 0px;

  .block-form-gray__title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
  }

  .block-form-gray__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      display: block;
    }

    .block-form-gray__col {
      width: calc(50% - 17.5px);

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .form-input {
        margin-bottom: 35px;

        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }


        .form-input__textarea {
          height: 142px;
        }
      }
    }
  }

  .block-form-gray__bottom {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    .block-form-gray__bottom-left {
      width: 220px;

      @media screen and (max-width: 768px) {
        order: 2;
        width: 100%;

        .form-submit {
          max-width: 200px;
        }
      }
    }
    .block-form-gray__bottom-right {
      width: calc(100% - 305px);

      @media screen and (max-width: 768px) {
        width: 100%;
        order: 1;
        margin-bottom: 20px;
      }
    }
  }

  .form-submit {
    margin-top: 0px;
  }

  .block-form-gray__info {
    font-size: 12px;
    line-height: 14px;
    padding-top: 15px;

    span {
      color: #ff0101;
    }
  }
}

.quantity {
  width: 100px;
  display: flex;

  .quantity__btn {
    width: 33.333%;
    height: 30px;
    font-size: 21px;
    background: #d2d1d1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #807f7e;
    font-weight: 700;
    line-height: 30px;

    &.quantity__btn-minus {
      background: #d2d1d1 url(../img/minus.png) no-repeat center;
    }
    &.quantity__btn-plus {
      background: #d2d1d1 url(../img/plus.png) no-repeat center;
    }
  }
  .quantity__input {
    width: 33.333%;
    height: 30px;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.17);
    padding: 0px 3px;
    text-align: center;
    color: #4b4745;
  }
}

.item-sale {
  width: 70px;
  height: 70px;
  font-size: 14px;
  color: #425758;
  font-weight: 700;
  background: #00f0ff;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
  overflow: hidden;

  span {
    font-size: 18px;
  }
}

.add-column {
  display: inline-block;
  text-decoration: none;
  color: #1b130e;
  font-size: 14px;
  border: 2px solid $accent;
  padding: 0px 25px 0px 50px;
  position: relative;
  height: 35px;
  line-height: 30px;

  &:before {
    width: 15px;
    height: 14px;
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
    background: url(../img/column.svg) no-repeat center;
    background-size: contain;
  }
}
.icon-view_list {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/view_list.svg) no-repeat center;
  background-size: contain;
  content: "";
  line-height: 0px;

  &:hover {
    background: url(../img/view_list__blue.svg) no-repeat center;
    background-size: contain;
  }
}
.icon-view_card {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/view_card.svg) no-repeat center;
  background-size: contain;
  content: "";
  line-height: 0px;

  &:hover {
    background: url(../img/view_card__blue.svg) no-repeat center;
    background-size: contain;
  }
}

.menu-overlay {
  background: rgba(#000, .4);
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100vh;
  z-index: 30;
  display: none;

  &.show {
    display: block;
  }
}

.btn-excel {
  padding-left: 40px;
  display: inline-block;
  text-decoration: none;
  min-height: 30px;
  line-height: 30px;
  position: relative;
  font-size: 11px;
  color: #1b130e;

  &:hover {
    color: $accent;
  }

  &:before {
    width: 31px;
    height: 30px;
    background: url(../img/excel.svg) no-repeat center;
    background-size: contain;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
}
.btn-print {
  padding-left: 35px;
  display: inline-block;
  text-decoration: none;
  min-height: 30px;
  line-height: 30px;
  position: relative;
  font-size: 11px;
  color: #1b130e;

  &:hover {
    color: $accent;
  }

  &:before {
    width: 26px;
    height: 28px;
    background: url(../img/print_blue.svg) no-repeat center;
    background-size: contain;
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
  }
}

button.dt-button {
  display: inline-block;
  text-decoration: none;
  min-height: 30px;
  line-height: 30px;
  position: relative;
  font-size: 11px;
  color: #1b130e;
  background: none;
  border: 0px;
  margin: 0px;
  padding: 0px 0px 0px 35px;
  border-radius: 0px;

  &:hover {
    color: $accent;
    background: none;
    border: 0px;
    background-color: none;
    background-image: none;
  }
  &:hover:not(.disabled) {
    color: $accent;
    background: none;
    border: 0px;
    background-color: none;
    background-image: none;
  }
  &:focus:not(.disabled) {
    border: none;
    text-shadow: none;
    outline: none;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
  }
  &:active:not(.disabled) {
    border: none;
    text-shadow: none;
    outline: none;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
  }
  &:active:not(.disabled):hover:not(.disabled) {
    border: none;
    text-shadow: none;
    outline: none;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
  }

  &:before {
    width: 26px;
    height: 28px;
    background: url(../img/print_blue.svg) no-repeat center;
    background-size: contain;
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
  }
  
}