
// === Colors 
$black: #1b130e;
$white: #fff;
$accent: #0092d9;

// === Link color
$linkcolor: #0092d9;
$linkcolorhov: #10c7ee;

// === Grid Container
$container: 1210px;

// === Сетка
// @import "grid.scss";