// @media print {

//   .head-top {

//   }
//   .main-head {

//   }
//   .bread-crumbs,
//   .page-title,
//   .comparison-panel,
//   .main-footer {
//     display: none;
//   }
// }
// @page {
// margin: 0in;
// }

.print-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .print-header__logo {

    img {
      width: auto;
      max-width: 100%;
      max-height: 50px;
    }
  }
  .print-header__contact {
    display: flex;
  }
  .print-header__phone {
    height: 50px;
    background: #f5f5f5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 45px;
    flex-direction: column;
    line-height: 1.4;
    width: 195px;
    margin-right: 15px;

    img {
      width: 16px;
      height: 27px;
      content: "";
      display: inline-block;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%);
    }

    .head-phone__item {
      text-decoration: none;
      color: #1b130e;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0px;
      display: block;
    }
  }

  .print-header__email {
    height: 50px;
    background: #f5f5f5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 40px;
    flex-direction: column;
    line-height: 1.4;
    width: 185px;

    img {
      width: 24px;
      height: 19px;
      content: "";
      display: inline-block;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%);
    }

    .head-email__item {
      text-decoration: none;
      color: #1b130e;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0px;
      display: block;
    }
  }
}